Repository tidev/titanium-sdk, pull requests merged in 2018-10, with the labels that each got.

#10343 [DOC] Minor change to contacts
  apidoc/Titanium/Contacts/Contacts.yml
Labels: docs 📔, needs jira 🚨, no tests

#10344 added style property & code sample
  apidoc/Titanium/UI/iOS/FeedbackGenerator.yml
Labels: docs 📔, needs jira 🚨

#10347 [TIMOB-26411] API: Support async variants of Ti.IOStream methods
  android/modules/network/src/java/ti/modules/titanium/network/socket/TCPProxy.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiStream.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiStreamHelper.java
  android/titanium/src/java/ti/modules/titanium/stream/BlobStreamProxy.java
  android/titanium/src/java/ti/modules/titanium/stream/BufferStreamProxy.java
  android/titanium/src/java/ti/modules/titanium/stream/FileStreamProxy.java
  android/titanium/src/java/ti/modules/titanium/stream/StreamModule.java
  apidoc/Titanium/IOStream.yml
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiStreamProxy.m
  tests/Resources/ti.network.tcp.socket.addontest.js
  tests/Resources/ti.ui.webview.addontest.js
Labels: android, deprecation, docs 📔, feature 🚀, ios

#10285 [TIMOB-26334] iOS: Fix some Ti.Media.AudioPlayer related bugs
  iphone/Classes/TiMediaAudioPlayerProxy.m
  iphone/cli/commands/_build.js
  tests/Resources/ti.media.audioplayer.addontest.js
Labels: android, bug 🐜, ios

#10341 [DOC] Minor update to Picker
  apidoc/Titanium/UI/Picker.yml
Labels: docs 📔, needs jira 🚨, no tests

#10211 [TIMOB-26104] Android: Picker inside Tableview resets value
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUINativePicker.java
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️

#10304 [TIMOB-13642] Android: Fixed bug where "relative" image paths won't load
  android/titanium/src/java/org/appcelerator/titanium/io/TiFileFactory.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiUrl.java
  tests/Resources/ti.ui.imageview.addontest.js
Labels: android, bug 🐜

#10360 [TIMOB-26425] Always use thread-safe access to timers array
  iphone/Classes/KrollContext.h
  iphone/Classes/KrollContext.m
Labels: bug 🐜, ios, no tests

#10362 [TIMOB-26425](7_4_X) Always use thread-safe access to timers array
  iphone/Classes/KrollContext.h
  iphone/Classes/KrollContext.m
Labels: bug 🐜, ios, no tests

#10363 Docs: Validate undefined summary
  apidoc/lib/typescript_generator.js
Labels: bug 🐜, docs 📔, needs jira 🚨, no tests

#10364 [TIMOB-26403] Update node-titanium-sdk, pass logger to analyzeJs
  android/cli/commands/_build.js
  iphone/cli/commands/_build.js
  package-lock.json
  package.json
Labels: bug 🐜, cli 📟, no tests

#10367 [TIMOB-26391](7_4_X): Revert PR (#10327)
  iphone/Classes/KrollTimer.m
Labels: ios, no tests

#10368 [TIMOB-26391]: Revert changes of PR (#10326)
  iphone/Classes/KrollTimer.m
Labels: ios, no tests

#10365 [TIMOB-26433] iOS: Fix xcode cleanup
  iphone/cli/commands/_build.js
Labels: bug 🐜, ios, no tests

#10359 [TIMOB-26424] Android: Implement missing Ti.App events
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
Labels: android, bug 🐜, no tests

#10370 [TIMOB-26391](7_4_X) Improve proxy protection logic
  iphone/Classes/KrollBridge.m
  iphone/Classes/KrollObject.h
  iphone/Classes/KrollObject.m
  iphone/Classes/TiBindingTiValue.m
Labels: bug 🐜, ios, no tests

#10372 [TIMOB-25927] iOS: Use correct header- and framework-search-paths
  cli/lib/creators/module.js
  iphone/templates/module/objc/template/ios/titanium.xcconfig.ejs
  iphone/templates/module/swift/template/ios/titanium.xcconfig.ejs
  iphone/templates/module/swift/template/ios/{{ModuleName}}.xcodeproj/project.pbxproj.ejs
Labels: bug 🐜, community 🔥, ios, no tests

#10373 [TIMOB-26436] : iOS VideoPlayer time in seconds
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.addontest.js
Labels: bug 🐜, ios

#10369 [TIMOB-26435] Update gradle for JDK 11 support
  android/cli/commands/_build.js
  android/templates/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: android, in-qe-testing 🕵️‍♂️

#9937 [TIMOB-25756] Android: Restart application upon locale change
  android/modules/app/src/java/ti/modules/titanium/app/AppModule.java
  android/modules/locale/src/java/ti/modules/titanium/locale/LocaleModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Locale/Locale.yml
Labels: android, docs 📔, improvement, no tests

#9426 [TIMOB-25048] Android: Implement Ti.UI.ShortcutItem for dynamic application shortcuts
  android/modules/ui/src/java/ti/modules/titanium/ui/ShortcutItemProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
  apidoc/Titanium/App/App.yml
  apidoc/Titanium/UI/ShortcutItem.yml
Labels: android, docs 📔, feature 🚀, no tests

#9536 [TIMOB-24765] Android: Implement Ti.UI.ShortcutItem pinning
  android/modules/ui/src/java/ti/modules/titanium/ui/ShortcutItemProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  apidoc/Titanium/App/Android/Android.yml
  apidoc/Titanium/UI/ShortcutItem.yml
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, no tests

#9893 [TIMOB-25533] Android: Fix pending HTTP request status
  android/modules/network/src/java/ti/modules/titanium/network/HTTPClientProxy.java
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  iphone/Classes/APSHTTPClient/APSHTTPClient.h
  iphone/Classes/APSHTTPClient/APSHTTPHelper.h
  iphone/Classes/APSHTTPClient/APSHTTPPostForm.h
  iphone/Classes/APSHTTPClient/APSHTTPRequest.h
  iphone/Classes/APSHTTPClient/APSHTTPResponse.h
  iphone/Classes/APSHTTPClient/libAPSHTTPClient.a
  iphone/Classes/TiNetworkHTTPClientProxy.m
  tests/Resources/ti.network.httpclient.addontest.js
Labels: android, bug 🐜, ios

#10391 [TIMOB-26477] Android: Fix Ti.Locale.setLanguage()
  android/modules/locale/src/java/ti/modules/titanium/locale/LocaleModule.java
Labels: android, bug 🐜, no tests

#10394 try to fix Danger.js
  Jenkinsfile
  package-lock.json
  package.json
Labels: needs jira 🚨, work in progress ⚒

#10395 [TIMOB-26481] Android: Target API Level 28 (Android P) by default
  android/package.json
Labels: android, improvement, no tests

#9459 [TIMOB-25277] Android: Implement onLink callback for Ti.UI.WebView
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebChromeClient.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebViewClient.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/WebView.yml
Labels: android, docs 📔, improvement, no tests

#10392 [TIMOB-26479] : TiUtils.m missing check for iPhone XR and iPhone XS Max images
  iphone/Classes/TiUtils.m
Labels: ios, no tests

#10038 [TIMOB-26032] iOS/Android: Fix Ti.Contacts parity, deprecate old API's properly
  android/modules/contacts/src/java/ti/modules/titanium/contacts/ContactsModule.java
  apidoc/Titanium/Contacts/Contacts.yml
  iphone/Classes/ContactsModule.h
  iphone/Classes/ContactsModule.m
  iphone/Classes/TiContactsPerson.h
  iphone/Classes/TiContactsPerson.m
Labels: android, docs 📔, ios, no tests

#10398 [TIMOB-26196] : Added more macros to make method available
  iphone/Classes/MediaModule.m
Labels: ios, no tests

#10400 [TIMOB-26484] Android: Added "sound" support to NotificationChannel
  android/modules/android/src/java/ti/modules/titanium/android/notificationmanager/NotificationChannelProxy.java
  android/modules/android/src/java/ti/modules/titanium/android/notificationmanager/NotificationProxy.java
  apidoc/Titanium/Android/Notification.yml
  apidoc/Titanium/Android/NotificationChannel.yml
Labels: android, docs 📔, feature 🚀, no tests

#10403 [TIMOB-26491] Android: Update ti.cloudpush to 3.2.0
  support/module/packaged/modules.json
Labels: android

#10406 [TIMOB-26496] Android: Include missing exception message
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
Labels: android, bug 🐜, no tests

#10408 [TIMOB-26497] Android: Fix annotation validation
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/KrollBindingGenerator.java
  android/templates/module/default/template/android/src/{{ModuleIdAsFolder}}/{{ModuleNameCamel}}Module.java.ejs
Labels: android, bug 🐜, no tests

#10407 Try building with V8 7.0.276.32
  android/package.json
Labels: android, needs jira 🚨

#10339 [TIMOB-26410] Integrate liveview into the SDK
  cli/hooks/liveview.js
  package-lock.json
  package.json
Labels: cli 📟, feature 🚀

#10411 [7_5_X][TIMOB-26500] Revert module zip path for studio compatibility
  iphone/cli/commands/_buildModule.js
Labels: bug 🐜, ios
