Repository tidev/titanium-sdk, pull requests merged in 2018-06, with the labels that each got.

#10058 [TIMOB-26003] Android: Provide API to support opt-out of Analytics at runtime
  android/cli/commands/_build.js
  android/dev/TitaniumTest/AndroidManifest.xml
  android/dev/TitaniumTest/src/com/titanium/test/TitaniumTestApplication.java
  android/modules/analytics/src/java/ti/modules/titanium/analytics/AnalyticsModule.java
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
Labels: android, in-qe-testing 🕵️‍♂️, no tests

#10086 [TIMOB-26084] (7_2_X) Removed project directory from analytics events.
  android/cli/commands/_build.js
  android/cli/commands/_buildModule.js
  cli/lib/creators/app.js
  cli/lib/creators/module.js
  iphone/cli/commands/_build.js
  iphone/cli/commands/_buildModule.js
Labels: in-qe-testing 🕵️‍♂️

#9945 [TIMOB-25864] Android: Set default notification channel
  android/modules/android/src/java/ti/modules/titanium/android/notificationmanager/NotificationManagerModule.java
  android/modules/android/src/java/ti/modules/titanium/android/notificationmanager/NotificationProxy.java
Labels: android, improvement, in-qe-testing 🕵️‍♂️, no tests

#10085 [TIMOB-26084] Removed project directory from analytics events.
  android/cli/commands/_build.js
  android/cli/commands/_buildModule.js
  cli/lib/creators/app.js
  cli/lib/creators/module.js
  iphone/cli/commands/_build.js
  iphone/cli/commands/_buildModule.js
Labels: in-qe-testing 🕵️‍♂️

#10087 Remove Xcode 8 statement since we support it in general
  iphone/Classes/TiErrorController.m
Labels: bug 🐜, ios, no tests

#10076 [TIMOB-16066] Android: Added "foreground" service support
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ServiceProxy.java
  apidoc/Titanium/Android/Service.yml
  tests/Resources/ti.android.service.addontest.js
  tests/Resources/ti.android.service.normal.js
Labels: android, docs 📔, feature 🚀

#10093 [TIMOB-23527] iOS: Fix method access for two methods, fix 7.2.0 -> 7.3.0, fix docs
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiApp.m
  iphone/Classes/TiAppiOSLocalNotificationProxy.m
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiFilesystemFileProxy.m
  iphone/Resources/app.js
Labels: bug 🐜, docs 📔, ios, no tests

#10095 [TIMOB-26108] CLI: Ti clean builds the project instead
  cli/commands/clean.js
Labels: bug 🐜, cli 📟

#10078 [TIMOB-26071] TiAPI: Add Ti.WebDialog to core-modules
  support/module/packaged/modules.json
Labels: android, feature 🚀, ios

#10080 [TIMOB-26077] iOS: Ti.UI.convertUnits returns incorrect values for 3x resolution devices
  apidoc/Titanium/UI/UI.yml
  iphone/Classes/UIModule.m
  tests/Resources/ti.ui.test.js
Labels: android, bug 🐜, docs 📔, ios, parity 👯‍♀️

#9909 [TIMOB-13379] Implement console.time/timeEnd
  android/runtime/common/src/js/.eslintrc
  android/runtime/common/src/js/console.js
  apidoc/Global/console/console.yml
  iphone/Classes/TiConsole.h
  iphone/Classes/TiConsole.m
  tests/Resources/ti.builtin.addontest.js
Labels: android, docs 📔, improvement, in-qe-testing 🕵️‍♂️, ios

#10089 iOS: Update ioslib to 1.7.1, adding Node 10- and Xcode 10 support
  package-lock.json
  package.json
Labels: improvement, in-qe-testing 🕵️‍♂️, ios, no tests

#10090 [TIMOB-26080] Fix ERR_INVALID_CALLBACK error on Android build and misc Node 10 fixes
  android/cli/commands/_buildModule.js
  android/cli/hooks/aar-transform.js
  android/package.json
  iphone/cli/commands/_build.js
  package-lock.json
  package.json
Labels: android, bug 🐜, ios, no tests

#10098 [TIMOB-26111] iOS: Fix all static analyzer warnings and possible leaks
  iphone/Classes/APIModule.m
  iphone/Classes/CalendarModule.m
  iphone/Classes/TiApp.m
  iphone/Classes/TiAppiOSProxy.m
Labels: bug 🐜, ios, no tests

#10099 Update npm dependencies
  Jenkinsfile
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/Kroll.java
  iphone/Classes/CalendarModule.m
  iphone/Classes/GDataXMLNode.m
  iphone/Classes/KrollObject.m
  iphone/Classes/MediaModule.m
  iphone/Classes/PlatformModule.m
  iphone/Classes/SCListener.m
  iphone/Classes/TiBlob.m
  iphone/Classes/TiHost.m
  iphone/Classes/TiMediaAudioSession.m
  iphone/Classes/TiNetworkTCPSocketProxy.m
  iphone/Classes/TiProxy.m
  iphone/Classes/TiUIAlertDialogProxy.m
  iphone/Classes/TiUICanvasView.m
  iphone/Classes/TiUISearchBar.m
  iphone/Classes/TiUITableViewProxy.m
  package-lock.json
  package.json
Labels: android, ios, no tests, work in progress ⚒

#10106 [TIMOB-26127] Android: Video Quality undefined
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  apidoc/Titanium/Media/Media.yml
  tests/Resources/ti.media.addontest.js
Labels: android, bug 🐜, docs 📔

#10107 [TIMOB-26117] Android: Include resources path for polyfill
  android/cli/commands/_build.js
  iphone/cli/commands/_build.js
Labels: android, ios, no tests

#10096 [7_3_X][TIMOB-25910] Android: Fix Ti.UI.TableView memory leak
  android/build/common.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/v8.iml
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10110 [TIMOB-26130] Android: Remove flag that breaks NDK compatibility
  android/runtime/v8/src/native/common.mk
Labels: android, bug 🐜

#10116 Jenkinsfile tweaks
  Jenkinsfile
  package-lock.json
  package.json
Labels: needs jira 🚨, work in progress ⚒

#10119 [7_3_X][TIMOB-26102] Update ti.cloudpush to 5.1.2
  support/module/packaged/modules.json
Labels: android

#10118 [TIMOB-26102] Update ti.cloudpush to 5.1.2
  support/module/packaged/modules.json
Labels: android

#10081 [TIMOB-25910] Android: Fix Ti.UI.TableView memory leak
  android/build/common.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/v8.iml
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10117 Clean up dependencies
  package-lock.json
  package.json
Labels: work in progress ⚒

#10122 Android: Remove common directory from SDK
  android/runtime/v8/tools/genBootstrap.py
  android/runtime/v8/tools/simplejson/LICENSE.txt
  android/runtime/v8/tools/simplejson/__init__.py
  android/runtime/v8/tools/simplejson/_speedups.c
  android/runtime/v8/tools/simplejson/decoder.py
  android/runtime/v8/tools/simplejson/encoder.py
  android/runtime/v8/tools/simplejson/scanner.py
  android/runtime/v8/tools/simplejson/tests/__init__.py
  android/runtime/v8/tools/simplejson/tests/test_check_circular.py
  android/runtime/v8/tools/simplejson/tests/test_decode.py
  android/runtime/v8/tools/simplejson/tests/test_default.py
  android/runtime/v8/tools/simplejson/tests/test_dump.py
  android/runtime/v8/tools/simplejson/tests/test_encode_basestring_ascii.py
  android/runtime/v8/tools/simplejson/tests/test_fail.py
  android/runtime/v8/tools/simplejson/tests/test_float.py
  android/runtime/v8/tools/simplejson/tests/test_indent.py
  android/runtime/v8/tools/simplejson/tests/test_pass1.py
  android/runtime/v8/tools/simplejson/tests/test_pass2.py
  android/runtime/v8/tools/simplejson/tests/test_pass3.py
  android/runtime/v8/tools/simplejson/tests/test_recursion.py
  android/runtime/v8/tools/simplejson/tests/test_scanstring.py
  android/runtime/v8/tools/simplejson/tests/test_separators.py
  android/runtime/v8/tools/simplejson/tests/test_unicode.py
  android/runtime/v8/tools/simplejson/tool.py
  support/common/README.md
Labels: android, improvement, needs jira 🚨

#10010 [TIMOB-25985] iOS/Android: Add "attributedString" API to Ti.UI.Button
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIButton.java
  apidoc/Titanium/UI/Button.yml
  iphone/Classes/TiUIButton.m
  tests/Resources/ti.ui.button.addontest.js
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, ios

#10006 [TIMOB-25971] : iOS minimumFontSize property in Ti.UI.label lowers text baseline as it decreases
  iphone/Classes/TiUILabel.m
  tests/Resources/ti.ui.label.addontest.js
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios

#9941 [TIMOB-25879] Package iOS module zip in "dist" directory (Parity)
  iphone/cli/commands/_buildModule.js
Labels: cli 📟, in-qe-testing 🕵️‍♂️, ios, no tests

#9947 [TIMOB-25866] : iOS TiUISearchBar getter is returning value from proxy not from searchbar view
  iphone/Classes/TiUISearchBarProxy.m
  tests/Resources/ti.ui.searchbar.addontest.js
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios

#10079 [TIMOB-26073] iOS: Implement support for custom TextField backgroundColor in SearchBar
  apidoc/Titanium/UI/SearchBar.yml
  iphone/Classes/TiUISearchBar.m
  tests/Resources/ti.ui.searchbar.addontest.js
Labels: community 🔥, docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, ios

#9957 [TIMOB-25901] iOS: Refactor background-service handlers
  iphone/Classes/TiApp.h
  iphone/Classes/TiApp.m
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/UtilsModule.m
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#10128 [TIMOB-26149] Android: Ti.Filesystem.File#getDirectoryListing() does not return null for file/non-existent directory
  android/titanium/src/java/org/appcelerator/titanium/TiFileProxy.java
  tests/Resources/ti.filesystem.file.addontest.js
Labels: android, bug 🐜, parity 👯‍♀️

#10100 [TIMOB-26121] iOS: Prioritize selected xcode when determining default simulator
  iphone/cli/commands/_build.js
Labels: bug 🐜, ios

#10127 [TIMOB-26131] Android: Do not copy geolocation libs
  build/android.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️

#10129 [TIMOB-26141] Android: Prevent lookup of invalid reference key
  android/runtime/v8/src/native/JavaObject.cpp
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10133 [TIDOC-3204] Document "removePendingNotifications" parameter
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
Labels: docs 📔

#10113 Update docs
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiCompass.java
  apidoc/Titanium/Android/Android.yml
  apidoc/Titanium/App/App.yml
  apidoc/Titanium/App/iOS/UserActivity.yml
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  apidoc/Titanium/App/iOS/iOS.yml
  apidoc/Titanium/Calendar/CalendarProxy.yml
  apidoc/Titanium/Calendar/Event.yml
  apidoc/Titanium/Contacts/Group.yml
  apidoc/Titanium/Contacts/Person.yml
  apidoc/Titanium/Geolocation/Geolocation.yml
  apidoc/Titanium/Media/Media.yml
  apidoc/Titanium/Media/MusicPlayer.yml
  apidoc/Titanium/Media/VideoPlayer.yml
  apidoc/Titanium/Network/HTTPClient.yml
  apidoc/Titanium/Network/Network.yml
  apidoc/Titanium/UI/AlertDialog.yml
  apidoc/Titanium/UI/Attribute.yml
  apidoc/Titanium/UI/Button.yml
  apidoc/Titanium/UI/ButtonBar.yml
  apidoc/Titanium/UI/EmailDialog.yml
  apidoc/Titanium/UI/Font.yml
  apidoc/Titanium/UI/ListView.yml
  apidoc/Titanium/UI/OptionDialog.yml
  apidoc/Titanium/UI/Picker.yml
  apidoc/Titanium/UI/Slider.yml
  apidoc/Titanium/UI/Switch.yml
  apidoc/Titanium/UI/Tab.yml
  apidoc/Titanium/UI/TabGroup.yml
  apidoc/Titanium/UI/TableView.yml
  apidoc/Titanium/UI/TextArea.yml
  apidoc/Titanium/UI/TextField.yml
  apidoc/Titanium/UI/Toolbar.yml
  apidoc/Titanium/UI/View.yml
  apidoc/Titanium/UI/Window.yml
  apidoc/Titanium/UI/iOS/AnchorAttachmentBehavior.yml
  apidoc/Titanium/UI/iOS/Animator.yml
  apidoc/Titanium/UI/iOS/Attribute.yml
  apidoc/Titanium/UI/iOS/CollisionBehavior.yml
  apidoc/Titanium/UI/iOS/DynamicItemBehavior.yml
  apidoc/Titanium/UI/iOS/GravityBehavior.yml
  apidoc/Titanium/UI/iOS/PushBehavior.yml
  apidoc/Titanium/UI/iOS/SnapBehavior.yml
  apidoc/Titanium/UI/iOS/StatusBar.yml
  apidoc/Titanium/UI/iOS/Toolbar.yml
  apidoc/Titanium/UI/iOS/ViewAttachmentBehavior.yml
  apidoc/Titanium/UI/iOS/iOS.yml
  apidoc/Titanium/UI/iPhone/StatusBar.yml
  apidoc/Titanium/UI/iPhone/iPhone.yml
  apidoc/images/button/ios6_invisible.png
  apidoc/images/button/ios7_good.png
  apidoc/images/button/rounded_rect_button_2x.png
  apidoc/images/button/system_button_2x.png
Labels: android, docs 📔, needs jira 🚨, no tests

#10135 [TIMOB-26160] iOS: Fix re-setting views in ScrollableView
  iphone/Classes/TiUIScrollableViewProxy.m
  tests/Resources/ti.ui.scrollableview.addontest.js
Labels: bug 🐜, ios

#9927 [TIMOB-25855] Android: TextArea lines and maxLines support
  android/modules/ui/src/java/ti/modules/titanium/ui/TextAreaProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
  apidoc/Titanium/UI/TextArea.yml
  tests/Resources/ti.ui.textarea.test.js
Labels: android, community 🔥, docs 📔, in-qe-testing 🕵️‍♂️

#10138 [7_3_X][TIMOB-26157] Android: Avoid Android 8.0 crash when applying fixed orientation to semi-transparent or modal window
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActivityProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/DecorViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
  tests/Resources/ti.ui.window.addontest.js
Labels: android, bug 🐜

#10136 [TIMOB-26163] Android: Improve Geolocation exception handling
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/FusedLocationProvider.java
Labels: android, improvement, no tests

#10139 [7_3_X][TIMOB-26163] Android: Improve Geolocation exception handling
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/FusedLocationProvider.java
Labels: android, improvement, no tests

#10043 [TIMOB-25871] : Add ability to hide back button on NavigationWindow
  apidoc/Titanium/UI/Window.yml
  iphone/Classes/TiUIWindowProxy.m
  iphone/Classes/TiWindowProxy.m
  tests/Resources/ti.ui.window.addontest.js
Labels: docs 📔, ios

#8757 [TIMOB-24317] Android: Focus area for view pinch event
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  apidoc/Titanium/UI/View.yml
Labels: android, community 🔥, docs 📔, feature 🚀, no tests

#8860 [MOD-2328] iOS: Return upload responses to Ti.App.iOS.sessioncompleted event
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiApp.h
  iphone/Classes/TiApp.m
Labels: community 🔥, docs 📔, improvement, ios, no tests

#10140 [TIMOB-26164] : iOS TableView + run-on-main-thread - insertRowAfter directly after updateRow causes error / race crash
  iphone/Classes/TiUITableViewProxy.m
  tests/Resources/ti.ui.tableview.addontest.js
Labels: ios

#10141 [7_3_X][TIMOB-26151] Ti.Platform.id not working on Android in 7.2.0.GA (works on 7.1.1.GA)
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, no tests

#10008 Android: Update APSAnalytics
  android/modules/analytics/src/java/ti/modules/titanium/analytics/AnalyticsModule.java
  android/modules/app/src/java/ti/modules/titanium/app/AppModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/modules/platform/src/java/ti/modules/titanium/platform/PlatformModule.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/analytics/TiAnalyticsEventFactory.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiPlatformHelper.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiUIHelper.java
Labels: android, needs jira 🚨, no tests, work in progress ⚒

#10131 [TIMOB-24776] iOS: ListView item template support CommonJS modules
  iphone/Classes/TiViewProxy.m
Labels: customer, feature 🚀, ios, no tests, parity 👯‍♀️

#10144 [TIDOC-3205] Rename Windows Phone to Windows
  apidoc/lib/common.js
Labels: docs 📔

#10143 Fix warnings in doc generation
  apidoc/Titanium/Android/Android.yml
  apidoc/Titanium/Media/MusicPlayer.yml
  apidoc/Titanium/Media/VideoPlayer.yml
  apidoc/Titanium/UI/Animation.yml
  apidoc/Titanium/UI/iPhone/StatusBar.yml
  apidoc/Titanium/UI/iPhone/iPhone.yml
Labels: docs 📔, needs jira 🚨

#10137 [TIMOB-26161] Android: Allow activity events on UI thread
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10054 [TIMOB-26047] iOS: Fix Fix launch-screen + forceSplashAsSnapshot combination, fix related unit-test
  iphone/Classes/AppModule.m
  iphone/Classes/TiApp.h
  iphone/Classes/TiApp.m
  tests/Resources/ti.app.test.js
Labels: in-qe-testing 🕵️‍♂️, ios

#9923 [TIMOB-16511] : Text in label gets truncated (...) when changing font Weight from normal to bold
  iphone/Classes/TiUILabel.m
Labels: in-qe-testing 🕵️‍♂️, ios, no tests
