Repository tidev/titanium-sdk, pull requests merged in 2018-11, with the labels that each got.

#10401 fix(ios): use native NSTimer to avoid thread deadlocks
  iphone/Classes/KrollContext.h
  iphone/Classes/KrollContext.m
  iphone/Classes/KrollTimer.h
  iphone/Classes/KrollTimer.m
  package-lock.json
Labels: bug 🐜, ios, no tests

#10415 fix(ios): allow third-party namespaces in item templates
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: bug 🐜, ios

#10413 [TIMOB-26506] Validate TiUIAbstractTab getWindowProxy()
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTab.java
Labels: android, bug 🐜, no tests

#10417 fix(ios): use native NSTimer to avoid thread deadlocks
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimer.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimer.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, ios

#10423 [TIMOB-26516] Android: Always set analytics meta
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, needs tests 🚨

#10424 [7_5_X][TIMOB-26516] Android: Always set analytics meta
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, needs tests 🚨

#10421 [TIMOB-26515](7_5_X) : Revert "Merge pull request #10068 from hansemannn/TIMOB-26060"
  apidoc/Titanium/Network/Cookie.yml
  apidoc/Titanium/UI/NavigationWindow.yml
  apidoc/Titanium/UI/View.yml
  apidoc/Titanium/UI/Window.yml
  apidoc/Titanium/UI/iOS/DocumentViewer.yml
  apidoc/Titanium/UI/iOS/NavigationWindow.yml
  apidoc/Titanium/UI/iOS/SplitWindow.yml
  apidoc/Titanium/UI/iOS/iOS.yml
  apidoc/Titanium/UI/iPad/Popover.yml
  apidoc/Titanium/UI/iPad/SplitWindow.yml
  iphone/Classes/TiUINavigationWindowInternal.h
  iphone/Classes/TiUINavigationWindowInternal.m
  iphone/Classes/TiUINavigationWindowProxy.h
  iphone/Classes/TiUIiOSNavWindow.h
  iphone/Classes/TiUIiOSNavWindow.m
  iphone/Classes/TiUIiOSNavWindowProxy.h
  iphone/Classes/TiUIiOSNavWindowProxy.m
  iphone/Classes/TiUIiOSNavigationWindowProxy.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/TiWindowProxy.m
  iphone/Classes/defines.h
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
Labels: docs 📔, ios, no tests

#10422 [TIMOB-26518] Android: Fix WebView code execution order
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebViewBinding.java
Labels: android, bug 🐜, no tests

#10418 [TIMOB-26513]: fix(ios) call remote notification delegate only if available
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: bug 🐜, ios

#10432 [7_5_X][TIMOB-26514] Android: Fixed 7.5.0.RC bug where custom theme applied to ActionBar/Toolbar title is lost when changing orientation
  android/titanium/src/java/org/appcelerator/titanium/view/TiActionBarStyleHandler.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiToolbarStyleHandler.java
Labels: android, bug 🐜, no tests

#10429 [TIMOB-26516] Android: Fix initializing of APSAnalytics.machineId
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, no tests

#10430 [7_5_X][TIMOB-26516] Android: Fix initializing of APSAnalytics.machineId
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, no tests

#10436 [TIMOB-26529] Android: Amend Ti.Platform properties
  android/modules/platform/src/java/ti/modules/titanium/platform/PlatformModule.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10437 [7_5_X][TIMOB-26529] Android: Amend Ti.Platform properties
  android/modules/platform/src/java/ti/modules/titanium/platform/PlatformModule.java
Labels: android, bug 🐜, no tests

#10434 [TIMOB-26502](7_5_X): iOS 11- App Crash when Try to Register Push Notification for second time
  iphone/Classes/TiAppiOSUserNotificationCategoryProxy.m
Labels: bug 🐜, ios, no tests

#10433 [TIMOB-26502]: iOS 11- App Crash when Try to Register Push Notification for second time
  iphone/Classes/TiAppiOSUserNotificationCategoryProxy.m
Labels: bug 🐜, ios, no tests

#10439 [TIMOB-26060] : Document updated for deprecation message
  apidoc/Titanium/UI/NavigationWindow.yml
  iphone/Classes/TiUIiOSNavigationWindowProxy.m
Labels: docs 📔, ios, no tests

#10444 (7_5_X) fix(ios): call remote notification delegate only if available
  iphone/Classes/TiApp.m
Labels: bug 🐜, ios, needs jira 🚨, needs tests 🚨

#10426 fix(ios): Fix iOS 8/9 compatibility of timers on main thread, register exception handler
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, ios, no tests

#10448 [7_5_X][TIMOB-26534] Android: Modified native HTTP handling to only cache "GET" responses
  android/titanium/src/java/org/appcelerator/titanium/util/TiResponseCache.java
Labels: android, bug 🐜, no tests

#10447 [TIMOB-26534] Android: Modified native HTTP handling to only cache "GET" responses
  android/titanium/src/java/org/appcelerator/titanium/util/TiResponseCache.java
Labels: android, bug 🐜, no tests

#10446 Fix for OptionDialog.yml
  apidoc/Titanium/UI/OptionDialog.yml
Labels: docs 📔

#10445 chore(ios): Add scons command to copy the unit test suite into the Xcode project for testing inside xcode
  build/scons-xcode-test.js
  build/scons.js
Labels: cli 📟, improvement, ios, needs jira 🚨, no tests

#10457 [TIMOB-26533] Ti.Media.Audio player without url set is crashing while registering for event listener
  iphone/Classes/TiMediaAudioPlayerProxy.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  tests/Resources/ti.media.audioplayer.addontest.js
Labels: ios

#10456 [TIMOB-26533](7_5_X) Ti.Media.Audio player without url set is crashing while registering for event listener
  iphone/Classes/TiMediaAudioPlayerProxy.m
  tests/Resources/ti.media.audioplayer.addontest.js
Labels: ios

#10459 fix(ios): Check for error existence before accessing property
  iphone/cli/commands/_build.js
Labels: bug 🐜, ios

#10460 [7_5_X] fix(android): Only remove x86 from valid abis if user does not specify abi tag
  android/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟

#10458 fix(android): Only remove x86 from valid abis if user does not specify abi tag
  android/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵️‍♂️

#10461 feat: Update to Babel 7
  package-lock.json
  package.json
Labels: cli 📟, improvement, no tests

#10466 chore: Update to node-titanium-sdk@0.6.5
  package-lock.json
  package.json
Labels: cli 📟, improvement, no tests

#10464 [TIMOB-26556] TiAPI: Modified SDK's core JS files to not use deprecated property get/set methods
  common/Resources/ti.internal/bootstrap.loader.js
Labels: android, improvement, ios, no tests, windows

#10470 fix(ios): trigger event when receiving local notification in foreground (7_5_X)
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiApp.m
  iphone/Classes/TiAppiOSProxy.m
Labels: bug 🐜, docs 📔, ios, no tests

#10468 fix(ios): trigger event when receiving local notification in foreground
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiAppiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: bug 🐜, docs 📔, ios, no tests

#10475 fix(ios): typo in JSValue type
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, ios, needs jira 🚨, no tests

#10477 fix(ios): typo in JSValue type (7_4_X)
  iphone/Classes/KrollContext.h
  iphone/Classes/KrollContext.m
Labels: bug 🐜, ios, needs jira 🚨, no tests

#10476 fix(ios): typo in JSValue type (7_5_X)
  iphone/Classes/KrollContext.h
  iphone/Classes/KrollContext.m
Labels: bug 🐜, ios, needs jira 🚨, no tests

#10449 [TIMOB-26535] Android: Fix analytics session events
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplicationLifecycle.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10443 [TIMOB-26370] Android: "Failed to create external storage directory" when download image and save to camera roll
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  apidoc/Titanium/Media/Media.yml
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵️‍♂️, no tests

#10190 [TIMOB-25955] Support crash analytics refactor
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollMethod.m
Labels: android, improvement, ios, no tests

#10465 [TIMOB-25008] : iOS Remove deprecated Ti.UI.KEYBOARD_* constants in favor of TI.UI.KEYBOARD_TYPE_*
  apidoc/Titanium/UI/UI.yml
  iphone/Classes/UIModule.m
Labels: BREAKING CHANGES ⚠️, docs 📔, in-qe-testing 🕵️‍♂️, ios, no tests

#10442 [TIMOB-26488] Android: Fix Ti.Filesystem.requestStoragePermissions for Android 8 and above
  android/modules/filesystem/src/java/ti/modules/titanium/filesystem/FilesystemModule.java
  apidoc/Titanium/Filesystem/Filesystem.yml
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵️‍♂️, no tests

#10451 fix(android): TIMOB-26541 setTimeout and setInterval do not support calls without interval specified
  android/titanium/src/java/ti/modules/titanium/TitaniumModule.java
  tests/Resources/timers.test.js
Labels: android, bug 🐜, parity 👯‍♀️

#10489 fix(cli): Fix module project creation
  cli/lib/creator.js
  cli/lib/creators/module.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵️‍♂️

#10493 WIP on trying to auto-assign reviewers to PRs
  .eslintrc
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  dangerfile.js
Labels: android, needs jira 🚨, needs tests 🚨, work in progress ⚒

#10480 [TIMOB-24851] Android: Deprecated Ti.UI.Label "wordWrap" property
  android/modules/ui/src/java/ti/modules/titanium/ui/LabelProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUILabel.java
  apidoc/Titanium/UI/Label.yml
  tests/Resources/ti.ui.label.addontest.js
Labels: BREAKING CHANGES ⚠️, android, docs 📔, improvement, in-qe-testing 🕵, no tests, parity 👯‍♀️

#10479 [TIMOB-26580] Android: Fix ListView template support for native modules
  android/modules/ui/src/js/listview.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10498 [TIMOB-26355] Android: Update APSAnalytics
  android/titanium/lib/aps-analytics.jar
Labels: android, bug 🐜, no tests

#10486 [TIMOB-26586] iOS: Fixed animation bugs with auto-reverse ease-in/ease-out and 180 degree rotation
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiAnimation.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10497 Updated README.md
  README.md
Labels: needs jira 🚨

#10450 [TIMOB-26539] Android: Fixed Ti.UI.Label default font size to be "dp" unless "font" property is set
  android/titanium/src/java/org/appcelerator/titanium/util/TiUIHelper.java
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, in-qe-testing 🕵, no tests, parity 👯‍♀️

#10402 [TIMOB-26453] Android: default value of borderWidth of view is not respected, if borderRadius is set (but no borderColor)
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, no tests, parity 👯‍♀️

#10472 [TIMOB-26563] Android/iOS: Modified 2DMatrix translate() to use default units defined in "tiapp.xml"
  android/titanium/src/java/org/appcelerator/titanium/TiDimension.java
  android/titanium/src/java/org/appcelerator/titanium/view/Ti2DMatrix.java
  iphone/TitaniumKit/TitaniumKit/Sources/API/Ti2DMatrix.m
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, in-qe-testing 🕵, ios, no tests, parity 👯‍♀️, work in progress ⚒

#10453 [TIMOB-26538] Android: Modified services/broadcast-receivers to be terminated upon app exit
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseService.java
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, improvement, in-qe-testing 🕵, no tests

#10487 fix(ios): Default background color of TiRootViewController in framework using shared configuration
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.m
  iphone/TitaniumKit/TitaniumKit/Sources/Misc/TiSharedConfig.h
  iphone/iphone/main.m
  support/iphone/main.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10485 [TIMOB-16789] Android: Added Ti.UI.Animation "curve" property support
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiAnimationBuilder.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiAnimationCurve.java
  apidoc/Titanium/UI/Animation.yml
  apidoc/Titanium/UI/UI.yml
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵, no tests, parity 👯‍♀️

#10502 fix(ios) : increment and decrement of active alert controller handled for alert() api
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.m
Labels: bug 🐜, ios, no tests
