Repository tidev/titanium-sdk, pull requests merged in 2018-03, with the labels that each got.

#9894 [7_1_X][MOD-2378] Android: Fix issues around ImageView memory management
  android/modules/ui/src/java/ti/modules/titanium/ui/ImageViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIImageView.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  support/module/packaged/modules.json
Labels: android, bug, no tests

#9701 [TIMOB-25600] Android : SDK 7.0.0.GA not applying custom theme attributes properly on TableViewRow, but SDK 5.5.1 or below works properly
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug

#9898 Android: Add geolocation jars in the dependencies.
  android/modules/geolocation/geolocation.iml
Labels: android, improvement, needs jira, no tests

#9902 [7_1_X][TIMOB-25825] Prevent proxySupport warning
  android/runtime/common/src/java/org/appcelerator/kroll/KrollObject.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/V8Object.cpp
Labels: android, bug, no tests

#9899 [TIMOB-25825] Prevent proxySupport warning
  android/runtime/common/src/java/org/appcelerator/kroll/KrollObject.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/V8Object.cpp
Labels: android, bug, in-qe-testing, no tests

#9903 [TIMOB-9366] update radial backgroundGradient example to match implementation
  apidoc/Titanium/UI/View.yml
Labels: community, docs, in-qe-testing

#9905 [7_1_X][TIMOB-9366] update radial backgroundGradient example to match implementation
  apidoc/Titanium/UI/View.yml
Labels: community, docs, in-qe-testing

#9911 [TIMOB-25829] Update Hyperloop to 3.0.3
  support/module/packaged/modules.json
Labels: no tests

#9912 [TIMOB-25829] (7_1_X) Update Hyperloop to 3.0.3
  support/module/packaged/modules.json
Labels: no tests

#9916 [TIMOB-25843] Android: Fix TableView handleSetData()
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug, in-qe-testing, no tests

#9917 [7_1_X][TIMOB-25843] Android: Fix TableView handleSetData()
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug, no tests

#9918 [TIMOB-25849] Android: Always specify image mime-type
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiMimeTypeHelper.java
Labels: android, bug, in-qe-testing, no tests

#9919 [7_1_X][TIMOB-25849] Android: Always specify image mime-type
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiMimeTypeHelper.java
Labels: android, bug, no tests

#9921 Fixed broken link in Platform.yml
  apidoc/Titanium/Platform/Platform.yml
Labels: docs, needs jira

#9920 Fix broken link in Cloud.yml
  apidoc/Modules/Cloud/Cloud.yml
Labels: docs, needs jira

#9881 Formatting fixes for View.yml
  apidoc/Titanium/UI/View.yml
Labels: docs

#9934 [TIMOB-20126] Android: Update ti.cloudpush to 5.1.0
  support/module/packaged/modules.json
Labels: android, improvement

#9935 [7_1_X][TIMOB-20126] Android: Update ti.cloudpush to 5.1.0
  support/module/packaged/modules.json
Labels: android, improvement

#9944 CI: Add label-emoji, use Set instead of Array as labels are unique
  dangerfile.js
Labels: needs jira 🚨

#9895 [TIMOB-25753] Android: Fixed bug where ScrollView "width" ignores Ti.UI.SIZE as of 6.3.0
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiSwipeRefreshLayout.java
  tests/Resources/ti.ui.scrollview.test.js
Labels: android, bug 🐜

#9896 [7_1_X][TIMOB-25753] Android: Fixed bug where ScrollView "width" ignores Ti.UI.SIZE as of 6.3.0
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiSwipeRefreshLayout.java
  tests/Resources/ti.ui.scrollview.test.js
Labels: android, bug 🐜

#9761 [TIMOB-24266] iOS: Expose UIApplicationDelegate to modules / Hyperloop
  iphone/Classes/NetworkModule.m
  iphone/Classes/TiApp.h
  iphone/Classes/TiApp.m
Labels: improvement, in-qe-testing 🕵️‍♂️, ios, no tests

#9950 [TIMOB-25887] Handle hasPlayServices() exceptions
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/FusedLocationProvider.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#9906 [TIMOB-25409] Android: Resolve remote content uris
  android/titanium/src/java/org/appcelerator/titanium/io/TitaniumBlob.java
Labels: android, improvement, in-qe-testing 🕵️‍♂️, no tests

#9953 Update dangerfile.js
  dangerfile.js
Labels: needs jira 🚨

#9952 [TIMOB-24266] iOS: Fix case where multiple delegate arguments appear in random order
  iphone/Classes/TiApp.h
  iphone/Classes/TiApp.m
Labels: bug 🐜, ios, no tests

#9943 [7_1_X][TIMOB-25671]Android : TextField's some returnKeyType values not firing 'return' event
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, bug 🐜, docs, docs 📔, no tests

#9963 [7_1_X][TIMOB-25903] Android: TableView.updateRow method doesn't work on 7.1 if run-on-main-thread is off
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#9962 [TIMOB-25903] Android: TableView.updateRow method doesn't work on 7.1 if run-on-main-thread is off
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#9922 fix text
  apidoc/Titanium/App/iOS/UserDefaults.yml
Labels: community 🔥, docs 📔, needs cla 🚨

#9960 Updated Media.yml (AC-5649)
  apidoc/Titanium/Media/Media.yml
Labels: docs 📔
