Repository tidev/titanium-sdk, pull requests merged in 2018-08, with the labels that each got.

#10223 iOS: Update build manifest if `useNewBuildSystem` setting changed
  iphone/cli/commands/_build.js
Labels: bug 🐜, ios

#10228 Fix some docs
  apidoc/Titanium/App/iOS/LocalNotification.yml
  apidoc/Titanium/App/iOS/iOS.yml
  apidoc/lib/html_generator.js
  apidoc/lib/jsduck_generator.js
  apidoc/lib/json_generator.js
  iphone/Classes/TiAppiOSProxy.m
Labels: docs 📔, ios, no tests

#10226 [7_3_X][TIMOB-26250] Android: Allow activity "android:launchMode" to be set in "tiapp.xml"
  android/cli/commands/_build.js
Labels: android, improvement, no tests

#10230 [7_3_X][TIMOB-26252] Android: Fixed bug where "Ti.Android.currentActivity" always returns null as of 7.3.0
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  tests/Resources/ti.android.addontest.js
Labels: android, bug 🐜

#10229 [TIMOB-26252] Android: Fixed bug where "Ti.Android.currentActivity" always returns null as of 7.3.0
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  tests/Resources/ti.android.addontest.js
Labels: android, bug 🐜

#10225 [TIMOB-26250] Android: Allow activity "android:launchMode" to be set in "tiapp.xml"
  android/cli/commands/_build.js
Labels: android, improvement, no tests

#10231 iOS: Fix ATS docs
  apidoc/Titanium/Network/Network.yml
Labels: docs 📔

#10232 [7_3_X][TIMOB-26126] Update node-titanium-sdk to version 0.6.0
  package-lock.json
  package.json
Labels: android, bug 🐜, no tests

#10234 Docs: Add missing Ti.UI.Android.DrawerLayout docs
  apidoc/Titanium/UI/Android/DrawerLayout.yml
Labels: bug 🐜, community 🔥, docs 📔

#10221 [TIMOB-26242] Android: Attempt to fix memory behaviour
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/GCWatcher.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Function.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Object.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/JavaObject.h
  android/runtime/v8/src/native/TypeConverter.cpp
  android/runtime/v8/src/native/V8Runtime.cpp
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, community 🔥, no tests

#10224 [7_3_X][TIMOB-26242] Android: Attempt to fix memory behaviour
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/GCWatcher.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Function.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Object.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/JavaObject.h
  android/runtime/v8/src/native/TypeConverter.cpp
  android/runtime/v8/src/native/V8Runtime.cpp
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, community 🔥, no tests

#10233 [TIMOB-26268] iOS: Support UIRefreshControl for UIScrollView on iOS < 10
  apidoc/Titanium/UI/ScrollView.yml
  iphone/Classes/TiUIScrollView.m
Labels: community 🔥, docs 📔, improvement, ios, no tests

#10186 [TIMOB-19618] Android: Implement Ti.UI.WebView.mixedContentMode
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/WebView.yml
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, no tests

#10236 iOS Parallel build tweak
  iphone/cli/commands/_build.js
Labels: cli 📟, improvement, ios, needs jira 🚨

#10237 [DAEMON-259] Updated ioslib to 1.7.4 which adds workaround for ios si…
  package-lock.json
  package.json
Labels: bug 🐜, ios

#10222 [TIMOB-24605] Android: Fixed crashes caused by loading image URLs when JS is running on main thread
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIImageView.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiInputStreamWrapper.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiDownloadManager.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiImageHelper.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiResponseCache.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiDrawableReference.java
  tests/Resources/ti.ui.imageview.addontest.js
  tests/Resources/ti.ui.view.addontest.js
Labels: android, bug 🐜

#10240 [7_3_X][TIMOB-26130] Android: Remove flag that breaks NDK compatibility
  android/runtime/v8/src/native/common.mk
Labels: android, bug 🐜, no tests

#10243 [TIMOB-26274] Android: Do not set action bar home icon
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDrawerLayout.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10242 [TIMOB-26278] Android: Fire "userinteraction" event when Activity.onUserInteraction is triggered
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Android/Activity.yml
Labels: android, community 🔥, docs 📔, no tests

#10238 [TIMOB-26165] iOS: Fix requiring a JSON file with single quotes
  iphone/Classes/KrollBridge.m
  tests/Resources/ti.require.addontest.js
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, parity 👯‍♀️

#10172 [TIMOB-25635] Android: Multi-View Viewpager (ScrollableView)
  android/modules/ui/src/java/ti/modules/titanium/ui/ScrollableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollableView.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/ScrollableView.yml
  apidoc/Titanium/UI/TextArea.yml
  apidoc/Titanium/UI/TextField.yml
  apidoc/Titanium/UI/View.yml
  tests/Resources/ti.ui.scrollableview.test.js
Labels: android, community 🔥, docs 📔, feature 🚀

#10241 [TIMOB-23995] iOS: Add __dirname and __filename to the global app.js scope
  iphone/Classes/KrollBridge.m
  tests/Resources/app.js
Labels: bug 🐜, ios

#10142 [TIMOB-26168] Android: Fix initializing of scrollbars
  android/modules/ui/res/xml/titanium_ui_horizontal_nested_scrollview.xml
  android/modules/ui/res/xml/titanium_ui_vertical_nested_scrollview.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
Labels: android, bug 🐜, community 🔥, in-qe-testing 🕵️‍♂️, no tests

#10250 [TIMOB-26209] (7_3_X) Moved the Xcode EULA assertion from pre-validate to val…
  iphone/cli/commands/_build.js
  package-lock.json
  package.json
Labels: bug 🐜, cli 📟, ios

#10249 [TIMOB-26209] Moved the Xcode EULA assertion from pre-validate to val…
  iphone/cli/commands/_build.js
  package-lock.json
  package.json
Labels: bug 🐜, cli 📟, ios

#10252 docs(media): add phrase about privacy permissions on iOS
  apidoc/Titanium/Media/Media.yml
Labels: docs 📔

#10254 [TIMOB-26300] iOS: Fix crash when using (deprecated) kroll-thread
  iphone/Classes/TiUITextArea.m
  tests/Resources/ti.ui.textarea.addontest.js
Labels: ios

#10258 [MOD-2451] Android: Update ti.cloudpush to 5.1.3
  support/module/packaged/modules.json
Labels: android, no tests

#10259 [7_3_X][MOD-2451] Android: Update ti.cloudpush to 5.1.3
  support/module/packaged/modules.json
Labels: android, no tests

#10177 [TIMOB-26197] iOS: Deprecate Ti.Media.SystemAlert
  apidoc/Titanium/Media/SystemAlert.yml
  iphone/Classes/TiMediaSystemAlertProxy.h
  iphone/Classes/TiMediaSystemAlertProxy.m
Labels: docs 📔, ios, no tests, parity 👯‍♀️

#10262 Android: Fix ti.cloudpush 5.1.3 hash
  support/module/packaged/modules.json
Labels: android, needs jira 🚨

#10261 [TIMOB-26308] Update classic splash screens to be reduced in size
  android/templates/app/default/template/Resources/android/default.png
  android/templates/app/default/template/Resources/android/images/res-land-hdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-land-ldpi/default.png
  android/templates/app/default/template/Resources/android/images/res-land-mdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-land-xhdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-land-xxhdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-land-xxxhdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-port-hdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-port-ldpi/default.png
  android/templates/app/default/template/Resources/android/images/res-port-mdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-port-xhdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-port-xxhdpi/default.png
  android/templates/app/default/template/Resources/android/images/res-port-xxxhdpi/default.png
  iphone/templates/app/default/template/Resources/iphone/Default-568h@2x.png
  iphone/templates/app/default/template/Resources/iphone/Default-667h@2x.png
  iphone/templates/app/default/template/Resources/iphone/Default-Landscape-2436h@3x.png
  iphone/templates/app/default/template/Resources/iphone/Default-Landscape-736h@3x.png
  iphone/templates/app/default/template/Resources/iphone/Default-Landscape.png
  iphone/templates/app/default/template/Resources/iphone/Default-Landscape@2x.png
  iphone/templates/app/default/template/Resources/iphone/Default-Portrait-2436h@3x.png
  iphone/templates/app/default/template/Resources/iphone/Default-Portrait-736h@3x.png
  iphone/templates/app/default/template/Resources/iphone/Default-Portrait.png
  iphone/templates/app/default/template/Resources/iphone/Default-Portrait@2x.png
  iphone/templates/app/default/template/Resources/iphone/Default.png
  iphone/templates/app/default/template/Resources/iphone/Default@2x.png
Labels: android, improvement, ios

#10257 [TIMOB-26306] Android: Improved Titanium SDK (titanium_mobile) ant/ndk builds
  android/build/common.xml
  android/modules/accelerometer/AndroidManifest.xml
  android/modules/analytics/AndroidManifest.xml
  android/modules/android/AndroidManifest.xml
  android/modules/app/AndroidManifest.xml
  android/modules/calendar/AndroidManifest.xml
  android/modules/contacts/AndroidManifest.xml
  android/modules/database/AndroidManifest.xml
  android/modules/filesystem/AndroidManifest.xml
  android/modules/geolocation/AndroidManifest.xml
  android/modules/gesture/AndroidManifest.xml
  android/modules/locale/AndroidManifest.xml
  android/modules/network/AndroidManifest.xml
  android/modules/platform/AndroidManifest.xml
  android/modules/ui/AndroidManifest.xml
  android/modules/utils/AndroidManifest.xml
  android/modules/xml/AndroidManifest.xml
  android/modules/yahoo/AndroidManifest.xml
  android/runtime/common/AndroidManifest.xml
  android/runtime/common/project.properties
  android/runtime/v8/AndroidManifest.xml
  android/runtime/v8/Application.mk
  android/runtime/v8/ndk-build.sh
  android/runtime/v8/project.properties
  android/runtime/v8/src/native/Android.mk
  android/runtime/v8/src/native/JSDebugger.cpp
  android/runtime/v8/src/native/KrollBindings.cpp
  android/runtime/v8/src/native/V8Object.cpp
  android/runtime/v8/src/native/V8Runtime.cpp
  android/runtime/v8/src/native/common.mk
  android/runtime/v8/src/native/genSources.mk
  android/titanium/AndroidManifest.xml
Labels: android, improvement, no tests

#10267 [TIMOB-26319] iOS 10: Fix parity in "notificationsettings" event
  iphone/Classes/TiAppiOSProxy.m
Labels: ios, no tests

#10268 [TIMOB-26319] (7_3_X) iOS 10: Fix parity in "notificationsettings" event
  iphone/Classes/TiAppiOSProxy.m
Labels: ios, no tests

#10270 [FRAME-11](7_3_X) Remove uses-sdk setting
  templates/app/angular-default/template/tiapp.xml
Labels: needs jira 🚨

#10215 [TIMOB-26237] (7_3_X) iOS: Fix local notifications triggered when the app is closed
  apidoc/Titanium/App/iOS/LocalNotification.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiApp.m
  iphone/Classes/TiUtils.h
  iphone/Classes/TiUtils.m
Labels: bug 🐜, docs 📔, ios, no tests

#10269 [FRAME-11] Remove uses-sdk setting
  templates/app/angular-default/template/tiapp.xml
Labels: android, improvement, in-qe-testing 🕵️‍♂️, no tests

#10255 [TIMOB-26300] (7_3_X) iOS: Fix crash when using (deprecated) kroll-thread
  iphone/Classes/TiUITextArea.m
  tests/Resources/ti.ui.textarea.addontest.js
  tests/Resources/ti.ui.textfield.addontest.js
Labels: ios

#10266 [TIMOB-26313]iOS: Fix accessibility on Ti.UI.TableView
  iphone/Classes/TiUITableViewProxy.m
Labels: ios, no tests

#10275 [7_3_X][TIMOB-26130] Android: Remove flag that breaks NDK compatibility
  android/runtime/v8/src/native/common.mk
Labels: android, bug 🐜, no tests

#10279 [TIMOB-26329] Android: Modified build to generate missing "R" classes for libraries added in 7.3.0
  android/dependency.json
  android/modules/appcompat/lib/android-support-compat.jar
  android/modules/appcompat/lib/android-support-design.jar
Labels: android, bug 🐜, no tests

#10281 [7_4_X][TIMOB-26329] Android: Modified build to generate missing "R" classes for libraries added in 7.3.0
  android/dependency.json
  android/modules/appcompat/lib/android-support-compat.jar
  android/modules/appcompat/lib/android-support-design.jar
Labels: android, bug 🐜, no tests

#10282 [7_3_X][TIMOB-26329] Android: Modified build to generate missing "R" classes for libraries added in 7.3.0
  android/dependency.json
  android/modules/appcompat/lib/android-support-compat.jar
  android/modules/appcompat/lib/android-support-design.jar
Labels: android, bug 🐜, no tests

#10284 [7_3_X][TIMOB-25941] Android: Optimized HTTPClient download performance
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, improvement, no tests

#10283 [7_4_X][TIMOB-25941] Android: Optimized HTTPClient download performance
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, improvement, no tests

#10287 chore: update docs from 7.4.0 -> 7.5.0
  apidoc/Global/console/console.yml
  apidoc/Titanium/Android/Activity.yml
  apidoc/Titanium/Geolocation/Geolocation.yml
  apidoc/Titanium/Media/AudioPlayer.yml
  apidoc/Titanium/Media/Media.yml
  apidoc/Titanium/UI/AlertDialog.yml
  apidoc/Titanium/UI/Button.yml
  apidoc/Titanium/UI/ScrollView.yml
  apidoc/Titanium/UI/ScrollableView.yml
  apidoc/Titanium/UI/SearchBar.yml
  apidoc/Titanium/UI/TextArea.yml
  apidoc/Titanium/UI/TextField.yml
  apidoc/Titanium/UI/View.yml
  apidoc/Titanium/UI/WebView.yml
  apidoc/Titanium/UI/Window.yml
Labels: docs 📔

#10272 Update Ti.Map and Ti.Facebook releases
  support/module/packaged/modules.json
Labels: work in progress ⚒

#10292 [TIMOB-26312] (7_4_X):iOS 12 Expose new NSUserActivity APIs for Siri Intents
  apidoc/Titanium/App/iOS/UserActivity.yml
  iphone/Classes/TiAppiOSUserActivityProxy.h
  iphone/Classes/TiAppiOSUserActivityProxy.m
  tests/Resources/ti.app.ios.useractivity.addontest.js
Labels: docs 📔, ios

#10288 [TIMOB-26312]: iOS 12 Expose new NSUserActivity APIs for Siri Intents
  apidoc/Titanium/App/iOS/UserActivity.yml
  iphone/Classes/TiAppiOSUserActivityProxy.h
  iphone/Classes/TiAppiOSUserActivityProxy.m
  tests/Resources/ti.app.ios.useractivity.addontest.js
Labels: docs 📔, ios

#10289 [TIMOB-26339] iOS: Fix "scheduleLocalNotification" API from not repeating triggers properly
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiAppiOSLocalNotificationProxy.m
  iphone/Classes/TiAppiOSProxy.m
Labels: docs 📔, ios, no tests

#10291 [TIMOB-26339] (7_4_X) iOS: Fix "scheduleLocalNotification" API from not repeating triggers properly
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiAppiOSLocalNotificationProxy.m
  iphone/Classes/TiAppiOSProxy.m
Labels: docs 📔, ios, no tests

#10290 [TIMOB-26339] (7_3_X) iOS: Fix "scheduleLocalNotification" API from not repeating triggers properly
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiAppiOSLocalNotificationProxy.m
  iphone/Classes/TiAppiOSProxy.m
Labels: docs 📔, ios, no tests

#10293 [TIMOB-26338](7_3_X): iOS Label not shown when opened in window from tab-group (kroll-thread only)
  iphone/Classes/TiUITabProxy.m
Labels: ios, no tests

#10295 [TIMOB-26338](7_4_X): iOS Label not shown when opened in window from tab-group (kroll-thread only)
  iphone/Classes/TiUITabProxy.m
Labels: ios, no tests

#10294 [TIMOB-26338]: iOS Label not shown when opened in window from tab-group (kroll-thread only)
  iphone/Classes/TiUITabProxy.m
Labels: ios, no tests

#10300 Fixed typo in R.yml
  apidoc/Titanium/Android/R.yml
Labels: docs 📔, needs jira 🚨

#10271 [TIMOB-26317] Android: Improve java stack trace handling
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests
