Repository tidev/titanium-sdk, pull requests merged in 2018-04, with the labels that each got.

#9964 [TIMOB-25799] Android: Cannot build titanium project with JDK 1.9
  android/cli/commands/_build.js
  package-lock.json
  package.json
Labels: bug 🐜, cli 📟

#9978 Update Media.yml
  apidoc/Titanium/Media/Media.yml
Labels: docs 📔

#9972 [7_1_X][TIMOB-25913] Android: Update gradle for Java 9 compatibility
  android/templates/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: android, bug 🐜

#9971 [TIMOB-25913] Android: Update gradle for Java 9 compatibility
  android/templates/gradle/gradle/wrapper/gradle-wrapper.properties
Labels: android, bug 🐜

#9977 [TIMOB-25912] (7_1_X) iOS 11.2: Fix document-viewer URL directory
  apidoc/Titanium/UI/iOS/DocumentViewer.yml
  iphone/Classes/TiUIiOSDocumentViewerProxy.m
Labels: bug 🐜, docs, docs 📔, in-qe-testing 🕵️‍♂️, ios, no tests

#9968 [TIMOB-25912] iOS 11.2: Fix document-viewer URL directory
  apidoc/Titanium/UI/iOS/DocumentViewer.yml
  iphone/Classes/TiUIiOSDocumentViewerProxy.m
Labels: bug 🐜, docs 📔, in-qe-testing 🕵️‍♂️, ios, no tests

#9940 [TIMOB-25875] Babel rewrites app.js in classic project to generated ES5 code
  android/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵️‍♂️

#9939 (7_1_X) [TIMOB-25875] Babel rewrites app.js in classic project to generated ES5 code
  android/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵️‍♂️

#9959 [7_1_X][TIMOB-25882] Android: return event is received twice from Symbol TC55/TC70 scanner.
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, in-qe-testing 🕵️‍♂️, no tests

#9948 [TIMOB-25882] Android: return event is received twice from Symbol TC55/TC70 scanner.
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, in-qe-testing 🕵️‍♂️, no tests

#9961 Correct invalid property and class reference in docs
  apidoc/Titanium/Geolocation/Geolocation.yml
  apidoc/Titanium/UI/ActivityIndicator.yml
  apidoc/Titanium/UI/ButtonBar.yml
  apidoc/Titanium/UI/View.yml
  apidoc/Titanium/UI/Window.yml
  apidoc/Titanium/UI/iOS/Stepper.yml
  apidoc/Titanium/UI/iOS/SystemButtonStyle.yml
  apidoc/Titanium/UI/iOS/TabbedBar.yml
  apidoc/Titanium/UI/iOS/iOS.yml
  apidoc/Titanium/UI/iPhone/AlertDialogStyle.yml
  apidoc/Titanium/WatchSession/WatchSession.yml
  apidoc/docgen.js
Labels: docs 📔

#9987 [TIMOB-25936] (7_1_X) iOS: Fix appendSection & appendRow on main-thread
  iphone/Classes/TiUITableViewProxy.m
  tests/Resources/ti.ui.tableview.addontest.js
Labels: bug 🐜, ios

#9986 [TIMOB-25936] iOS: Fix appendSection & appendRow on main-thread
  iphone/Classes/TiUITableViewProxy.m
  tests/Resources/ti.ui.tableview.addontest.js
Labels: bug 🐜, ios

#9989 [TIDOC-3164] Update CardView to hide unsupported properties
  apidoc/Titanium/UI/Android/CardView.yml
Labels: docs 📔

#9991 [TIMOB-25950] iOS: Ignore "unselectedItemTintColor" on iOS 9 and earlier
  iphone/Classes/TiUITabGroup.m
Labels: community 🔥, improvement, ios, ios 10, no tests

#9990 Fix jobs URL
  iphone/cli/commands/_build.js
Labels: no tests

#9998 [7_1_X][TIMOB-25948] Android: Update hyperloop to v3.0.5
  support/module/packaged/modules.json
Labels: android, bug 🐜

#9997 [TIMOB-25948] Android: Update hyperloop to v3.0.5
  support/module/packaged/modules.json
Labels: android, bug 🐜

#9992 [TIMOB-24349] (7_1_X) iOS: Fix both AlertDialog and OptionDialog to fire events properly
  iphone/Classes/TiUIAlertDialogProxy.h
  iphone/Classes/TiUIAlertDialogProxy.m
  iphone/Classes/TiUIOptionDialogProxy.m
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#9803 [TIMOB-24349] iOS: Fix both AlertDialog and OptionDialog to fire events properly
  iphone/Classes/TiUIAlertDialogProxy.h
  iphone/Classes/TiUIAlertDialogProxy.m
  iphone/Classes/TiUIOptionDialogProxy.m
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#9995 Updated Cookie.yml per TIDOC-2420
  apidoc/Titanium/Network/Cookie.yml
Labels: docs 📔

#9985 [TIMOB-25792] Android: Improved nested horizontal scrolling support
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiSwipeRefreshLayout.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIEditText.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
Labels: android, bug 🐜, improvement, in-qe-testing 🕵️‍♂️, no tests, parity 👯‍♀️

#10001 [TIDOC-3168] Fix SplitWindow docs
  apidoc/Titanium/UI/iOS/SplitWindow.yml
Labels: bug 🐜, docs 📔

#9980 [TIMOB-25931] Android: Update multidex support library
  android/titanium/lib/android-support-multidex.jar
Labels: android, improvement, in-qe-testing 🕵️‍♂️

#9979 [TIMOB-25919] Android: Always fire OptionDialog 'click' event
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#9949 [TIMOB-25888] Android: getEventsBetweenDates() crashes
  android/modules/calendar/src/java/ti/modules/titanium/calendar/RecurrenceRuleProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#9936 [FRAME-5] Generate TypeScript definitions from docs
  apidoc/Titanium/UI/Tab.yml
  apidoc/Titanium/UI/View.yml
  apidoc/docgen.js
  apidoc/lib/typescript_generator.js
  build/docs.js
Labels: docs 📔

#9988 [FRAME-3] Add default template for Angular
  templates/app/angular-default/hooks/post-create.js
  templates/app/angular-default/template/.gitignore
  templates/app/angular-default/template/DefaultIcon.png
  templates/app/angular-default/template/LICENSE
  templates/app/angular-default/template/README.md
  templates/app/angular-default/template/app/assets/images/angular.png
  templates/app/angular-default/template/app/package.json
  templates/app/angular-default/template/app/platform/android/res/values/colors.xml
  templates/app/angular-default/template/app/platform/android/res/values/styles.xml
  templates/app/angular-default/template/app/src/app.component.html
  templates/app/angular-default/template/app/src/app.component.ts
  templates/app/angular-default/template/app/src/app.module.ts
  templates/app/angular-default/template/app/src/main.aot.ts
  templates/app/angular-default/template/app/src/main.ts
  templates/app/angular-default/template/app/tsconfig.aot.json
  templates/app/angular-default/template/app/tsconfig.json
  templates/app/angular-default/template/app/vendor/vendor.js
  templates/app/angular-default/template/app/webpack.config.js
  templates/app/angular-default/template/hooks/pre-compile.js
  templates/app/angular-default/template/tiapp.xml
Labels: feature 🚀

#9897 [TIMOB-25826] Android: Error requiring a file by relative path where module.exports is a falsey value
  android/runtime/common/src/js/module.js
  tests/Resources/fixtures/empty-double.js
  tests/Resources/fixtures/empty-single.js
  tests/Resources/fixtures/false.js
  tests/Resources/fixtures/nan.js
  tests/Resources/fixtures/null.js
  tests/Resources/fixtures/undefined.js
  tests/Resources/fixtures/zero.js
  tests/Resources/ti.require.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️

#10011 Updated WebView.yml
  apidoc/Titanium/UI/WebView.yml
Labels: docs 📔

#10009 [6_1_X][TIMOB-25656] Android: getOrCreateView() should always return a View
  Jenkinsfile
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, no tests

#10000 [TIMOB-25917] Android: Setting minDate/maxDate after creation doesn't work
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUIDatePicker.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUIDateSpinner.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, parity 👯‍♀️
