Repository tidev/titanium-sdk, pull requests merged in 2018-12, with the labels that each got.

#10491 fix(ios): Use correct path for modules having incorrect template
  iphone/cli/commands/_buildModule.js
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10419 [TIMOB-26227] Android: Removed kroll thread support
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerColumnProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/RefreshControlProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/ScrollViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TextAreaProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TextFieldProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/WebViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/android/DrawerLayoutProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiToolbar.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewProxy.java
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
  android/runtime/common/src/java/org/appcelerator/kroll/common/TiMessenger.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActionBarProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActivityProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/MenuItemProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/MenuProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
Labels: BREAKING CHANGES ⚠️, android, in-qe-testing 🕵, no tests, parity 👯‍♀️

#10506 fix(android): Fix displaying of multiple exception dialogs
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: android, bug 🐜, ios, needs jira 🚨, no tests

#10509 backport(android): fix ListView template support for native modules
  android/modules/ui/src/js/listview.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10499 fix(ios) : defaultLocale call should not write current locale in user default
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiLocale.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10511 backport(ios): validate setNeedsUpdateOfHomeIndicatorAutoHidden selector
  iphone/Classes/TiRootViewController.m
Labels: bug 🐜, ios, no tests

#10507 [TIMOB-26625] Android: Can't open Titanium app through intent (7.5.0 regression)
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10513 chore: update logo
  .github/logo-titanium.png
Labels: needs jira 🚨

#10471 [TIMOB-26560] Android: Removed deprecated Ti.UI.KEYBOARD_* constants
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
Labels: BREAKING CHANGES ⚠️, android, improvement, no tests, parity 👯‍♀️

#10484 feat(api): Add cross-platform node-compatible 'path' module
  android/runtime/common/src/js/kroll.js
  common/Resources/ti.internal/extensions/binding.js
  common/Resources/ti.internal/extensions/path.js
  common/Resources/ti.internal/extensions/process.js
  common/Resources/ti.main.js
  tests/Resources/path.addontest.js
Labels: feature 🚀, improvement, parity 👯‍♀️

#10515 chore(android): bump Android minSdkVersion to 19
  android/dependency.json
  android/dev/TitaniumTest/AndroidManifest.xml
  android/modules/accelerometer/AndroidManifest.xml
  android/modules/analytics/AndroidManifest.xml
  android/modules/android/AndroidManifest.xml
  android/modules/app/AndroidManifest.xml
  android/modules/calendar/AndroidManifest.xml
  android/modules/contacts/AndroidManifest.xml
  android/modules/database/AndroidManifest.xml
  android/modules/filesystem/AndroidManifest.xml
  android/modules/geolocation/AndroidManifest.xml
  android/modules/gesture/AndroidManifest.xml
  android/modules/locale/AndroidManifest.xml
  android/modules/media/AndroidManifest.xml
  android/modules/network/AndroidManifest.xml
  android/modules/platform/AndroidManifest.xml
  android/modules/ui/AndroidManifest.xml
  android/modules/utils/AndroidManifest.xml
  android/modules/xml/AndroidManifest.xml
  android/package.json
  android/runtime/common/AndroidManifest.xml
  android/runtime/v8/AndroidManifest.xml
  android/runtime/v8/Application.mk
  android/runtime/v8/ndk-build.sh
  android/runtime/v8/project.properties
  android/titanium/AndroidManifest.xml
Labels: android, no tests

#10514 Add pre-commit hooks to lint/format changed files and verify commit messages
  package-lock.json
  package.json
Labels: improvement, needs jira 🚨

#10440 [TIMOB-26461]: iOS Add "safeAreaPadding" property to Ti.UI.Window
  apidoc/Titanium/UI/Window.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiWindowProxy.h
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.h
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
  tests/Resources/ti.ui.window.addontest.js
Labels: docs 📔, in-qe-testing 🕵, ios

#10478 [TIMOB-26480] Android: Titanium.UI.ProgressBar 'color' setting portion of progressBar - should be text only
  android/modules/ui/src/java/ti/modules/titanium/ui/ProgressBarProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIProgressBar.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/ProgressBar.yml
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵, no tests, parity 👯‍♀️

#10473 [TIMOB-26341]: iOS Remove Ti.UI.ButtonBar "index" property
  apidoc/Titanium/UI/ButtonBar.yml
  iphone/Classes/TiUIButtonBar.m
  tests/Resources/ti.ui.ios.tabbedbar.addontest.js
Labels: docs 📔, ios

#10517 fix(android): fallback to legacy behavior
  android/modules/ui/src/js/listview.js
Labels: android, bug 🐜, no tests

#10526 backport(android): fallback to legacy behaviour
  android/modules/ui/src/js/listview.js
Labels: android, bug 🐜, no tests

#10512 fix(android): validate KrollObject in KrollProxy
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10528 backport(android): validate KrollObject exists
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
Labels: android, bug 🐜, no tests

#10481 fix(ios): avoid multiple dismiss calls of UISearchController from SearchBar delegate
  iphone/Classes/TiUIListView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10358 [TIMOB-26354] Android: Refactor TabGroup and introduce new style
  android/modules/ui/res/layout/titanium_tabgroup.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/TabContentViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/android/AndroidModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIActionBarTab.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIActionBarTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITab.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
  android/modules/ui/src/js/tabgroup.js
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
  apidoc/Titanium/UI/Android/Android.yml
  apidoc/Titanium/UI/Tab.yml
  apidoc/Titanium/UI/TabGroup.yml
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: android, bug 🐜, docs 📔, improvement, in-qe-testing 🕵

#10518 fix(android): prevent duplicate analytics initialization
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10530 backport(android): prevent duplicate analytics initialization
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
Labels: android, bug 🐜, no tests

#10524 fix(ios): avoid leaking objects in hasProperty callback
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollObject.m
  tests/Resources/core.runtime.addontest.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#10525 fix(ios): avoid leaking objects in hasProperty callback (7_5_X)
  iphone/Classes/KrollBridge.m
  iphone/Classes/KrollObject.m
  tests/Resources/core.runtime.addontest.js
Labels: bug 🐜, ios

#10534 fix(android): update v8 to 7.0.276.42
  android/package.json
Labels: needs jira 🚨

#10335 [TIMOB-17389] Android: Adding fastScroll to ListViews
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/ListView.yml
  tests/Resources/ti.ui.listview.addontest.js
Labels: android, community 🔥, docs 📔, in-qe-testing 🕵

#10545 fix(ios) : defaultLocale call should not write currentlocale in userdefault
  iphone/Classes/TiLocale.m
Labels: bug 🐜, ios, no tests

#10536 fix(android): Fix for splashscreen activity with translucent status bar.
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10169 [TIMOB-26095] iOS 12: Replace UIWebView API in favor of WKWebView
  apidoc/Titanium/UI/WebView.yml
  apidoc/Titanium/UI/iOS/WebViewConfiguration.yml
  apidoc/Titanium/UI/iOS/WebViewDecisionHandler.yml
  apidoc/Titanium/UI/iOS/WebViewProcessPool.yml
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIWebViewProxy.h
  iphone/Classes/TiUIWebViewProxy.m
  iphone/Classes/TiUIiOSProxy.h
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/TiUIiOSWebViewConfigurationProxy.h
  iphone/Classes/TiUIiOSWebViewConfigurationProxy.m
  iphone/Classes/TiUIiOSWebViewDecisionHandlerProxy.h
  iphone/Classes/TiUIiOSWebViewDecisionHandlerProxy.m
  iphone/Classes/TiUIiOSWebViewProcessPoolProxy.h
  iphone/Classes/TiUIiOSWebViewProcessPoolProxy.m
  iphone/Classes/UIModule.m
  iphone/TestModule/TitaniumKit.framework/Headers/TiApp.h
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/XHRBridge.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/XHRBridge.m
  iphone/TitaniumKit/TitaniumKit/TitaniumKit.h
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  iphone/iphone/timob3123.html
  tests/Resources/ti.ui.ios.addontest.js
  tests/Resources/ti.ui.ios.webviewconfiguration.addontest.js
  tests/Resources/ti.ui.webview.addontest.js
Labels: docs 📔, in-qe-testing 🕵, ios

#10490 [TIMOB-26585] Android: Catch all TCP socket read and write exceptions
  android/modules/network/src/java/ti/modules/titanium/network/socket/TCPProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10505 fix(ios): Added missing flag to code sign TitaniumKit so device builds work again.
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios

#10521 fix(ios) : Convert property ‘value’ to string inside hasText function
  iphone/Classes/TiUITextWidgetProxy.m
  tests/Resources/ti.ui.textfield.addontest.js
Labels: bug 🐜, ios

#10535 fix(ios): Set transitionIsAnimating while pushing the controller rather waiting for delegate
  iphone/Classes/TiUINavigationWindowProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10547 chore(android): remove deprecated Geolocation properties
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/AndroidModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/FusedLocationProvider.java
  tests/Resources/ti.geolocation.test.js
Labels: android, in-qe-testing 🕵, no tests

#10467 [TIMOB-26537] Android: Module "AndroidManifest.xml" <uses> elements overwrites "tiapp.xml" elements
  android/cli/lib/AndroidManifest.js
Labels: android, bug 🐜, no tests
