Repository tidev/titanium-sdk, pull requests merged in 2018-02, with the labels that each got.

#9812 [TIMOB-25766] (7_0_X) Android: Revert Android related base64 changes
  android/modules/utils/src/java/ti/modules/titanium/utils/UtilsModule.java
  tests/Resources/ti.utils.test.js
Labels: android, bug

#9813 [TIMOB-25766] Android: Revert Android related base64 changes
  android/modules/utils/src/java/ti/modules/titanium/utils/UtilsModule.java
  tests/Resources/ti.utils.test.js
Labels: android, bug

#9816 [TIMOB-25767] Android: Do not update properties after a transformation
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiAnimationBuilder.java
  apidoc/Titanium/UI/View.yml
  tests/Resources/ti.ui.view.test.js
Labels: android, bug, docs

#9770 [TIMOB-25703] Android: Added VideoPlayer "showsControls" property
  android/modules/media/src/java/ti/modules/titanium/media/TiUIVideoView.java
  android/modules/media/src/java/ti/modules/titanium/media/VideoPlayerProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Media/VideoPlayer.yml
  tests/Resources/ti.media.videoplayer.test.js
Labels: android, docs, feature, parity

#9817 [TIMOB-25770] Android: requestThumbnailImagesAtTimes() does not work with remote content
  android/modules/media/src/java/ti/modules/titanium/media/TiThumbnailRetriever.java
  android/modules/media/src/java/ti/modules/titanium/media/VideoPlayerProxy.java
Labels: android, bug, in-qe-testing, no tests

#9762 [TIMOB-25201] : iOS tintColor doesn't work on imageView if dimensions (height, width) are provided
  iphone/Classes/TiUIImageViewProxy.m
Labels: in-qe-testing, ios, no tests

#9700 [TIMOB-17210] Android: Fixed TextField/TextArea to not trigger "change" event when setting properties
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, bug, community, in-qe-testing, no tests

#9821 [TIMOB-25749] Android: Fix loading of commonjs modules
  android/templates/build/App.java
Labels: android, bug, in-qe-testing, no tests

#9830 [7_1_X][TIMOB-25769] Fix loading of commonjs modules
  android/templates/build/App.java
Labels: android, bug, no tests

#9763 [TIMOB-25687] Android: Picker change listener doesn't work the first time
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUINativePicker.java
  apidoc/Titanium/UI/Picker.yml
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug, docs, in-qe-testing

#9857 [7_1_X][TIMOB-25687] Android: Picker change listener doesn't work the first time
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUINativePicker.java
  apidoc/Titanium/UI/Picker.yml
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug, docs

#9633 [TIMOB-23135] Android: Modified "locationServicesEnabled" handling
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  apidoc/Titanium/Geolocation/Geolocation.yml
Labels: android, community, docs, in-qe-testing, no tests

#9820 [TIMOB-25769] Android: Fix WebView content selection intent
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebChromeClient.java
Labels: android, bug, in-qe-testing, no tests

#9831 [7_1_X][TIMOB-25695] Fix drawToggle events and improve validation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDrawerLayout.java
Labels: android, bug, no tests

#9765 [TIMOB-25695] Android: Fix drawToggle events and improve validation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDrawerLayout.java
Labels: android, bug, no tests

#9860 [7_1_X] Android: Rework Picker change event unit test
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, needs jira

#9859 Android: Rework Picker change event unit test
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, needs jira

#9839 [7_1_X][TIMOB-25728] Android: TableView can crash using setData()
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug, no tests

#9863 [TIMOB-25201](7_1_X): iOS tintColor doesn't work on imageView if dimensions (height, width) are provided
  iphone/Classes/TiUIImageViewProxy.m
Labels: in-qe-testing, ios, no tests

#9634 [TIMOB-20522] Use FusedLocationProviderClient for Ti.Geolocation
  android/modules/geolocation/lib/play-services-base-11.0.4.jar
  android/modules/geolocation/lib/play-services-basement-11.0.4.jar
  android/modules/geolocation/lib/play-services-location-11.0.4.jar
  android/modules/geolocation/lib/play-services-tasks-11.0.4.jar
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/AndroidModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/FusedLocationProvider.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/LocationProviderProxy.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/LocationRuleProxy.java
  apidoc/Titanium/Geolocation/Geolocation.yml
Labels: android, docs, improvement, no tests

#9826 [7_1_X][TIMOB-20522] Update Geolocation to use FusedLocationClient
  android/modules/geolocation/lib/play-services-base-11.0.4.jar
  android/modules/geolocation/lib/play-services-basement-11.0.4.jar
  android/modules/geolocation/lib/play-services-location-11.0.4.jar
  android/modules/geolocation/lib/play-services-tasks-11.0.4.jar
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/AndroidModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/FusedLocationProvider.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/LocationProviderProxy.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/LocationRuleProxy.java
  apidoc/Titanium/Geolocation/Geolocation.yml
Labels: android, bug, docs, no tests

#9837 [7_1_X][TIMOB-25769] Fix WebView content selection intent
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebChromeClient.java
Labels: android, bug, no tests

#9824 [TIMOB-25773] Android: Fixed app build failure caused by " -" in project path
  android/cli/commands/_build.js
Labels: android, bug, no tests

#9827 [7_1_X][TIMOB-25773] Android: Fixed app build failure caused by " -" in project path
  android/cli/commands/_build.js
Labels: android, bug, no tests

#9838 [7_1_X][TIMOB-25507] Android: Remove permission requirement for cache
  android/titanium/src/java/org/appcelerator/titanium/util/TiResponseCache.java
Labels: android, bug, no tests

#9596 [TIMOB-25507] remove permission requirement for cache
  android/titanium/src/java/org/appcelerator/titanium/util/TiResponseCache.java
Labels: android, bug, community, in-qe-testing, no tests

#9854 [TIMOB-19154] (7_1_X) iOS9 Deprecate NSURLConnection and replace with NSURLSession API
  iphone/Classes/APSHTTPClient/APSHTTPRequest.h
  iphone/Classes/APSHTTPClient/libAPSHTTPClient.a
  tests/Resources/ti.network.httpclient.addontest.js
Labels: improvement, in-qe-testing, ios

#9867 [TIMOB-25765](7_1_X): iOS 11 Scrollview layout error when set window with includeOpaqueBars and extendEdges
  iphone/Classes/TiUIScrollView.m
Labels: in-qe-testing, ios, no tests

#9866 [TIMOB-25765]: iOS 11 Scrollview layout error when set window with includeOpaqueBars and extendEdges
  iphone/Classes/TiUIScrollView.m
Labels: in-qe-testing, ios, no tests

#9832 [7_1_X][TIMOB-25757] Android: Improve java proxy validation
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/runtime/v8/src/native/modules/APIModule.cpp
  android/runtime/v8/src/native/modules/APIModule.h
  tests/Resources/ti.api.addontest.js
Labels: android, bug, no tests

#9808 [TIMOB-25757] Android: Improve java proxy validation
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/runtime/v8/src/native/modules/APIModule.cpp
  android/runtime/v8/src/native/modules/APIModule.h
  tests/Resources/ti.api.addontest.js
Labels: android, bug

#9366 [TIMOB-19154]: iOS9 Deprecate NSURLConnection and replace with NSURLSession API
  iphone/Classes/APSHTTPClient/APSHTTPRequest.h
  iphone/Classes/APSHTTPClient/libAPSHTTPClient.a
  tests/Resources/ti.network.httpclient.addontest.js
Labels: improvement, in-qe-testing, ios

#9875 Updated Cloud.yml
  apidoc/Modules/Cloud/Cloud.yml
Labels: docs

#9862 Update CloudPush.yml
  apidoc/Modules/CloudPush/CloudPush.yml
Labels: docs

#9629 Updated View.yml per TIDOC-2804
  apidoc/Titanium/UI/View.yml
Labels: docs

#9840 [7_1_X][TIMOB-23135] Android: Modified "locationServicesEnabled" handling
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  apidoc/Titanium/Geolocation/Geolocation.yml
Labels: android, bug, docs, no tests

#9666 [TIMOB-25585] Android: MediaModule creates temporary files that don't delete on app exit.
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
Labels: android, bug, in-qe-testing, no tests

#9873 [7_1_X][TIMOB-25585] Android: MediaModule creates temporary files that don't delete on app exit.
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
Labels: android, bug, in-qe-testing, no tests

#9675 [TIMOB-25599] Android: Fix Java object referencing
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/JNIUtil.h
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/ReferenceTable.cpp
  android/runtime/v8/src/native/ReferenceTable.h
Labels: android, bug, in-qe-testing, no tests

#9829 [7_1_X][TIMOB-25599] Android: Fix Java object referencing
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/JNIUtil.h
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/ReferenceTable.cpp
  android/runtime/v8/src/native/ReferenceTable.h
Labels: android, bug, no tests

#9883 [AC-5620] Android: Remove 'appc info' output typo at 'NDK Path'
  android/cli/lib/info.js
Labels: community

#9814 (7_0_X) [TIMOB-25766] Android: Ti.Utils.base64encode for cannot encode (Image) Ti.Blob anymore. Result = null
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  android/modules/utils/src/java/ti/modules/titanium/utils/UtilsModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  build/scons-test.js
  iphone/Classes/UtilsModule.m
  tests/Resources/ti.utils.test.js
Labels: android, bug, ios

#9834 [7_1_X][TIMOB-17210] Android: Fixed TextField/TextArea to not trigger "change" event when setting properties
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, bug, in-qe-testing, no tests

#9869 [7_1_X][TIMOB-24248] Android: Ti.Calendar Recurring Events are not clearly exposed
  android/modules/calendar/src/java/ti/modules/titanium/calendar/CalendarModule.java
  android/modules/calendar/src/java/ti/modules/titanium/calendar/EventProxy.java
  android/modules/calendar/src/java/ti/modules/titanium/calendar/RecurrenceRuleProxy.java
  android/modules/calendar/src/java/ti/modules/titanium/calendar/TiRecurrenceFrequencyType.java
  android/titanium/src/java/org/appcelerator/kroll/KrollDict.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Calendar/Event.yml
  apidoc/Titanium/Calendar/RecurrenceRule.yml
Labels: android, docs, improvement, no tests

#9412 [TIMOB-24248] Android: Ti.Calendar Recurring Events are not clearly exposed
  android/modules/calendar/src/java/ti/modules/titanium/calendar/CalendarModule.java
  android/modules/calendar/src/java/ti/modules/titanium/calendar/EventProxy.java
  android/modules/calendar/src/java/ti/modules/titanium/calendar/RecurrenceRuleProxy.java
  android/modules/calendar/src/java/ti/modules/titanium/calendar/TiRecurrenceFrequencyType.java
  android/titanium/src/java/org/appcelerator/kroll/KrollDict.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Calendar/Event.yml
  apidoc/Titanium/Calendar/RecurrenceRule.yml
Labels: android, docs, improvement, no tests

#9871 [7_1_X][TIMOB-17821] Android: Add Support for Custom View to ActionBar
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActionBarProxy.java
  apidoc/Titanium/Android/ActionBar.yml
Labels: android, docs, improvement, in-qe-testing, no tests

#9425 [TIMOB-17821] Android: Add Support for Custom View to ActionBar
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActionBarProxy.java
  apidoc/Titanium/Android/ActionBar.yml
Labels: android, docs, improvement, in-qe-testing, no tests

#9669 [TIMOB-25591] Android: Programmatically check whether app has notification permission on Android.
  android/modules/android/src/java/ti/modules/titanium/android/notificationmanager/NotificationManagerModule.java
  apidoc/Titanium/Android/NotificationManager/NotificationManager.yml
  tests/Resources/ti.android.notificationmanager.addontest.js
Labels: android, docs, feature, in-qe-testing

#9858 [7_1_X][TIMOB-25591] Android: Programmatically check whether app has notification permission on Android.
  android/modules/android/src/java/ti/modules/titanium/android/notificationmanager/NotificationManagerModule.java
  apidoc/Titanium/Android/NotificationManager/NotificationManager.yml
  tests/Resources/ti.android.notificationmanager.addontest.js
Labels: android, docs, feature, in-qe-testing

#9879 [TIMOB-24610] Make transpiling off by default
  android/cli/commands/_build.js
  iphone/cli/commands/_build.js
Labels: android, ios, no tests

#9880 [7_1_X][TIMOB-24610] Make transpiling off by default
  android/cli/commands/_build.js
  iphone/cli/commands/_build.js
Labels: android, ios, no tests

#9887 Use npm ci in place of npm install and see if it speeds up builds
  Jenkinsfile
Labels: improvement, needs jira, no tests

#9784 [TIMOB-25693] Android: Possible memory leak when setting ListSections on a ListView
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
  android/runtime/common/src/java/org/appcelerator/kroll/KrollObject.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug, in-qe-testing, no tests

#9868 [7_1_X][TIMOB-25693] Android: Possible memory leak when setting ListSections on a ListView
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
  android/runtime/common/src/java/org/appcelerator/kroll/KrollObject.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug, in-qe-testing, no tests

#9878 [TIMOB-25762] (7_1_X) iOS 11.3 beta- Loading HTML in Webview errors when accessing EventListener
  iphone/Classes/TiUIWebView.m
Labels: bug, iOS11, in-qe-testing, ios, no tests

#9877 [TIMOB-25762] : iOS 11.3 beta- Loading HTML in Webview errors when accessing EventListener
  iphone/Classes/TiUIWebView.m
Labels: in-qe-testing, ios, no tests

#9772 [TIMOB-10368] iOS: Expose "color" and "hintTextColor" to Ti.UI.SearchBar
  apidoc/Titanium/UI/SearchBar.yml
  iphone/Classes/TiUISearchBar.m
  iphone/Classes/TiUISearchBarProxy.m
  iphone/Classes/TiUITextField.m
  tests/Resources/ti.ui.searchbar.addontest.js
Labels: docs, in-qe-testing, ios

#9844 [TIMOB-10368] (7_1_X) iOS: Expose "color" and "hintTextColor" to Ti.UI.SearchBar
  apidoc/Titanium/UI/SearchBar.yml
  iphone/Classes/TiUISearchBar.m
  iphone/Classes/TiUISearchBarProxy.m
  iphone/Classes/TiUITextField.m
  tests/Resources/ti.ui.searchbar.addontest.js
Labels: docs, feature, in-qe-testing, ios

#9815 [TIMOB-9366] Android: Added "radial" gradient support
  android/titanium/src/java/org/appcelerator/titanium/view/TiGradientDrawable.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  apidoc/Titanium/UI/View.yml
Labels: android, docs, feature, in-qe-testing, no tests, parity

#9855 [7_1_X][TIMOB-9366] Android: Added "radial" gradient support
  android/titanium/src/java/org/appcelerator/titanium/view/TiGradientDrawable.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  apidoc/Titanium/UI/View.yml
Labels: android, docs, feature, in-qe-testing, no tests, parity

#9888 Try fixing build
  Jenkinsfile
Labels: needs jira, no tests

#9835 [7_1_X][TIMOB-25552] Android: Fixed nested scrolling within disabled ScrollView to propagate to parent view
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiNestedListView.java
Labels: android, bug, in-qe-testing, no tests

#9625 [TIMOB-25552] Android: Fixed nested scrolling within disabled ScrollView to propagate to parent view
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiNestedListView.java
Labels: android, bug, in-qe-testing, no tests

#9825 Add grunt task to auto-fix JS files
  Gruntfile.js
Labels: needs jira, no tests

#9874 [7_1_X][TIMOB-25600] Android : SDK 7.0.0.GA not applying custom theme attributes properly on TableViewRow, but SDK 5.5.1 or below works properly
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug

#9833 [7_1_X][TIMOB-25619] Android: Allow non-file TiBlob to be previewed
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
Labels: android, bug, no tests

#9771 [TIMOB-25619] Android: Allow non-file TiBlob to be previewed
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
Labels: android, improvement, in-qe-testing, no tests

#9891 [MOD-2382] Update ti.touchid and ti.identity
  support/module/packaged/modules.json
Labels: android

#9822 [TIMOB-25771] Android: Fixed 7.0.2 app build failure for systems that require proxy access
  android/cli/commands/_build.js
Labels: android, bug, no tests

#9886 (7_1_X) [TIMOB-25766][TIMOB-25727] Android: Ti.Utils.base64encode fixes
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  android/modules/utils/src/java/ti/modules/titanium/utils/UtilsModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  build/scons-test.js
  iphone/Classes/UtilsModule.m
  tests/Resources/ti.utils.test.js
Labels: android, bug, in-qe-testing, ios, parity

#9885 [TIMOB-25766][TIMOB-25727] Android: Ti.Utils.base64encode fixes
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  android/modules/utils/src/java/ti/modules/titanium/utils/UtilsModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  build/scons-test.js
  iphone/Classes/UtilsModule.m
  tests/Resources/ti.utils.test.js
Labels: android, bug, ios, parity

#9892 [7_1_X][MOD-2382] Update ti.touchid and ti.identity
  support/module/packaged/modules.json
Labels: android

#9725 [MOD-2378] Fix issues around ImageView memory management
  android/modules/ui/src/java/ti/modules/titanium/ui/ImageViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIImageView.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  support/module/packaged/modules.json
Labels: android, bug, no tests
