Repository tidev/titanium-sdk, pull requests merged in 2018-07, with the labels that each got.

#9219 [TIMOB-24973] iOS: Fix background recording issues while UIBackgroundModes set to true
  iphone/Classes/TiMediaAudioRecorderProxy.mm
Labels: bug 🐜, community 🔥, ios, no tests

#10145 [TIMOB-26167] Android: Fixed TextField/TextArea focus/blur handling
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  tests/Resources/ti.ui.textfield.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, parity 👯‍♀️

#10149 [7_3_X][TIMOB-26167] Android: Fixed TextField/TextArea focus/blur handling
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  tests/Resources/ti.ui.textfield.addontest.js
Labels: android, bug 🐜, parity 👯‍♀️

#10148 [TIMOB-26155] Android: Fix generatedDiffProperties()
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ViewItem.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10151 Updated Window.yml
  apidoc/Titanium/UI/Window.yml
Labels: docs 📔

#10147 Updated SearchBar.yml
  apidoc/Titanium/UI/SearchBar.yml
Labels: docs 📔

#10165 Remove invalid character in media docs
  apidoc/Titanium/Media/Media.yml
Labels: docs 📔, needs jira 🚨

#10162 [DOC] Minor doc update on Ti.UI.AlertDialog
  apidoc/Titanium/UI/AlertDialog.yml
Labels: docs 📔, needs jira 🚨

#10160 [Doc] : Minor doc update on Ti.UI.ListItem
  apidoc/Titanium/UI/ListItem.yml
Labels: docs 📔, needs jira 🚨

#10163 [Doc] Minor update to Ti.UI.Label
  apidoc/Titanium/UI/Label.yml
Labels: docs 📔, needs jira 🚨

#10159 Update SearchBar and SearchView apidoc
  apidoc/Titanium/UI/ScrollView.yml
  apidoc/Titanium/UI/SearchBar.yml
Labels: docs 📔, needs jira 🚨

#10164 Added searchbar_windows.png
  apidoc/images/searchbar/searchbar_windows.png
Labels: docs 📔, needs jira 🚨

#10168 [TIMOB-24452] iOS: Fix some type warnings for the background-services API
  iphone/Classes/TiApp.h
  iphone/Classes/TiApp.m
  iphone/Classes/TiAppiOSProxy.m
Labels: ios, no tests

#10158 [7_3_X][TIMOB-26187] Android: Fix Ti.UI.CardView borderRadius
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, no tests

#10156 [TIMOB-26115] TiAPI: Add support for console.timeLog
  android/runtime/common/src/js/console.js
  apidoc/Global/console/console.yml
  iphone/Classes/TiConsole.m
  tests/Resources/console.addontest.js
Labels: android, docs 📔, feature 🚀, ios

#10088 [TIMOB-26094] iOS 12: Add new Ti.UI.TextField API's
  Jenkinsfile
  apidoc/Titanium/UI/TextField.yml
  apidoc/Titanium/UI/UI.yml
  iphone/Classes/TiUITextWidget.m
  iphone/Classes/UIModule.m
  tests/Resources/ti.ui.textfield.addontest.js
Labels: docs 📔, improvement, in-qe-testing 🕵️‍♂️, ios

#10155 [TIMOB-26184] iOS: Allow modification of global timer functions
  iphone/Classes/KrollContext.m
  tests/Resources/timers.addontest.js
Labels: bug 🐜, ios, parity 👯‍♀️

#10150 [TIMOB-26179] Check for property existence using hasProperty
  iphone/Classes/KrollObject.m
  tests/Resources/ti.proxy.addontest.js
Labels: bug 🐜, ios

#10179 [7_2_X][TIMOB-26202] Android: Fix references when releasing views
  android/build/common.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/JNIUtil.h
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/JavaObject.h
  android/runtime/v8/src/native/ReferenceTable.cpp
  android/runtime/v8/src/native/ReferenceTable.h
  android/runtime/v8/v8.iml
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, no tests

#10184 Update to node-titanium-sdk 0.5.0
  package-lock.json
  package.json
Labels: android, bug 🐜, cli 📟, needs jira 🚨

#10183 [TIDOC-3213] Fix arguments example with more up-to-date version
  apidoc/Titanium/UI/Window.yml
Labels: docs 📔

#10167 [TIDOC-3211] Modified "CardView" example code to not use deprecated APIs
  apidoc/Titanium/UI/Android/CardView.yml
Labels: android, docs 📔, no tests

#10182 [7_3_X][TIMOB-26202] Android: Fix references when releasing views
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/JNIUtil.h
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/JavaObject.h
  android/runtime/v8/src/native/ReferenceTable.cpp
  android/runtime/v8/src/native/ReferenceTable.h
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, no tests

#10174 [TIMOB-26202] Android: Fix references when releasing views
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/JNIUtil.h
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/JavaObject.h
  android/runtime/v8/src/native/ReferenceTable.cpp
  android/runtime/v8/src/native/ReferenceTable.h
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, no tests

#10185 [TIMOB-26215] Android: Fix TiBlob.imageAsCompressed()
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  tests/Resources/ti.ui.view.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️

#10192 [TIMOB-25302](7_3_X) : Home indicator auto hiding bug fix in navigation window
  iphone/Classes/TiWindowProxy.m
Labels: ios, no tests

#10152 [TIMOB-26181] Android: Do not init kroll object if krollruntime is disposed
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10175 [TIMOB-26203] Android: Prevent exception in Log for HTTP response
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, bug 🐜, no tests

#10176 [TIMOB-26205] Android: Fix ActionBar "CalledFromWrongThreadException" error
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActivityProxy.java
Labels: android, bug 🐜, community 🔥, in-qe-testing 🕵️‍♂️, no tests

#10198 Update ActivityIndicator.yml
  apidoc/Titanium/UI/ActivityIndicator.yml
Labels: docs 📔

#10201 [TIMOB-26233] (7_3_X) TiAPI: Use Hyperloop 3.1.0
  support/module/packaged/modules.json
Labels: android, improvement, ios, windows

#10200 [TIMOB-26233] TiAPI: Use Hyperloop 3.1.0
  support/module/packaged/modules.json
Labels: android, improvement, ios, windows

#10206 [TIMOB-26055] Android: Fixed build failure if AAR AndroidManifest.xml contains multiple ${applicationId}
  android/cli/commands/_build.js
Labels: android, bug 🐜, no tests

#10194 [TIMOB-26211] iOS: Round layout percentage down instead of up (parity)
  iphone/Classes/TiDimension.h
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests, parity 👯‍♀️

#10197 [7_2_X][TIMOB-26202] Android: Improve memory management
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/android/AndroidModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/searchview/TiUISearchView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/Proxy.cpp
  android/runtime/v8/src/native/V8Object.cpp
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, no tests

#10203 [7_3_X][TIMOB-26202] Android: Improve memory management
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/android/AndroidModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/searchview/TiUISearchView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/Proxy.cpp
  android/runtime/v8/src/native/V8Object.cpp
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, no tests

#10195 [TIMOB-26202] Android: Improve memory management
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBinding.fm
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/android/AndroidModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/searchview/TiUISearchView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableViewRowProxyItem.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/ReferenceTable.java
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/Proxy.cpp
  android/runtime/v8/src/native/V8Object.cpp
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, no tests

#10208 [TIMOB-26218] Android: Resolved Veracode string equality warnings.
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/modules/media/src/java/ti/modules/titanium/media/TiCameraActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
Labels: android, improvement, no tests

#10213 [TIMOB-26237] iOS: Fix local notifications triggered when the app is closed
  apidoc/Titanium/App/iOS/LocalNotification.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiApp.m
  iphone/Classes/TiUtils.h
  iphone/Classes/TiUtils.m
Labels: bug 🐜, docs 📔, ios, no tests

#10180 [TIMOB-26063] iOS: Add "onlink" callback property to WebView, move KrollWrapper to own file
  iphone/Classes/KrollCallback.h
  iphone/Classes/KrollCallback.m
  iphone/Classes/KrollWrapper.h
  iphone/Classes/KrollWrapper.m
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiViewTemplate.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
Labels: customer, feature 🚀, in-qe-testing 🕵️‍♂️, ios, no tests, parity 👯‍♀️

#9732 [TIMOB-24909] iOS: Move Ti.Media.AudioPlayer to AVPlayer
  android/modules/media/src/java/ti/modules/titanium/media/AudioPlayerProxy.java
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/modules/media/src/java/ti/modules/titanium/media/TiSound.java
  apidoc/Titanium/Media/AudioPlayer.yml
  apidoc/Titanium/Media/Media.yml
  iphone/Classes/AudioStreamer/AudioStreamer.h
  iphone/Classes/AudioStreamer/AudioStreamer.m
  iphone/Classes/AudioStreamer/AudioStreamerCUR.h
  iphone/Classes/AudioStreamer/AudioStreamerCUR.m
  iphone/Classes/MediaModule.h
  iphone/Classes/MediaModule.m
  iphone/Classes/ThirdpartyNS.h
  iphone/Classes/TiMediaAudioPlayerProxy.h
  iphone/Classes/TiMediaAudioPlayerProxy.m
  iphone/Classes/TiMediaTypes.h
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  tests/Resources/ti.media.audioplayer.test.js
Labels: android, docs 📔, improvement, in-qe-testing 🕵️‍♂️, ios

#10091 [TIMOB-26103] iOS 12: Expose new UserNotifications API's
  apidoc/Titanium/App/iOS/UserNotificationCategory.yml
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiApp.m
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiAppiOSUserNotificationCategoryProxy.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiUtils.m
  tests/Resources/ti.app.ios.searchquery.test.js
  tests/Resources/ti.app.ios.test.js
Labels: docs 📔, feature 🚀, ios

#10030 [TIMOB-26023] TiAPI: Improve Ti.Blob parity
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  apidoc/Titanium/Blob.yml
  iphone/Classes/TiBlob.m
  iphone/Classes/UIImage+Alpha.h
  iphone/Classes/UIImage+Alpha.m
  iphone/Classes/UIImage+Resize.m
  iphone/Classes/UIImage+RoundedCorner.m
  tests/Resources/ti.blob.test.js
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, docs 📔, improvement, ios, parity 👯‍♀️

#9955 [TIMOB-24817] Android: Implement ListView Alloy widget support
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListViewTemplate.java
  android/modules/ui/src/js/listview.js
Labels: android, customer, improvement, in-qe-testing 🕵️‍♂️, no tests

#10173 [DOC] Review of Event.yml
  apidoc/Titanium/Calendar/Event.yml
Labels: docs 📔, needs jira 🚨

#10219 [TIMOB-26240] Android: Removed harmless activity errors/warnings logged on startup
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, improvement, no tests

#10220 [7_3_X][TIMOB-26240] Android: Removed harmless activity errors/warnings logged on startup
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, improvement, no tests
