Repository tidev/titanium-sdk, pull requests merged in 2018-05, with the labels that each got.

#10003 [TIMOB-25963] Android: Improve KrollRuntime error output
  android/runtime/common/src/java/org/appcelerator/kroll/KrollExceptionHandler.java
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
  android/runtime/v8/src/native/JNIUtil.cpp
  android/runtime/v8/src/native/JNIUtil.h
  android/runtime/v8/src/native/JSException.cpp
  android/runtime/v8/src/native/JSException.h
  android/runtime/v8/src/native/Proxy.cpp
  android/runtime/v8/src/native/ProxyFactory.cpp
  android/runtime/v8/src/native/TypeConverter.cpp
  android/runtime/v8/src/native/V8Runtime.cpp
  android/runtime/v8/src/native/V8Runtime.h
  android/runtime/v8/src/native/V8Util.cpp
  android/runtime/v8/src/native/V8Util.h
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
  tests/Resources/ti.addontest.js
Labels: android, improvement, in-qe-testing 🕵️‍♂️

#10016 updated Toolbar.yml
  apidoc/Titanium/UI/Toolbar.yml
Labels: docs 📔

#9969 [TIMOB-25883] iOS - "Callback was already called." error thrown when source contains ES6 error
  android/cli/commands/_build.js
  iphone/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵️‍♂️, ios, no tests

#9807 [TIMOB-23247] CLI: Implement Native Module clean
  android/cli/commands/_buildModule.js
  android/cli/commands/_cleanModule.js
  cli/commands/clean.js
  iphone/cli/commands/_cleanModule.js
Labels: android, cli 📟, feature 🚀, in-qe-testing 🕵️‍♂️, ios, no tests

#9778 [TIMOB-25418] Android CLI: Fix doc-generation for non-markdown files
  android/cli/commands/_buildModule.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵️‍♂️, no tests

#9729 [AC-5514] Android: SearchView hintTextColor
  android/modules/ui/src/java/ti/modules/titanium/ui/android/SearchViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/searchview/TiUISearchView.java
  apidoc/Titanium/UI/Android/SearchView.yml
Labels: android, community 🔥, docs 📔, in-qe-testing 🕵️‍♂️, needs tests 🚨

#10020 TIDOC-3183: Update to latest js-yaml
  apidoc/Titanium/Android/QuickSettingsService.yml
  apidoc/Titanium/UI/DashboardView.yml
  apidoc/Titanium/UI/iOS/SystemButtonStyle.yml
  apidoc/Titanium/UI/iPhone/ActivityIndicatorStyle.yml
  apidoc/Titanium/UI/iPhone/SystemButtonStyle.yml
  package-lock.json
  package.json
Labels: docs 📔

#10023 [TIMOB-26009] Update Ti.Map iOS to 3.1.0, update Ti.Map Android to 4.2.0
  support/module/packaged/modules.json
Labels: android, feature 🚀, ios, no tests

#10024 [TIDOC-3182] Fix DocumentViewer docs
  apidoc/Titanium/UI/iOS/DocumentViewer.yml
Labels: docs 📔

#10025 [TIMOB-26010] Android: Add a missing null check in getResponseHeaders
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, bug 🐜, community 🔥, no tests

#10026 [TIDOC-3184] Add Android note about remote images
  apidoc/Titanium/UI/ImageView.yml
Labels: docs 📔

#9966 [TIMOB-25906] : iOS Native exceptions not thrown when using run-on-main-thread
  iphone/Classes/TiBase.m
  tests/Resources/ti.xml.addontest.js
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios

#10018 [TIDOC-3179] fix sessionmode to audioSessionCategory
  apidoc/Titanium/Media/AudioPlayer.yml
Labels: docs 📔

#10029 [MOD-2404] : Ti.Barcode iOS overlay not visible on iPhone
  iphone/Classes/TiUtils.h
  iphone/Classes/TiUtils.m
Labels: ios, no tests

#9907 [TIMOB-17889] Android: Support Integer to Boolean conversion
  android/titanium/src/java/org/appcelerator/titanium/util/TiConvert.java
  tests/Resources/ti.api.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️

#10028 [TIMOB-26022] TiAPI: Improve Ti.Buffer parity
  android/titanium/src/java/ti/modules/titanium/BufferProxy.java
  iphone/Classes/TiBuffer.m
  tests/Resources/ti.buffer.test.js
Labels: android, bug 🐜, ios, parity 👯‍♀️

#9728 [TIMOB-25667] Android: Added TableView "scrollable" property support
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/TableView.yml
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, docs 📔, improvement, in-qe-testing 🕵️‍♂️, parity 👯‍♀️

#9223 [TIMOB-24707] Android: Show images and videos in picker
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiFileFactory.java
  android/titanium/src/java/org/appcelerator/titanium/io/TitaniumBlob.java
  apidoc/Titanium/Media/Media.yml
  tests/Resources/ti.media.addontest.js
Labels: android, community 🔥, docs 📔, improvement, parity 👯‍♀️

#10019 [TIMOB-26025] TiAPI: Improve Ti.Filesystem.File parity
  android/titanium/src/java/org/appcelerator/titanium/TiFileProxy.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiBaseFile.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiFile.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiResourceFile.java
  apidoc/Titanium/Filesystem/File.yml
  iphone/Classes/TiFilesystemFileProxy.h
  iphone/Classes/TiFilesystemFileProxy.m
  tests/Resources/ti.filesystem.file.test.js
Labels: android, bug 🐜, docs 📔, improvement, ios, parity 👯‍♀️

#10039 Migrated unit-tests
  tests/Resources/ti.api.addontest.js
  tests/Resources/ti.media.addontest.js
  tests/Resources/ti.ui.scrollableview.test.js
  tests/Resources/ti.ui.tableview.addontest.js
  tests/Resources/ti.xml.addontest.js
Labels: needs jira 🚨

#9674 Android: Fixed picker spinner to size/position columns correctly on Android 5.0 and higher
  android/modules/ui/src/java/kankan/wheel/widget/WheelView.java
Labels: android, community 🔥, in-qe-testing 🕵️‍♂️, no tests

#10042 [TIMOB-25989] Add fontSize description for Windows
  apidoc/Titanium/UI/Font.yml
Labels: docs 📔

#9942 [TIMOB-25874] Fix iOS 10+ refresh-control when using navigation-window and large titles
  apidoc/Titanium/UI/RefreshControl.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUIRefreshControlProxy.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUtils.m
  tests/Resources/ti.ui.listview.addontest.js
Labels: bug 🐜, docs 📔, in-qe-testing 🕵️‍♂️, ios

#10036 [TIDOC-3188] Generated API docs do not display default values for properties/arguments
  apidoc/docgen.js
  apidoc/lib/jsduck_generator.js
  apidoc/templates/jsduck.ejs
  apidoc/templates/jsduck/class.ejs
  apidoc/templates/jsduck/event.ejs
  apidoc/templates/jsduck/method.ejs
  apidoc/templates/jsduck/param.ejs
  apidoc/templates/jsduck/property.ejs
Labels: docs 📔, improvement

#10027 [TIMOB-25744] iOS: Fix APSHTTPClient post data leak
  iphone/Classes/APSHTTPClient/APSHTTPClient.h
  iphone/Classes/APSHTTPClient/APSHTTPHelper.h
  iphone/Classes/APSHTTPClient/APSHTTPPostForm.h
  iphone/Classes/APSHTTPClient/APSHTTPRequest.h
  iphone/Classes/APSHTTPClient/APSHTTPResponse.h
  iphone/Classes/APSHTTPClient/libAPSHTTPClient.a
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#9973 [TIMOB-25916] iOS: Fix Ti.Media.VideoPlayer.scalingMode property handling
  iphone/Classes/TiMediaVideoPlayerProxy.m
Labels: bug 🐜, community 🔥, in-qe-testing 🕵️‍♂️, ios, no tests

#9804 [TIMOB-25302]: iPhone X Add new home-indicator related API's
  apidoc/Titanium/UI/Window.yml
  iphone/Classes/TiControllerProtocols.h
  iphone/Classes/TiRootViewController.m
  iphone/Classes/TiUITabGroupProxy.m
  iphone/Classes/TiUITabProxy.m
  iphone/Classes/TiUIiOSNavWindowProxy.m
  iphone/Classes/TiViewController.m
  iphone/Classes/TiWindowProxy.m
  tests/Resources/ti.ui.window.addontest.js
Labels: docs 📔, ios

#10046 [TIMOB-25897] : Ti.UI.iOS.Stepper handles "value" boundaries incorrect
  iphone/Classes/TiUIiOSStepper.m
  tests/Resources/ti.ui.ios.stepper.addontest.js
Labels: ios

#9748 [TIMOB-25684] iOS: Adds home-screen like parallax effect to views
  apidoc/Titanium/UI/View.yml
  iphone/Classes/TiUIView.m
  tests/Resources/ti.ui.view.addontest.js
Labels: community, community 🔥, docs, docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, ios

#9226 [TIMOB-24982] Android/iOS: Add WebView zoomLevel
  android/modules/ui/src/java/ti/modules/titanium/ui/WebViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebViewClient.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/WebView.yml
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIWebViewProxy.m
Labels: android, community 🔥, docs 📔, improvement, ios, no tests

#9759 [TIMOB-23888] iOS: Use asynchronous openURL API on iOS 10+
  apidoc/Titanium/Platform/Platform.yml
  iphone/Classes/PlatformModule.m
  iphone/Classes/TiApp.m
  iphone/Classes/TiUIWebView.m
Labels: docs 📔, improvement, in-qe-testing 🕵️‍♂️, ios, no tests

#10047 Update ti.ui.window.addontest.js
  tests/Resources/ti.ui.window.addontest.js
Labels: needs jira 🚨

#10005 [TIMOB-25970] Android: 'postlayout' event not working for Picker with type Titanium.UI.PICKER_TYPE_DATE
  android/modules/ui/res/layout/titanium_ui_date_picker_spinner.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/CustomDatePicker.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUIDatePicker.java
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug 🐜

#10053 Restore app.js
  iphone/Resources/app.js
Labels: needs jira 🚨

#10056 Update 7.2.0 references in documentation
  apidoc/Titanium/Filesystem/File.yml
  apidoc/Titanium/Media/Media.yml
  apidoc/Titanium/UI/TableView.yml
  apidoc/Titanium/UI/View.yml
  apidoc/Titanium/UI/WebView.yml
Labels: docs 📔, needs jira 🚨, no tests

#10055 [TIMOB-20367] Android: fix file leak in HTTPClient
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  tests/Resources/ti.network.httpclient.addontest.js
Labels: android, bug 🐜, community 🔥

#10033 [TIMOB-26021] iOS: Search Bar- search results tableview background color change
  apidoc/Titanium/UI/TableView.yml
  iphone/Classes/TiUITableView.m
  tests/Resources/ti.ui.tableview.addontest.js
Labels: docs 📔, ios

#10013 [TIMOB-17363] Android/iOS: Added "MaskedImage" support to Android. Moved BLEND_MODE constants to "Ti.UI".
  android/modules/ui/src/java/ti/modules/titanium/ui/MaskedImageProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIMaskedImage.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/MaskedImage.yml
  apidoc/Titanium/UI/UI.yml
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/UIModule.m
  tests/Resources/ti.ui.maskedimage.addontest.js
Labels: android, docs 📔, feature 🚀, ios, parity 👯‍♀️

#10061 [TIMOB-26051] Android: Fire refreshstart event
  android/modules/ui/src/java/ti/modules/titanium/ui/RefreshControlProxy.java
Labels: android, bug 🐜, no tests, parity 👯‍♀️

#10062 [TIDOC-3189] Fixed Android "Intent" get*Extra() method docs for bool/int/long/double
  apidoc/Titanium/Android/Intent.yml
Labels: android, docs 📔, improvement

#10045 [TIMOB-25503] Android: Fix CardView template compatibility
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  tests/Resources/ti.ui.listview.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️

#10050 [TIMOB-26046] (7_2_X) TiAPI: Remove "ti.geo" event (GDPR)
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  iphone/Classes/GeolocationModule.m
Labels: android, ios, no tests

#10049 [TIMOB-26046] TiAPI: Remove "ti.geo" event (GDPR)
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  iphone/Classes/GeolocationModule.m
Labels: android, ios, no tests

#10048 [TIMOB-25990] Android: Fix handleGetView() compatibility with Activities
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵️‍♂️, no tests

#10063 Delete ti.ui.listview.addontest.js
  tests/Resources/ti.ui.listview.addontest.js
Labels: needs jira 🚨

#9819 [TIMOB-25775] iOS: Fix gradient getters
  iphone/Classes/TiGradient.m
  iphone/Classes/TiUtils.m
  tests/Resources/ti.ui.view.test.js
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵️‍♂️, ios

#10021 [TIMOB-26006] Android: Optimize libkroll-v8 size
  android/cli/commands/_build.js
  android/runtime/v8/src/native/common.mk
Labels: android, improvement, in-qe-testing 🕵️‍♂️

#10065 [TIMOB-26055] Android: Handle injected build variables
  android/cli/commands/_build.js
Labels: android, bug 🐜

#10066 [TIDOC-3190] Updated Ti.Network "online" property documentation
  apidoc/Titanium/Network/Network.yml
Labels: docs 📔, improvement

#10034 [TIMOB-26016] iOS 11: Expose "showBackgroundLocationIndicator" property for background location monitoring
  apidoc/Titanium/Geolocation/Geolocation.yml
  iphone/Classes/GeolocationModule.h
  iphone/Classes/GeolocationModule.m
  iphone/Classes/UtilsModule.m
Labels: docs 📔, ios, no tests

#10014 [TIMOB-17235]: iOS Windows in tabGroup flicker on first open
  iphone/Classes/TiUITabProxy.m
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: in-qe-testing 🕵️‍♂️, ios

#9396 [TIMOB-17964] Add custom error message for wrong theme used.
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, improvement, in-qe-testing 🕵️‍♂️, no tests

#9391 [TIMOB-25219] Android: FileNotFoundExceptions should not be inside the Titanium log
  android/titanium/src/java/org/appcelerator/titanium/view/TiDrawableReference.java
Labels: android, improvement, in-qe-testing 🕵️‍♂️, no tests

#10067 Update issue templates
  .github/ISSUE_TEMPLATE/propose-a-feature.md
  .github/ISSUE_TEMPLATE/report-a-bug.md
Labels: needs jira 🚨

#9890 [TIMOB-25801] : iOS SDK 7.0.2.GA - VideoPlayer playback issues
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.addontest.js
Labels: bug 🐜, ios

#9908 [TIMOB-25836] : iOS Using "run-on-main-thread", multiple global event listeners do not work
  iphone/Classes/AppModule.m
  tests/Resources/ti.app.addontest.js
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios

#9608 [TIMOB-25522] iOS: Add "navigationWindow" property to Ti.UI.Window, add unit-tests for all nav-window API's
  apidoc/Titanium/UI/Window.yml
  iphone/Classes/TiWindowProxy.m
  tests/Resources/ti.ui.ios.navigationwindow.addontest.js
Labels: docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, ios

#9193 [TIMOB-15249] Android: headerView & footerView cannot be removed or resized after creation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug 🐜, community 🔥, in-qe-testing 🕵️‍♂️

#10070 [TIMOB-16597] iOS: Exposing overCurrentContext and overFullScreenContext modal presentation style
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUIiOSProxy.h
  iphone/Classes/TiUIiOSProxy.m
  tests/Resources/ti.ui.window.addontest.js
Labels: docs 📔, ios

#10071 [TIMOB-26033]: iOS Ti.Media.VideoPlayer shows an error on Window Close on SDK 7.1.1.GA
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.addontest.js
Labels: ios

#9850 [TIMOB-24206] iOS: Fix image leaks on JSCore, use JSCore by default inside iOS-core as well
  iphone/Classes/KrollContext.m
  iphone/Classes/TiBindingTiValue.m
  iphone/Classes/defines.h
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#9852 [TIMOB-25566] iOS: Fix setting "showControls" on videoplayer when URL is changed after creation
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.test.js
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#9818 [TIMOB-25314] : iOS camera with overlay view is zoomed
  iphone/Classes/MediaModule.m
Labels: bug 🐜, in-qe-testing 🕵️‍♂️, ios, no tests

#10015 [TIMOB-25992] Android/iOS: Add clang-format to the default modules template
  android/templates/module/default/template/android/.clang-format
  iphone/templates/module/default/template/ios/.clang-format
  templates/module/default/template/README.ejs
Labels: android, community 🔥, improvement, ios

#10064 [TIMOB-25963] Android: Always include error message
  android/runtime/v8/src/native/V8Object.cpp
  android/runtime/v8/src/native/V8Util.cpp
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
Labels: android, bug 🐜, no tests

#9865 [TIMOB-25795] Android: Expose all missing Android.R values to be used in Hyperloop
  android/titanium/src/java/org/appcelerator/titanium/proxy/RProxy.java
  apidoc/Titanium/Android/R.yml
  apidoc/Titanium/App/Android/R.yml
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵️‍♂️, no tests

#9367 [TIMOB-17964] Android: Improve Ti.UI.Toolbar default behavior
  android/modules/ui/src/java/ti/modules/titanium/ui/ToolbarProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiToolbar.java
  apidoc/Titanium/UI/Toolbar.yml
Labels: android, docs 📔, improvement, in-qe-testing 🕵️‍♂️, no tests

#9882 [TIMOB-25755] Android: Allow WebView to support certificate requests
  android/dependency.json
  android/modules/ui/lib/WebViewClient.jar
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebViewClient.java
Labels: android, improvement, in-qe-testing 🕵️‍♂️, no tests

#9758 [TIMOB-25685] Android: TabGroup 'close' event is never fired
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  apidoc/Titanium/UI/TabGroup.yml
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: android, bug 🐜, docs 📔, ios

#10051 iOS: Support GDPR (APSAnalytics 2.1.0), add missing native header
  apidoc/Titanium/Analytics/Analytics.yml
  iphone/Classes/APSAnalytics/APSAnalytics.h
  iphone/Classes/APSAnalytics/APSUtility.h
  iphone/Classes/APSAnalytics/libAPSAnalytics.a
  iphone/Classes/AnalyticsModule.h
  iphone/Classes/AnalyticsModule.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  tests/ti.analytics.addontest.js
Labels: docs 📔, feature 🚀, ios

#10052 iOS: (7_2_X) Support GDPR (APSAnalytics 2.1.0), add missing native header
  apidoc/Titanium/Analytics/Analytics.yml
  iphone/Classes/APSAnalytics/APSAnalytics.h
  iphone/Classes/APSAnalytics/APSUtility.h
  iphone/Classes/APSAnalytics/libAPSAnalytics.a
  iphone/Classes/AnalyticsModule.h
  iphone/Classes/AnalyticsModule.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  tests/ti.analytics.addontest.js
Labels: docs, feature 🚀, ios

#10022 [TIMOB-26007] iOS: Refactor crash dialog
  iphone/Classes/GeolocationModule.m
  iphone/Classes/TiApp.m
  iphone/Classes/TiBindingTiValue.m
  iphone/Classes/TiErrorController.h
  iphone/Classes/TiErrorController.m
  iphone/Classes/TiExceptionHandler.h
  iphone/Classes/TiExceptionHandler.m
  iphone/Classes/TiRootViewController.m
  iphone/Classes/TiWindowProxy.m
  iphone/layout/layout.xcodeproj/project.pbxproj
  tests/Resources/error.test.js
Labels: improvement, ios, no tests, parity 👯‍♀️

#10072 [TIMOB-26062] iOS: Fix all Xcode Analyzer warnings & possible leaks
  iphone/Classes/AppModule.m
  iphone/Classes/GeolocationModule.m
  iphone/Classes/TiFilesystemFileProxy.m
  iphone/Classes/TiUIView.m
  iphone/Classes/TiUIWebViewProxy.m
  iphone/Classes/TiUtils.m
  iphone/Classes/TiViewProxy.m
  tests/Resources/ti.ui.webview.addontest.js
Labels: bug 🐜, ios

#10075 [TIMOB-26069] Android: Bring TitaniumDev up to speed with recent changes.
  android/dev/TitaniumTest/src/com/titanium/test/AssetCryptImpl.java
  android/modules/ui/ui.iml
Labels: android, improvement, no tests
