Repository tidev/titanium-sdk, pull requests merged in 2019-12, with the labels that each got.

#11371 docs(api): make event argument in fireEvent optional
  apidoc/Titanium/Proxy.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#11363 fix(ios): expose TiApp singleton accessor to swift
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.h
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11329 fix(ios): tintColor not working for TabbedBar in iOS 13
  apidoc/Titanium/UI/ButtonBar.yml
  iphone/Classes/TiUIButtonBar.m
Labels: docs 📔, in-qe-testing 🕵, ios, no tests

#11373 fix(ios): use correct target for transpiling on ios
  iphone/cli/commands/_build.js
Labels: cli 📟, in-qe-testing 🕵, ios

#11295 fix(ios): webview onlink is now called only on link activated
  apidoc/Titanium/UI/WebView.yml
  iphone/Classes/TiUIWebView.m
Labels: community 🔥, docs 📔, ios, no tests

#11343 chore(ios): drop xcode 8 support
  iphone/Classes/GeolocationModule.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUINavigationWindowProxy.m
  iphone/Classes/TiUIScrollView.m
  iphone/Classes/TiUITabGroupProxy.m
  iphone/Classes/TiUITabProxy.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIiOSProxy.h
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/TiUIiOSSplitWindow.m
  iphone/Classes/UIModule.m
  iphone/iphone/Titanium_Prefix.pch
  iphone/package.json
Labels: BREAKING CHANGES ⚠️, improvement, in-qe-testing 🕵, ios, no tests

#11350 chore: removed deprecated geolocation APIs
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Geolocation/Geolocation.yml
  iphone/Classes/GeolocationModule.m
Labels: BREAKING CHANGES ⚠️, android, docs 📔, in-qe-testing 🕵, ios, no tests

#11362 iOS: remove Ti.Network.TCPSocket
  apidoc/Titanium/Network/BonjourBrowser.yml
  apidoc/Titanium/Network/BonjourService.yml
  apidoc/Titanium/Network/Network.yml
  apidoc/Titanium/Network/TCPSocket.yml
  iphone/Classes/NetworkModule.h
  iphone/Classes/NetworkModule.m
  iphone/Classes/TiNetworkBonjourBrowserProxy.m
  iphone/Classes/TiNetworkBonjourServiceProxy.h
  iphone/Classes/TiNetworkBonjourServiceProxy.m
  iphone/Classes/TiNetworkTCPSocketProxy.h
  iphone/Classes/TiNetworkTCPSocketProxy.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  tests/Resources/ti.network.bonjourbrowser.addontest.js
  tests/Resources/ti.network.bonjourservice.addontest.js
  tests/Resources/ti.network.tcp.addontest.js
Labels: BREAKING CHANGES ⚠️, bug 🐜, docs 📔, improvement, in-qe-testing 🕵, ios

#11259 fix(ios): do not log Ti.App events
  iphone/Classes/AppModule.m
Labels: bug 🐜, community 🔥, in-qe-testing 🕵, ios, no tests

#11361 refactor(android): remove Ti.UI.WebView.onStopBlacklistedUrl event
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebViewClient.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/WebView.yml
Labels: BREAKING CHANGES ⚠️, android, docs 📔, in-qe-testing 🕵, no tests

#11316 Fix for TIMOB-23281 for iOS 13
  iphone/Classes/TiUISearchBar.m
Labels: bug 🐜, community 🔥, ios, needs jira 🚨, no tests

#11251 fix(android): add single/doubletap to scrollview TIMOB-13286
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
Labels: android, community 🔥, in-qe-testing 🕵, needs tests 🚨

#11294 feat(android): Update V8 to 7.8.279.23
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBinding.fm
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.h.fm
  android/package.json
  android/runtime/common/src/js/module.js
  android/runtime/v8/src/native/EventEmitter.h
  android/runtime/v8/src/native/JSDebugger.cpp
  android/runtime/v8/src/native/JSException.h
  android/runtime/v8/src/native/JavaObject.cpp
  android/runtime/v8/src/native/JavaObject.h
  android/runtime/v8/src/native/KrollBindings.cpp
  android/runtime/v8/src/native/NativeObject.h
  android/runtime/v8/src/native/Proxy.cpp
  android/runtime/v8/src/native/Proxy.h
  android/runtime/v8/src/native/TypeConverter.cpp
  android/runtime/v8/src/native/V8Object.cpp
  android/runtime/v8/src/native/V8Runtime.cpp
  android/runtime/v8/src/native/V8Runtime.h
  android/runtime/v8/src/native/V8Util.cpp
  android/runtime/v8/src/native/V8Util.h
  android/runtime/v8/src/native/modules/APIModule.cpp
  android/runtime/v8/src/native/modules/ScriptsModule.cpp
  android/runtime/v8/src/native/modules/ScriptsModule.h
  android/templates/module/generated/{{ModuleIdAsIdentifier}}Bootstrap.cpp.ejs
  build/lib/android/V8Snapshots.h.ejs
  build/lib/android/snapshot.js
  build/lib/android/startup.ejs
  package-lock.json
  package.json
Labels: android, improvement, in-qe-testing 🕵, no tests

#11376 fix(ios): server is receiving two consecutive calls for the same url
  iphone/Classes/TiUIWebView.m
  tests/Resources/ti.ui.webview.addontest.js
Labels: in-qe-testing 🕵, ios

#11389 fix(ios): proper macro used for wrapping code
  iphone/Classes/TiNetworkSocketProxy.h
  iphone/Classes/TiNetworkSocketProxy.m
  iphone/Classes/TiNetworkSocketTCPProxy.h
  iphone/Classes/TiNetworkSocketTCPProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11355 fix(android): getCurrentPosition() compatibility with some Samsung devices
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11370 fix(ios): status bar background color crash fix ios13
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11377 fix(ios): navBar properties not working properly with extendEdges set to Ti.UI.EXTEND_EDGE_TOP
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11375 fix(android): specify default inspector context
  android/runtime/v8/src/native/InspectorClient.h
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11390 chore(modules): remove deprecated modules
  support/module/packaged/modules.json
Labels: BREAKING CHANGES ⚠️, in-qe-testing 🕵

#11327 fix(android): fix scroll view's layout resizing with children
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11280 fix(android): fix losing elevation effect after dimensions change
  android/titanium/src/java/org/appcelerator/titanium/view/TiBorderWrapperView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11385 chore(ios): drop iOS 9 support
  iphone/Classes/CalendarModule.m
  iphone/Classes/ContactsModule.m
  iphone/Classes/MediaModule.m
  iphone/Classes/PlatformModule.m
  iphone/Classes/TiAppiOSLocalNotificationProxy.m
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiAppiOSUserNotificationActionProxy.m
  iphone/Classes/TiAppiOSUserNotificationCategoryProxy.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiMediaAudioPlayerProxy.m
  iphone/Classes/TiMediaVideoPlayerProxy.m
  iphone/Classes/TiUIClipboardProxy.m
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUIRefreshControlProxy.m
  iphone/Classes/TiUIScrollView.m
  iphone/Classes/TiUITabGroup.m
  iphone/Classes/TiUITabProxy.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUITextField.m
  iphone/Classes/TiUITextWidget.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/TiUIiOSWebViewConfigurationProxy.m
  iphone/Classes/UIModule.m
  iphone/Classes/WatchSessionModule.m
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiErrorController.m
  iphone/cli/commands/_build.js
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  iphone/package.json
Labels: BREAKING CHANGES ⚠️, in-qe-testing 🕵, ios, no tests

#11398 chore(android): update v8 to 7.9.317.32
  android/package.json
Labels: android, improvement, in-qe-testing 🕵, no tests

#11401 chore: update ti.cloak
  support/ti.cloak.zip
Labels: android, in-qe-testing 🕵, needs jira 🚨, no tests

#11364 feat(ios): support font scaling for custom fonts
  apidoc/Titanium/UI/Font.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/WebFont.m
Labels: docs 📔, feature 🚀, in-qe-testing 🕵, ios, no tests

#11402 fix(ios): ui glitch in lazyloading fixed
  iphone/Classes/TiUIListSectionProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11405 fix(android): default Ti.Ui.TextField.editable is true in #focus()
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11406 [8_3_X] fix(android): default Ti.Ui.TextField.editable is true in #focus()
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests
