Repository tidev/titanium-sdk, pull requests merged in 2019-03, with the labels that each got.

#10733 fix(android): Fixed activity callback regressions
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  tests/Resources/ti.android.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10728 fix(android): also use GPS for low accuracy
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/LocationProviderProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10731 fix(android)(8_0_X): also use GPS for low accuracy
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/android/LocationProviderProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10736 fix(android): update ti.cloudpush to 6.0.1
  support/module/packaged/modules.json
Labels: android, bug 🐜, no tests

#10734 fix(android)(8_0_X): Fixed activity callback regressions
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  tests/Resources/ti.android.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10737 fix(android)(8_0_X): update ti.cloudpush to 6.0.1
  support/module/packaged/modules.json
Labels: android, bug 🐜, no tests

#10738 fix(android)(7_5_X): update ti.cloudpush to 6.0.1
  support/module/packaged/modules.json
Labels: android, bug 🐜, no tests

#10741 build: check destination exists before trying to get stats info
  build/utils.js
Labels: in-qe-testing 🕵, needs jira 🚨, no tests

#10746 fix(ios): remove event listener handled properly for local webview (8_0_X)
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10747 fix(ios): remove event listener handled properly for local webview
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10754 fix(ios): require of hyperloop js files works again
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios

#10753 fix(ios): require of hyperloop js files works again (8_0_X)
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios

#10664 feat(ios) : Added functionality to show search bar in navigation bar for TiUIListView and TiUITableView
  apidoc/Titanium/UI/ListView.yml
  apidoc/Titanium/UI/TableView.yml
  apidoc/Titanium/UI/Window.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUITableView.h
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUITableViewProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: docs 📔, feature 🚀, in-qe-testing 🕵, ios, no tests

#10750 fix(ios): Supported WKURLSchemeHandler to load custom url scheme (8_0_X)
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10751 fix(ios): Supported WKURLSchemeHandler to load custom url scheme
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
Labels: in-qe-testing 🕵, ios, no tests

#10553 fix(android): allow TiDownloadManager to use TiSocketFactory
  android/titanium/src/java/org/appcelerator/titanium/util/TiDownloadManager.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10588 fix(android)(8_0_X): allow TiDownloadManager to use TiSocketFactory
  android/titanium/src/java/org/appcelerator/titanium/util/TiDownloadManager.java
Labels: android, bug 🐜, no tests

#10718 TiAPI: Create Node-compatible util module API
  common/Resources/ti.internal/extensions/process.js
  common/Resources/ti.internal/extensions/util.js
  common/Resources/ti.main.js
  tests/Resources/util.addontest.js
Labels: android, feature 🚀, ios, windows

#10761 fix(windows)(8_0_X): update apiversion to 7
  package.json
Labels: windows

#10762 fix(windows): update apiversion to 7
  package.json
Labels: windows

#10696 chore(android): update ti.playservices to 16.1.2
  support/module/packaged/modules.json
Labels: android, no tests

#10661 TiAPI: Create Node-compatible assert module API
  .eslintrc
  build/scons-test.js
  common/Resources/ti.internal/extensions/assert.js
  common/Resources/ti.internal/extensions/util.js
  common/Resources/ti.main.js
  tests/Resources/assert.addontest.js
Labels: feature 🚀

#10767 chore: update Hyperloop to version 4.0.2
  support/module/packaged/modules.json
Labels: android, bug 🐜, windows

#10768 chore: update Hyperloop to version 4.0.2 (8_0_X)
  support/module/packaged/modules.json
Labels: android, bug 🐜, windows

#10756 fix(android): Fixes changing background colors for Tabs after they are drawn.
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10763 fix(android): Fixes changing background colors for Tabs after they are drawn. (8_0_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10766 chore(deps): update to liveview@1.5.0
  package-lock.json
  package.json
Labels: needs jira 🚨, no tests

#10775 fix(android)(8_0_X): increase java max memory
  android/cli/commands/_build.js
Labels: android, bug 🐜, no tests

#10774 fix(android): increase java max memory
  android/cli/commands/_build.js
Labels: android, bug 🐜, no tests

#10776 fix(android)(7_5_X): increase java max memory
  Jenkinsfile
  android/cli/commands/_build.js
Labels: android, bug 🐜, no tests

#10660 fix(ios): memory leak in require (8_0_X)
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10670 fix(android): don't copy Ti.Buffer properties not set during #clone()
  android/titanium/src/java/ti/modules/titanium/BufferProxy.java
Labels: android, bug 🐜, no tests

#10656 fix(android): expand SearchView by default
  android/modules/ui/src/java/ti/modules/titanium/ui/android/SearchViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests, parity 👯‍♀️

#10732 fix(android)(8_0_X): expand SearchView by default
  android/modules/ui/src/java/ti/modules/titanium/ui/android/SearchViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10683 fix(android): Recurrence rules for events fetched with getEventById are missing.
  android/modules/calendar/src/java/ti/modules/titanium/calendar/EventProxy.java
  apidoc/Titanium/Calendar/Calendar.yml
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵, no tests

#10568 fix(android): Fix proxy release for SearchView attached to a TableView.
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug 🐜

#10780 fix(android): copy app icon from android build directory
  android/cli/commands/_build.js
Labels: in-qe-testing 🕵, no tests

#10781 fix(android): copy app icon from android build directory
  android/cli/commands/_build.js
Labels: in-qe-testing 🕵, no tests

#10646 fix(android): TabbedBar crash caused by setting properties before window opened
  android/modules/ui/src/java/ti/modules/titanium/ui/TabbedBarProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITabbedBar.java
  tests/Resources/ti.ui.tabbedbar.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵, parity 👯‍♀️

#10680 fix(ios): fix leak in TiBlob imageAsCompressed method
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.m
Labels: bug 🐜, community 🔥, in-qe-testing 🕵, ios, no tests

#10634 fix(android): Ti.App wrongly fires pause/resume events when opening/closing child windows
  android/titanium/src/java/org/appcelerator/titanium/TiApplicationLifecycle.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  apidoc/Titanium/App/App.yml
  tests/Resources/ti.app.addontest.js
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵, parity 👯‍♀️

#10682 fix(ios): fix leak in TiBlob imageAsCompressed method (7_5_X)
  iphone/Classes/TiBlob.m
Labels: bug 🐜, community 🔥, in-qe-testing 🕵, ios, no tests

#10755 fix(ios): fix leak in TiBlob imageAsCompressed method (8_0_X)
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10650 fix(android): Fixed bug where app launches without animation when launched with data intent
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10651 fix(android)(8_0_X): Fixed bug where app launches without animation when launched with data intent
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10742 fix(android): fix stringify of View
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10743 fix(android)(8_0_X): fix stringify of View
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10778 fix(android): Fix a regressions of changing TabGroup's title after it was created.
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10779 fix(android): Fix a regressions of changing TabGroup's title after it was created. (8_0_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10572 chore(TIMOB-26695): only use debug logs in core-sdk development
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
Labels: community 🔥, in-qe-testing 🕵, ios, needs tests 🚨

#10612 fix(android): add WRITE_CONTACTS permissions
  android/modules/contacts/src/java/ti/modules/titanium/contacts/ContactsModule.java
  apidoc/Titanium/Contacts/Contacts.yml
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵, no tests

#10658 fix(android)(8_0_X): Ti.App wrongly fires pause/resume events when opening/closing child windows
  android/titanium/src/java/org/appcelerator/titanium/TiApplicationLifecycle.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  apidoc/Titanium/App/App.yml
  tests/Resources/ti.app.addontest.js
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵, parity 👯‍♀️

#10687 fix(android): Fixes TabLayout gravity when changing orientation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10681 fix(ios): fix leak in TiBlob imageAsCompressed method (7_4_X)
  iphone/Classes/TiBlob.m
Labels: bug 🐜, community 🔥, ios, no tests

#10649 fix(ios): auto-select cert and/or profile for ios if only one valid entry
  iphone/cli/commands/_build.js
Labels: cli 📟, improvement, in-qe-testing 🕵, ios, no tests

#10799 chore(build): restore placeholders after build
  support/iphone/build_titaniumkit.sh
Labels: needs jira 🚨

#10806 Add default timeout value
  apidoc/Titanium/Network/HTTPClient.yml
Labels: community 🔥, docs 📔, in-qe-testing 🕵

#10773 fix(android): remove remnants of profiler
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  support/android/lib/titanium-debug.jar
  support/android/lib/titanium-profiler.jar
Labels: android, no tests

#10804 Update WebView.yml
  apidoc/Titanium/UI/WebView.yml
Labels: docs 📔, needs jira 🚨
