Repository tidev/titanium-sdk, pull requests merged in 2019-06, with the labels that each got.

#10924 build(android): verify the libv8 tar.bz2 file against a checksum
  android/build/common.xml
  android/package.json
Labels: android, in-qe-testing 🕵, needs jira 🚨, no tests

#10923 fix(ios)(8_0_X) : Supported ‘Titanium.’ API from html js code webview
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, ios, no tests

#10922 fix(ios)(8_0_X) : Added log functionality
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, ios, no tests

#10877 fix(ios): Updated selector for log
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10532 [TIMOB-26686] chore: improve HTTPClient "file" docs (parity)
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  apidoc/Titanium/Network/HTTPClient.yml
  tests/Resources/ti.network.httpclient.addontest.js
Labels: android, community 🔥, docs 📔, improvement, in-qe-testing 🕵, parity 👯‍♀️

#10925 fix(android)(8_0_X): Window.open() wrongly does fade-in animation by default as of 8.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
  apidoc/Titanium/UI/Window.yml
  tests/Resources/ti.ui.window.addontest.js
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵

#10805 perf: improve incremental app build times
  .eslintrc
  android/cli/commands/_build.js
  cli/lib/tasks/process-js-task.js
  iphone/cli/commands/_build.js
  package-lock.json
  package.json
Labels: android, improvement, in-qe-testing 🕵, ios

#10933 fix(android)(8_1_X): Window.open() wrongly does fade-in animation by default as of 8.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
  apidoc/Titanium/UI/Window.yml
  tests/Resources/ti.ui.window.addontest.js
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵

#10910 fix(android): Window.open() wrongly does fade-in animation by default as of 8.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
  apidoc/Titanium/UI/Window.yml
  tests/Resources/ti.ui.window.addontest.js
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵

#10906 fix(ios): don't log error about missing use of filesystem api
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10931 fix(android): File.read().text wrongly returns null for JSON files on Android Q
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiMimeTypeHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10822 docs(typescript): update sdk version in typescript definition header
  apidoc/Titanium/UI/ShortcutItem.yml
  apidoc/Titanium/UI/WebView.yml
  apidoc/lib/typescript_generator.js
Labels: docs 📔, in-qe-testing 🕵, needs jira 🚨, no tests

#10949 fix(android)(8_1_X): TableView click/longpress events won't fire after LiveView restarts runtime
  android/modules/app/src/java/ti/modules/titanium/app/AppModule.java
Labels: android, bug 🐜, no tests

#10948 fix(android): TableView click/longpress events won't fire after LiveView restarts runtime
  android/modules/app/src/java/ti/modules/titanium/app/AppModule.java
Labels: android, bug 🐜, no tests

#10955 fix(android)(8_1_X): File.read().text wrongly returns null for JSON files on Android Q
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiMimeTypeHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10928 fix(android): TabGroup bar background color is wrongly transparent on Android 4.4 as of 8.0.0
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10950 fix(android): fix for changing tabs properties after creation
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10935 fix(android)(8_1_X): TabGroup bar background color is wrongly transparent on Android 4.4 as of 8.0.0
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10930 fix(android)(8_0_X): TabGroup bar background color is wrongly transparent on Android 4.4 as of 8.0.0
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10956 fix(android): fix for changing tabs properties after creation (8_0_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10957 fix(android): fix for changing tabs properties after creation (8_1_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10951 fix(ios): expose --source-maps CLI flag, default to source maps for non-production builds
  android/cli/commands/_build.js
  cli/commands/build.js
  iphone/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟, ios

#10958 fix(android)(8_1_X): Fixed incremental build issues introduced by [TIMOB-27043] in 8.1.0
  android/cli/commands/_build.js
  tests/Resources/ti.ui.webview.addontest.js
  tests/Resources/ti.ui.webview.script.tag.html
  tests/Resources/ti.ui.webview.script.tag.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10945 fix(android): Fixed incremental build issues introduced by [TIMOB-27043] in 8.1.0
  android/cli/commands/_build.js
  tests/Resources/ti.ui.webview.addontest.js
  tests/Resources/ti.ui.webview.script.tag.html
  tests/Resources/ti.ui.webview.script.tag.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10960 Update TabGroup.yml
  apidoc/Titanium/UI/TabGroup.yml
Labels: docs 📔, in-qe-testing 🕵

#10971 test(android): Increased unit test timeouts for [TIMOB-27101]
  tests/Resources/ti.ui.window.addontest.js
Labels: android

#10980 chore: amend .gitignore root paths
  .gitignore
Labels: needs jira 🚨

#10969 fix(cli): fix naming of hooks for copyResource/compileJsFile during CLI build
  cli/lib/tasks/process-js-task.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵, needs jira 🚨

#10968 fix(cli): fix naming of hooks for copyResource/compileJsFile during CLI build
  cli/lib/tasks/process-js-task.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵, needs jira 🚨

#10965 fix(ios): only delete build dir when force clean build
  iphone/cli/commands/_build.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#10966 fix(ios): only delete build dir when force clean build (8_1_X)
  iphone/cli/commands/_build.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#10982 Update Media.yml per TIDOC-3332 and TIDOC-3203
  apidoc/Titanium/Media/Media.yml
Labels: docs 📔

#10962 fix(android): prevent multiple exception logs
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10963 fix(android)(8_1_X): prevent multiple exception logs
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10870 chore(ios) : Updated ios module’s version to latest
  support/module/packaged/modules.json
Labels: improvement, in-qe-testing 🕵, ios, no tests

#10981 chore(package): update node-titanium-sdk to version 3.2.0
  package-lock.json
  package.json
Labels: android, bug 🐜, cli 📟, feature 🚀, in-qe-testing 🕵, ios

#10987 chore(iOS)(8_1_X): Updated ios module’s version to latest
  support/module/packaged/modules.json
Labels: no tests

#10983 Update Activity.yml
  apidoc/Titanium/Android/Activity.yml
Labels: docs 📔

#10984 Update Global.yml
  apidoc/Global/Global.yml
Labels: docs 📔

#10943 fix(android): handle duplicate ShortcutItems
  android/modules/ui/src/java/ti/modules/titanium/ui/ShortcutItemProxy.java
  tests/Resources/ti.ui.shortcutitem.test.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10992 fix(ios): restore correct Ti.Platform.id value
  iphone/Classes/TiUtils+Addons.h
  iphone/Classes/TiUtils+Addons.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10920 feat(android): implement async Ti.Database.DB methods
  android/modules/database/src/java/ti/modules/titanium/database/TiDatabaseProxy.java
  android/modules/database/src/java/ti/modules/titanium/database/TiResultSetProxy.java
  apidoc/Titanium/Database/DB.yml
  tests/Resources/ti.database.2.addontest.js
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵

#11000 fix(android)(8_1_X): handle duplicate ShortcutItems
  android/modules/ui/src/java/ti/modules/titanium/ui/ShortcutItemProxy.java
  tests/Resources/ti.ui.shortcutitem.test.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11002 test: remove .only from database tests
  tests/Resources/ti.database.2.addontest.js
Labels: needs jira 🚨

#10999 feat(android)(8_1_X): implement async Ti.Database.DB methods
  android/modules/database/src/java/ti/modules/titanium/database/TiDatabaseProxy.java
  android/modules/database/src/java/ti/modules/titanium/database/TiResultSetProxy.java
  apidoc/Titanium/Database/DB.yml
  tests/Resources/ti.database.2.addontest.js
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵

#10993 fix(ios): restore correct Ti.Platform.id value (8_1_X)
  iphone/Classes/TiUtils+Addons.h
  iphone/Classes/TiUtils+Addons.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests
