Repository tidev/titanium-sdk, pull requests merged in 2019-01, with the labels that each got.

#10555 iOS: Application crashes on launch on iOS9
  .eslintrc
  build/packager.js
  iphone/package.json
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios, no tests

#10519 refactor(android): Refactored app resume, intent-filter, and "newintent" handling
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  android/modules/android/src/java/ti/modules/titanium/android/TiJSActivity.java
  android/modules/app/src/java/ti/modules/titanium/app/AndroidModule.java
  android/templates/build/AndroidManifest.xml
  android/templates/build/JSActivity.java
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/TiActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActivityProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
  apidoc/Titanium/Android/Activity.yml
  apidoc/Titanium/Android/Android.yml
  apidoc/Titanium/Android/Notification.yml
  apidoc/Titanium/App/Android/Android.yml
  apidoc/Titanium/App/App.yml
  common/Resources/ti.main.js
  tests/Resources/ti.android.addontest.js
  tests/Resources/ti.app.android.addontest.js
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, docs 📔, feature 🚀, improvement, in-qe-testing 🕵

#10565 fix(ios): check if app is booted before sending notifications
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: community 🔥, in-qe-testing 🕵, ios, no tests

#10575 fix(android): amend attributedString diff condition
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ViewItem.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10573 docs(android): Bump refactored TabGroup version.
  apidoc/Titanium/UI/Android/Android.yml
  apidoc/Titanium/UI/Tab.yml
  apidoc/Titanium/UI/TabGroup.yml
Labels: android, docs 📔, in-qe-testing 🕵, no tests

#10574 build: allow specifying a custom directory for caching downloads
  build/utils.js
Labels: needs jira 🚨

#10577 fix(android): amend Titanium ListView widget lookup
  android/modules/ui/src/js/listview.js
Labels: android, bug 🐜, no tests

#10593 fix(ios) : Debug macros behaviour in framework implemented using shared configuration
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.m
  iphone/TitaniumKit/TitaniumKit/Sources/Misc/TiSharedConfig.h
  iphone/iphone/main.m
  support/iphone/main.m
Labels: ios, no tests

#10594 fix(ios) : Debug macros behaviour in framework implemented using shared configuration (8_0_X)
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.m
  iphone/TitaniumKit/TitaniumKit/Sources/Misc/TiSharedConfig.h
  iphone/iphone/main.m
  support/iphone/main.m
Labels: bug 🐜, no tests

#10583 fix(ios): cancel pending local notifications (8_0_X)
  apidoc/Titanium/App/iOS/UserNotificationCenter.yml
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: bug 🐜, docs 📔, in-qe-testing 🕵, ios, needs tests 🚨

#10597 chore(build): update Hyperloop to 4.0.0
  support/module/packaged/modules.json
Labels: android, feature 🚀, ios

#10596 chore(build): update Hyperloop to 4.0.0 (8_0_X)
  support/module/packaged/modules.json
Labels: android, feature 🚀, ios

#10586 fix(android)(8_0_X): amend Titanium ListView widget lookup
  android/modules/ui/src/js/listview.js
Labels: android, bug 🐜, no tests

#10598 fix(android): add missing roundIcon tag
  android/cli/lib/AndroidManifest.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10599 fix(android)(8_0_X): add missing roundIcon tag
  android/cli/lib/AndroidManifest.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10591 fix(android): Modified localized string id properties to load from same context as L()
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActivityProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10592 fix(android): Modified localized string id properties to load from same context as L() (8_0_X)
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/ActivityProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10556 fix(ios): schedule KrollCallback on main thread
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollCallback.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10584 fix(ios): schedule KrollCallback on main thread (8_0_X)
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollCallback.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10603 fix(ios): allow TiExceptionHandler to obtain source line from encrypted asset
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
Labels: bug 🐜, ios, no tests

#10606 fix(ios)(8_0_X): obtain source line from encrypted asset
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
Labels: bug 🐜, ios, no tests

#10608 fix(ios)(8_0_X): init TiLogServer only when required
  iphone/iphone/main.m
  support/iphone/main.m
Labels: bug 🐜, ios, no tests

#10607 fix(ios): init TiLogServer only when required
  iphone/iphone/main.m
  support/iphone/main.m
Labels: bug 🐜, ios, no tests

#10559 feat(ios): Supported new property ‘masterViewVisible’ to show and hide master view in splitwindow
  apidoc/Titanium/UI/iOS/SplitWindow.yml
  iphone/Classes/TiUIiOSSplitWindow.h
  iphone/Classes/TiUIiOSSplitWindow.m
  iphone/Classes/TiUIiOSSplitWindowProxy.m
  tests/Resources/ti.ui.ios.splitwindow.addontest.js
Labels: docs 📔, ios

#10595 feat(ios): Supported new property ‘masterViewVisible’ to show and hide master view in splitwindow
  apidoc/Titanium/UI/iOS/SplitWindow.yml
  iphone/Classes/TiUIiOSSplitWindow.h
  iphone/Classes/TiUIiOSSplitWindow.m
  iphone/Classes/TiUIiOSSplitWindowProxy.m
  tests/Resources/ti.ui.ios.splitwindow.addontest.js
Labels: docs 📔, in-qe-testing 🕵, ios

#10609 fix(ios): remove invalid arcitectures from TitaniumKit for distribution builds
  iphone/cli/commands/_build.js
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10610 fix(ios)(8_0_X): remove invalid arcitectures from TitaniumKit for distribution builds
  iphone/cli/commands/_build.js
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10615 fix(android)(8_0_X): fix listItem processProperties null check
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10614 fix(android): fix listItem processProperties null check
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10611 fix(android)(7_5_X): amend attributedString diff condition
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ViewItem.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10619 fix(android): backwards compatibility with 7.X.X Titanium SDK
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBinding.fm
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
Labels: android, bug 🐜, no tests

#10618 fix(android)(8_0_X): backwards compatibility with 7.X.X Titanium SDK
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBinding.fm
  android/kroll-apt/src/java/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
Labels: android, bug 🐜, no tests

#10621 fix(android)(8_0_X): Fixed bug where closing root window won't exit app as of 8.0.0
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, no tests

#10620 fix(android): Fixed bug where closing root window won't exit app as of 8.0.0
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, no tests

#10623 fix(android): prevent removal of polyfills between builds (8_0_X)
  android/cli/commands/_build.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10622 fix(android): prevent removal of polyfills between builds
  android/cli/commands/_build.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10629 fix(ios): properly release timers
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, ios, needs tests 🚨

#10630 fix(ios): properly release timers (8_0_X)
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, ios, needs jira 🚨, needs tests 🚨

#10540 fix(android): Fix toImage method for views with border
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10636 fix(android)(8_0_X): validate read and write stream methods
  android/titanium/src/java/ti/modules/titanium/stream/StreamModule.java
Labels: android, bug 🐜, no tests

#10641 fix(android): update aps-analytics.jar
  android/titanium/lib/aps-analytics.jar
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10642 fix(android)(8_0_X): update aps-analytics.jar
  android/titanium/lib/aps-analytics.jar
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10638 fix(ios): properly release timers (7_5_X)
  iphone/Classes/KrollContext.m
Labels: bug 🐜, ios, no tests

#10631 [TIMOB-26655] (8_0_X) fix(ios): fix application shortcuts parity
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiUIApplicationShortcutsProxy.m
  iphone/Classes/TiUIiOSApplicationShortcutsProxy.m
Labels: community 🔥, docs 📔, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#10539 [TIMOB-26655] fix(ios): fix application shortcuts parity
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiUIApplicationShortcutsProxy.m
  iphone/Classes/TiUIiOSApplicationShortcutsProxy.m
Labels: community 🔥, docs 📔, ios, no tests

#10643 chore(deps): update to liveview@1.4.3
  package-lock.json
  package.json
Labels: in-qe-testing 🕵

#10644 chore(deps): update to liveview@1.4.3
  package-lock.json
  package.json
Labels: in-qe-testing 🕵

#10647 fix(android)(7_5_X): use NDK r16b
  Jenkinsfile
Labels: android, bug 🐜, no tests
