Repository tidev/titanium-sdk, pull requests merged in 2019-09, with the labels that each got.

#11131 fix(ios): updated to swift 5 for apple watch template
  templates/applewatch/watchos3-swift/template/{{ExtName}}.xcodeproj/project.pbxproj.ejs
  templates/applewatch/watchos3-swift/template/{{WatchkitExtName}}/InterfaceController.swift.ejs
Labels: improvement, in-qe-testing 🕵, ios, no tests

#10937 [TIMOB-27126] feat(ios): support TiColor for all color-setters
  iphone/Classes/TiUIImageView.m
  iphone/Classes/TiUIListItem.m
  iphone/Classes/TiUIMaskedImage.m
  iphone/Classes/TiUISearchBar.m
  iphone/Classes/TiUITabGroup.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUITableViewRowProxy.m
  iphone/Classes/TiUITextArea.m
  iphone/Classes/TiUIWebView.m
  iphone/Classes/UIModule.m
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: community 🔥, in-qe-testing 🕵, ios, no tests

#11097 feat: add support for dark mode images and semantic colors
  apidoc/Titanium/UI/UI.yml
  build/lib/packager.js
  build/scons-xcode-project-build.js
  common/Resources/ti.internal/extensions/ti/index.js
  common/Resources/ti.internal/extensions/ti/ti.ui.js
  iphone/Classes/TiUIiOSProxy.m
  iphone/cli/commands/_build.js
  tests/Resources/semantic.colors.json
  tests/Resources/ti.ui.addontest.js
Labels: docs 📔, in-qe-testing 🕵, ios

#10830 fix: resolve all project warnings
  iphone/Classes/AppModule.m
  iphone/Classes/GeolocationModule.m
  iphone/Classes/PlatformModule.m
  iphone/Classes/TiApp+Addons.h
  iphone/Classes/TiDatabaseResultSetProxy.m
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit.xcodeproj/xcshareddata/xcschemes/Distribution.xcscheme
  iphone/TitaniumKit/TitaniumKit.xcodeproj/xcshareddata/xcschemes/TitaniumKit.xcscheme
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/ObjcProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiAnimation.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollObject.h
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollObject.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.h
  iphone/TitaniumKit/TitaniumKit/TitaniumKit.h
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  iphone/iphone/Titanium.xcodeproj/xcshareddata/xcschemes/Titanium.xcscheme
  iphone/templates/module/objc/hooks/install-xcode-templates.js
  iphone/templates/module/swift/hooks/install-xcode-templates.js
  iphone/templates/module/swift/template/ios/hooks/ti.swiftsupport.js
Labels: community 🔥, docs 📔, improvement, in-qe-testing 🕵, ios, no tests

#11191 (8_3_X) fix(ios): remove old UIWebView left overs
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUIiOSProxy.m
Labels: community 🔥, docs 📔, in-qe-testing 🕵, ios, no tests

#11190 fix(ios): remove old UIWebView left overs
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUIiOSProxy.m
Labels: community 🔥, docs 📔, in-qe-testing 🕵, ios, no tests

#11186 chore(modules): add ti.applesignin 1.1.0 module
  support/module/packaged/modules.json
Labels: feature 🚀, in-qe-testing 🕵, ios

#11194 fix(ios): fix duplicate reference warnings
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
Labels: bug 🐜, community 🔥, in-qe-testing 🕵, ios, no tests

#11055 remove getters from drawerlayout documentation
  apidoc/Titanium/UI/Android/DrawerLayout.yml
Labels: docs 📔, needs jira 🚨

#11196 chore: updated ioslib@1.7.13
  package-lock.json
  package.json
Labels: in-qe-testing 🕵

#11184 fix(ios): set navigation controller’s background color
  iphone/Classes/TiUINavigationWindowProxy.m
  iphone/Classes/TiUITabProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: ios, no tests

#11198 fix(ios): set CODE_SIGN_IDENTITY to the cert name
  iphone/cli/commands/_build.js
  iphone/cli/hooks/package.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios

#11200 fix(ios): update tabbar after trait colection changed
  iphone/Classes/TiUITabProxy.m
Labels: bug 🐜, ios, no tests

#11062 fix(android): prevents TabGroup duplicate close event firing
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11003 fix(android): Fix Up button flickering when clicked in NavigationWindow
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10964 fix(android): HTTPClient "responseData" blob returns 0 width/height for images over 512kb
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11149 fix(android): guard for tab counts limit for bottom style
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs tests 🚨

#11053 fix(android): fixes background color animation with borders
  android/titanium/src/java/org/appcelerator/titanium/util/TiAnimationBuilder.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11199 fix(ios): non large title navigation bars show default navigation bar
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, ios, no tests

#11209 fix(ios): fix issues for navigation bar in iOS 13
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, ios, no tests

#11202 fix(ios): correctly decode device token for ios 13 compatability
  iphone/Classes/NetworkModule.m
  iphone/Classes/TiApp+Addons.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11210 fix: update Hyperloop to v4.0.4 for iOS 13 compatibility
  support/module/packaged/modules.json
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#10637 feat(android): Added Ti.App "close" event support
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Function.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Object.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  apidoc/Titanium/App/App.yml
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵, no tests, parity 👯‍♀️

#11148 feat(android): add new constants for video scaling
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/modules/media/src/java/ti/modules/titanium/media/VideoPlayerProxy.java
  apidoc/Titanium/Media/Media.yml
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵, no tests, parity 👯‍♀️

#11211 fix: update Hyperloop to v4.0.4 for iOS 13 compatibility (8_2_X)
  support/module/packaged/modules.json
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨

#11170 fix(android): call WebView.stopLoading() from main thread
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10800 [TIMOB-18297] Android: Reset AudioPlayer before in release method
  android/modules/media/src/java/ti/modules/titanium/media/AudioPlayerProxy.java
  android/modules/media/src/java/ti/modules/titanium/media/TiSound.java
Labels: android, community 🔥, in-qe-testing 🕵, no tests

#11215 fix(android): exclude JS in HTML files from processing
  android/cli/commands/_build.js
  cli/lib/tasks/process-js-task.js
  package-lock.json
  package.json
Labels: android, bug 🐜, cli 📟

#11214 fix(android): exclude JS in HTML files from processing
  android/cli/commands/_build.js
  cli/lib/tasks/process-js-task.js
  package-lock.json
  package.json
Labels: android, bug 🐜, in-qe-testing 🕵

#11205 fix(android): allow requestLegacyExternalStorage attribute
  android/cli/lib/AndroidManifest.js
Labels: android, improvement, in-qe-testing 🕵, no tests

#11221 fix(android): ui module dependency path
  android/modules/ui/ui.iml
Labels: android, bug 🐜, needs jira 🚨, no tests

#11217 fix(ios): also lookup semnantic colors in correct location for classic
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios

#10940 fix(ios): use correct action identifier in localnotificationaction event
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: bug 🐜, community 🔥, in-qe-testing 🕵, ios, no tests

#11195 impr(android): implement TLSv3 support
  android/modules/network/src/java/ti/modules/titanium/network/NetworkModule.java
  android/modules/network/src/java/ti/modules/titanium/network/TiSocketFactory.java
  apidoc/Titanium/Network/HTTPClient.yml
  apidoc/Titanium/Network/Network.yml
  iphone/Classes/NetworkModule.h
  iphone/Classes/NetworkModule.m
  tests/Resources/ti.network.httpclient.addontest.js
  tests/Resources/ti.network.test.js
Labels: android, docs 📔, improvement, in-qe-testing 🕵, ios

#11218 fix(ios): also lookup semnantic colors in correct location for classic (8_2_X)
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios

#11227 fix(ios): volume event handling
  iphone/Classes/MediaModule.m
  iphone/Classes/TiMediaAudioSession.h
  iphone/Classes/TiMediaAudioSession.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11216 fix(ios): volume event handling
  iphone/Classes/MediaModule.m
  iphone/Classes/TiMediaAudioSession.h
  iphone/Classes/TiMediaAudioSession.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11099 fix(android): use specified Ti.Filesystem.File path to createFile()
  android/titanium/src/java/org/appcelerator/titanium/TiFileProxy.java
  tests/Resources/ti.filesystem.file.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11220 fix(ios): sf symbol handling for application shortcut
  apidoc/Titanium/UI/iOS/ApplicationShortcuts.yml
  iphone/Classes/TiUIApplicationShortcutsProxy.m
  iphone/Classes/TiUIiOSApplicationShortcutsProxy.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.m
Labels: docs 📔, in-qe-testing 🕵, ios, no tests

#11222 fix(ios)(8_2_X): sf symbol handling for application shortcut
  apidoc/Titanium/UI/iOS/ApplicationShortcuts.yml
  iphone/Classes/TiUIApplicationShortcutsProxy.m
  iphone/Classes/TiUIiOSApplicationShortcutsProxy.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.m
Labels: docs 📔, in-qe-testing 🕵, ios, no tests

#11233 fix(ios): properly set tint-color on image-view
  iphone/Classes/TiUIImageView.m
Labels: bug 🐜, ios, no tests

#11224 fix(android): fix views with border and transparency
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10929 [TIMOB-26963] Remove fields added to iOS required modules
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: in-qe-testing 🕵, ios, no tests

#11070 fix(ios): properly set tint-color on image-view
  iphone/Classes/TiUIImageView.m
Labels: community 🔥, in-qe-testing 🕵, ios, no tests

#11054 build(android): include common bundle in snapshot
  .eslintrc
  android/cli/commands/_build.js
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
  build/lib/android/index.js
  build/lib/android/snapshot.js
  build/lib/android/startup.ejs
  build/lib/builder.js
  build/lib/ios.js
  build/lib/packager.js
  build/lib/windows.js
  common/Resources/ti.internal/extensions/ti/ti.ui.js
  iphone/cli/commands/_build.js
Labels: android, cli 📟, improvement, in-qe-testing 🕵, no tests

#11239 fix(ios): hideShadow handling for iOS 13
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11250 Remove fields added to iOS required modules (#10929)
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests
