Repository tidev/titanium-sdk, pull requests merged in 2019-07, with the labels that each got.

#11007 Update HTTPClient.yml
  apidoc/Titanium/Network/HTTPClient.yml
Labels: docs 📔

#11006 Update Menu.yml
  apidoc/Titanium/Android/Menu.yml
Labels: docs 📔

#11004 fix(android)(8_1_X): TabGroup crashes if tab "title" property not set as of 8.0.2
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11010 build: use faster method for copying production npm packages into SDK
  build/lib/module-copier.js
  build/lib/packager.js
Labels: needs jira 🚨

#11001 fix(android): TabGroup crashes if tab "title" property not set as of 8.0.2
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
  tests/Resources/ti.ui.tabgroup.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11011 Danger tweaks
  dangerfile.js
Labels: needs jira 🚨

#10977 feat: update Swift module template to Swift 5 (8_1_X)
  iphone/TitaniumKit/docs.sh
  iphone/templates/module/swift/hooks/install-xcode-templates.js
  iphone/templates/module/swift/template/ios/Classes/{{ModuleIdAsIdentifier}}ExampleProxy.swift.ejs
  iphone/templates/module/swift/template/ios/Classes/{{ModuleIdAsIdentifier}}Module.swift.ejs
  iphone/templates/module/swift/template/ios/hooks/ti.swiftsupport.js
  iphone/templates/module/swift/template/ios/{{ModuleName}}.xcodeproj/project.pbxproj.ejs
Labels: improvement, in-qe-testing 🕵, ios

#10974 feat: update swift module template to Swift 5
  iphone/TitaniumKit/docs.sh
  iphone/templates/module/swift/hooks/install-xcode-templates.js
  iphone/templates/module/swift/template/ios/Classes/{{ModuleIdAsIdentifier}}ExampleProxy.swift.ejs
  iphone/templates/module/swift/template/ios/Classes/{{ModuleIdAsIdentifier}}Module.swift.ejs
  iphone/templates/module/swift/template/ios/hooks/ti.swiftsupport.js
  iphone/templates/module/swift/template/ios/{{ModuleName}}.xcodeproj/project.pbxproj.ejs
Labels: improvement, in-qe-testing 🕵, ios

#10952 chore(android): update aps-analytics.jar
  android/titanium/lib/aps-analytics.jar
Labels: android, in-qe-testing 🕵, no tests

#10953 chore(android)(8_1_X): update aps-analytics.jar
  android/titanium/lib/aps-analytics.jar
Labels: android, in-qe-testing 🕵, no tests

#11015 fix(android)(8_1_X): validate clearCookies url
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11014 fix(android): validate clearCookies url
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11017 fix: update hyperloop to version 4.0.3 (8_1_X)
  support/module/packaged/modules.json
Labels: android, ios

#11016 fix: update hyperloop to version 4.0.3
  support/module/packaged/modules.json
Labels: android, in-qe-testing 🕵, ios

#11009 feat(common): expose global.binding register and redirect methods
  common/Resources/ti.internal/extensions/binding.js
  common/Resources/ti.internal/extensions/node/index.js
Labels: android, feature 🚀, ios, no tests, windows

#10979 fix(android)(8_1_X): set ListItem properties into proxy properties
  android/modules/ui/res/layout/titanium_ui_list_item.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10978 fix(android): set ListItem properties into proxy properties
  android/modules/ui/res/layout/titanium_ui_list_item.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListSectionProxy.java
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#10991 fix(docs): fix picker code example
  apidoc/Titanium/UI/Picker.yml
Labels: community 🔥, docs 📔

#10905 fix(ios): exclude all frameworks from optimizing files step
  iphone/cli/commands/_build.js
  iphone/cli/hooks/frameworks.js
Labels: bug 🐜, ios

#11037 fix(ios): when 2 xcodes are installed and first is selected, prefer it
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, ios

#11038 fix(ios): when 2 xcodes are installed and first is selected, prefer it
  iphone/cli/commands/_build.js
Labels: bug 🐜, cli 📟, ios

#11019 chore(package): update ioslib to version 1.7.9 (8_0_X)
  package-lock.json
  package.json
Labels: bug 🐜, cli 📟, ios

#11044 fix(build): remove unresolved dependencies
  build/lib/module-copier.js
Labels: bug 🐜, needs jira 🚨, no tests

#11040 fix(android): Reading unassigned background color property from Tab/TableViewRow crashes as of 8.1.0
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11042 fix(android)(8_1_X): Reading unassigned background color property from Tab/TableViewRow crashes as of 8.1.0
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
  tests/Resources/ti.ui.tableview.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11024 fix(ios): regression in incremental device builds (8_1_X)
  cli/lib/tasks/process-js-task.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11043 fix(android): fix using barColor with a disabled ActionBar (8_1_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  tests/Resources/ti.ui.window.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11023 fix(ios): regression in incremental device builds
  cli/lib/tasks/process-js-task.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11041 fix(android): fix using barColor with a disabled ActionBar
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
  tests/Resources/ti.ui.window.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11048 fix(android)(8_1_X): abort query execution on close()
  android/modules/database/src/java/ti/modules/titanium/database/TiDatabaseProxy.java
Labels: android, bug 🐜, needs jira 🚨, no tests, parity 👯‍♀️

#11047 fix(android): abort query execution on close()
  android/modules/database/src/java/ti/modules/titanium/database/TiDatabaseProxy.java
Labels: android, bug 🐜, needs jira 🚨, no tests, parity 👯‍♀️

#10745 feat(android): Optimized TextField/TextArea handling in TableView
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#10936 feat(android)(8_1_X): Optimized TextField/TextArea handling in TableView
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#10932 feat(ios) : add support for Xcode 11 / iOS 13 dev environment
  iphone/Classes/GeolocationModule.m
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiAppiOSUserActivityProxy.h
  iphone/Classes/TiAppiOSUserActivityProxy.m
  iphone/Classes/TiAppiOSUserNotificationCategoryProxy.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUINavigationWindowProxy.m
  iphone/Classes/TiUIScrollView.m
  iphone/Classes/TiUITabGroupProxy.m
  iphone/Classes/TiUITabProxy.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUITextWidget.m
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIiOSProxy.h
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/TiUIiOSSplitWindow.m
  iphone/Classes/UIModule.m
  iphone/iphone/Titanium_Prefix.pch
  iphone/package.json
Labels: ios, no tests

#11063 fix(cli): add deprecation notice for node < 10.13
  cli/commands/build.js
Labels: cli 📟, deprecation, in-qe-testing 🕵, no tests

#11071 fix(ios,android): implement exception signal handler
  android/titanium/lib/aps-analytics.jar
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
Labels: android, bug 🐜, ios, no tests

#11077 fix(ios,android)(8_1_X): implement exception signal handler
  android/titanium/lib/aps-analytics.jar
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
Labels: android, bug 🐜, ios, no tests

#11078 fix(ios): fix crashes in Calendar upon giving permission
  iphone/Classes/CalendarModule.m
Labels: in-qe-testing 🕵, ios, no tests

#11079 fix(ios): fix crashes in Calendar upon giving permission
  iphone/Classes/CalendarModule.m
Labels: in-qe-testing 🕵, ios, no tests

#11083 build(android): fix hasOwnProperty prototype lint error
  android/cli/commands/_build.js
Labels: android, needs jira 🚨, no tests

#11090 fix: discard V8Snapshots.h changes after packaging
  build/lib/android/index.js
  build/lib/git.js
Labels: android, community 🔥, in-qe-testing 🕵

#11089 docs: fix html markup
  apidoc/Titanium/App/App.yml
  apidoc/Titanium/Network/HTTPClient.yml
  apidoc/Titanium/UI/Button.yml
  apidoc/Titanium/UI/EmailDialog.yml
Labels: docs 📔, needs jira 🚨

#10675 docs: Update Calendar docs
  apidoc/Titanium/Calendar/Calendar.yml
Labels: docs 📔, needs jira 🚨, no tests
