Repository tidev/titanium-sdk, pull requests merged in 2019-08, with the labels that each got.

#11102 chore(android): update aps-analytics
  android/titanium/lib/aps-analytics.jar
Labels: android, bug 🐜, no tests

#11101 chore(android)(8_1_X): update aps-analytics
  android/titanium/lib/aps-analytics.jar
Labels: android, bug 🐜, no tests

#11105 fix(android)(8_1_X): ListView's SearchBar/SearchView wrongly overlaps rows as of 8.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11104 fix(android): ListView's SearchBar/SearchView wrongly overlaps rows as of 8.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11100 chore(android)(8_1_X): update titanium_prep binaries
  android/cli/commands/_build.js
  android/templates/build/AssetCryptImpl.java
  iphone/cli/commands/_build.js
  support/android/titanium_prep.linux32
  support/android/titanium_prep.linux64
  support/android/titanium_prep.macos
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11103 chore(android): update titanium_prep binaries
  android/cli/commands/_build.js
  android/templates/build/AssetCryptImpl.java
  iphone/cli/commands/_build.js
  support/android/titanium_prep.linux32
  support/android/titanium_prep.linux64
  support/android/titanium_prep.macos
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11121 fix(android): update titanium_prep windows binaries
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: android, bug 🐜

#11122 fix(android): update titanium_prep windows binaries (8_1_X)
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: android, bug 🐜

#11126 chore(android)(8_3_X): update titanium_prep binaries
  android/cli/commands/_build.js
  android/templates/build/AssetCryptImpl.java
  iphone/cli/commands/_build.js
  support/android/titanium_prep.linux32
  support/android/titanium_prep.linux64
  support/android/titanium_prep.macos
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: android, bug 🐜, no tests

#11116 Update WebView.yml
  apidoc/Titanium/UI/WebView.yml
Labels: docs 📔

#11124 fix(ios): console.log does not log properly if it has multiple arguments
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11125 fix(ios): console.log does not log properly if it has multiple arguments
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11129 Update String.yml
  apidoc/Global/String/String.yml
Labels: docs 📔

#11138 fix(ios): console.log does not log properly if it has multiple arguments
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11031 feat(ios): detect trait collection changes (e.g. iOS 13+ dark mode vs. light mode change)
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiUIActivityIndicator.m
  iphone/Classes/TiUIListItem.m
  iphone/Classes/TiUIPicker.m
  iphone/Classes/TiUITableViewRowProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiErrorController.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.m
  tests/Resources/ti.app.ios.addontest.js
Labels: community 🔥, docs 📔, in-qe-testing 🕵, ios

#11151 Update Android.yml
  apidoc/Titanium/UI/Android/Android.yml
Labels: docs 📔

#11091 fix(ios): fix compatability with iOS 9
  build/lib/packager.js
  build/scons-xcode-project-build.js
  iphone/Classes/GeolocationModule.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUINavigationWindowProxy.m
  iphone/Classes/TiUIScrollView.m
  iphone/Classes/TiUITabGroupProxy.m
  iphone/Classes/TiUITabProxy.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIiOSProxy.h
  iphone/Classes/TiUIiOSProxy.m
  iphone/Classes/TiUIiOSSplitWindow.m
  iphone/Classes/UIModule.m
  iphone/iphone/Titanium_Prefix.pch
  iphone/package.json
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11156 fix(android): fix reusing a dialog with a new "parent" window (8_3_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
Labels: android, bug 🐜, no tests

#11096 fix(android): fix reusing a dialog with a new "parent" window (8_1_X)
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11128 docs(console): fix timelog data parameter naming
  apidoc/Global/console/console.yml
Labels: docs 📔, needs jira 🚨

#10988 fix(android): Closing root window from child window causes app exit issues as of 8.0.1
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11093 fix(android)(8_1_X): Closing root window from child window causes app exit issues as of 8.0.1
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11144 fix(android)(8_3_X): Closing root window from child window causes app exit issues as of 8.0.1
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiWindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11081 fix(android)(8_1_X): Resuming with intent "FLAG_ACTIVITY_MULTIPLE_TASK" can hang the app
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11145 fix(android)(8_3_X): Resuming with intent "FLAG_ACTIVITY_MULTIPLE_TASK" can hang the app
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11080 fix(android): Resuming with intent "FLAG_ACTIVITY_MULTIPLE_TASK" can hang the app
  android/titanium/src/java/org/appcelerator/titanium/TiRootActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11059 fix(android): fix dialog without selectedIndex reusage
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#11140 fix(android)(8_1_X): splash open animation sometimes stutters on cold start
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11141 fix(android)(8_3_X): splash open animation sometimes stutters on cold start
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11139 fix(android): splash open animation sometimes stutters on cold start
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/WindowProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11146 fix(android)(8_3_X): improved merge of <uses-feature/> elements
  android/cli/lib/AndroidManifest.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11111 fix(android)(8_1_X): improved merge of <uses-feature/> elements
  android/cli/lib/AndroidManifest.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11110 fix(android): improved merge of <uses-feature/> elements
  android/cli/lib/AndroidManifest.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11073 fix(android): fix reusing a dialog with a new "parent" window
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDialog.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11159 fix(android): fix asset encryption on windows 32bit java (8_3_X)
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: in-qe-testing 🕵

#11065 fix(ios): add script message handler for local files only
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11086 fix(ios): add script message handler for local files only (8_1_X)
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11155 fix(android): fix asset encryption on windows 32bit java (8_1_X)
  support/android/titanium_prep.win32.exe
  support/android/titanium_prep.win64.exe
Labels: in-qe-testing 🕵

#10996 fix(ios): exclude all frameworks from optimizing files step (8_1_X)
  iphone/cli/commands/_build.js
  iphone/cli/hooks/frameworks.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#10997 refactor(android): consolidate incremental build fixes back into task (8_1_X)
  android/cli/commands/_build.js
  cli/lib/tasks/process-js-task.js
Labels: android, cli 📟, improvement, in-qe-testing 🕵

#11142 refactor(android)(8_1_X): ProgressIndicator dialog handling
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIProgressIndicator.java
  tests/Resources/ti.ui.android.progressindicator.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#10972 refactor(android): consolidate incremental build fixes back into task
  android/cli/commands/_build.js
  cli/lib/tasks/process-js-task.js
Labels: android, cli 📟, improvement, in-qe-testing 🕵

#11143 refactor(android)(8_3_X): ProgressIndicator dialog handling
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIProgressIndicator.java
  tests/Resources/ti.ui.android.progressindicator.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11115 refactor(android): ProgressIndicator dialog handling
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIProgressIndicator.java
  tests/Resources/ti.ui.android.progressindicator.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11085 chore(ios): support new type of status bar style
  iphone/Classes/TiUIiOSStatusBarProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiRootViewController.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiWindowProxy.m
  tests/Resources/ti.ui.ios.statusbar.addontest.js
Labels: in-qe-testing 🕵, ios

#11008 fix(ios): fallback to non-widget require in catch
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: in-qe-testing 🕵, ios, no tests

#11179 chore(8_1_X): update aps-analytics
  android/titanium/lib/aps-analytics.jar
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
Labels: android, ios, no tests

#11180 chore(8_3_X): update aps-analytics
  android/titanium/lib/aps-analytics.jar
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
Labels: android, ios, no tests

#11178 chore: update aps-analytics
  android/titanium/lib/aps-analytics.jar
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
Labels: android, ios, no tests

#11117 chore(ios): exposed new constants of blur effect style
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUIiOSProxy.m
  tests/Resources/ti.ui.ios.addontest.js
Labels: docs 📔, ios

#11057 chore(ios): prevent modal windows from being swiped down
  apidoc/Titanium/UI/Window.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiWindowProxy.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiWindowProxy.m
Labels: docs 📔, ios, no tests

#10474 feat(ios): expose clearMotionEffects api
  apidoc/Titanium/UI/View.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: community 🔥, docs 📔, in-qe-testing 🕵, ios, no tests

#11181 feat(ios): expose clearMotionEffects api (8_3_X)
  apidoc/Titanium/UI/View.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: docs 📔, feature 🚀, ios, needs tests 🚨

#10994 chore(iOS): Supported new UITableViewStyleInsetGrouped style in table view and list view
  apidoc/Titanium/UI/iOS/TableViewStyle.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUIiOSTableViewStyleProxy.m
  tests/Resources/ti.ui.ios.tableviewstyle.addontest.js
Labels: docs 📔, in-qe-testing 🕵, ios

#10989 chore(iOS): multiple row selection support in ListView and tableview
  apidoc/Titanium/UI/ListView.yml
  apidoc/Titanium/UI/TableView.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUITableView.m
Labels: docs 📔, in-qe-testing 🕵, ios, no tests

#11036 fix(ios): video player natural size property and event
  iphone/Classes/TiMediaVideoPlayerProxy.m
Labels: community 🔥, in-qe-testing 🕵, ios, no tests

#11020 fix(iOS): proper ’url’ for ‘beforeload’ event set
  iphone/Classes/TiUIWebView.m
  tests/Resources/ti.ui.webview.addontest.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11167 fix(ios): fallback to non-widget require in catch (8_3_X)
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: ios, needs tests 🚨

#11109 fix(ios): accessibility properties not returning proper value
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUIView.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
  tests/Resources/ti.ui.view.addontest.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11050 feat(ios): expose api to use sf images
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUITabProxy.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUIView.m
  tests/Resources/ti.ui.ios.addontest.js
Labels: docs 📔, in-qe-testing 🕵, ios

#10663 docs(tabgroup, view): doc day 2019 tabgroup changes
  apidoc/Titanium/UI/Toolbar.yml
  apidoc/Titanium/UI/View.yml
Labels: docs 📔, in-qe-testing 🕵, needs jira 🚨
