Repository tidev/titanium-sdk, pull requests merged in 2020-04, with the labels that each got.

#11566 fix(iOS)(9_0_X): use searchtextfield exposed in iOS 13 to set color
  iphone/Classes/TiUISearchBar.m
Labels: in-qe-testing 🕵, ios, no tests

#11605 refactor(android): replace SDK "build.properties" with "BuildConfig"
  android/titanium/build.gradle
  android/titanium/prebuild.js
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, improvement, no tests

#11606 refactor(android)(9_0_X): replace SDK "build.properties" with "BuildConfig"
  android/titanium/build.gradle
  android/titanium/prebuild.js
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#11576 fix(ios): manually evaluate all error properties
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/ObjcProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBindingEvent.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBindingTiValue.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollCallback.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollObject.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollWrapper.m
Labels: bug 🐜, ios, no tests

#11577 fix(ios): manually evaluate all error properties (9_0_X)
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/ObjcProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBindingEvent.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBindingTiValue.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollCallback.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollContext.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollObject.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollWrapper.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11601 fix(android)(9_0_X): custom theme ignored by modal/translucent window as of 9.0.0
  android/titanium/res/values/values.xml
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11600 fix(android): custom theme ignored by modal/translucent window as of 9.0.0
  android/titanium/res/values/values.xml
Labels: android, bug 🐜, no tests

#11563 fix(android)(9_0_X): fall through request permissions
  android/modules/calendar/src/java/ti/modules/titanium/calendar/CalendarModule.java
  android/modules/contacts/src/java/ti/modules/titanium/contacts/ContactsModule.java
  android/modules/filesystem/src/java/ti/modules/titanium/filesystem/FilesystemModule.java
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#11609 fix(android)(9_0_X): improve media player playback
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/modules/media/src/java/ti/modules/titanium/media/TiUIVideoView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11608 fix(android): improve media player playback
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/modules/media/src/java/ti/modules/titanium/media/TiUIVideoView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11573 fix(iOS)(9_0_X): Search Bar color property does not work with showCancel property in iOS 10
  iphone/Classes/TiUISearchBar.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11572 fix(ios): Search Bar color property does not work with showCancel property in iOS 10
  iphone/Classes/TiUISearchBar.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11537 fix(iOS) : check applied to avoid crash if video player url is null
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.addontest.js
Labels: bug 🐜, ios

#11570 fix(iOS)(9_0_X) : check applied to avoid crash if video player url is null
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.addontest.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11598 fix(ios): update content view according to safe area
  iphone/Classes/TiUIiPadPopoverProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11599 fix(iOS)(9_0_X): update content view according to safe area
  iphone/Classes/TiUIiPadPopoverProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11626 feat(android)(9_0_X): add NDK side-by-side support
  package-lock.json
  package.json
Labels: android, improvement, in-qe-testing 🕵, no tests

#11627 feat(android): add NDK side-by-side support
  package-lock.json
  package.json
Labels: android, improvement, in-qe-testing 🕵, no tests

#11561 fix(android)(9_0_X): obtain holder for module references
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBinding.fm
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.h.fm
  tests/Resources/core.runtime.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11498 fix(android): obtain holder for module references
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBinding.fm
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.h.fm
  tests/Resources/core.runtime.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11571 fix(android): prevent high cpu usage in Android Studio
  android/.gitignore
  android/.idea/inspectionProfiles/Project_Default.xml
Labels: android, bug 🐜, no tests

#11461 feat(android): add "google-services.json" support
  android/build.gradle
  android/cli/commands/_build.js
  android/templates/build/app.build.gradle
  android/templates/build/root.build.gradle
Labels: android, community 🔥, improvement, in-qe-testing 🕵, no tests

#11514 feat(android)(9_0_X): add "google-services.json" support
  android/build.gradle
  android/cli/commands/_build.js
  android/templates/build/app.build.gradle
  android/templates/build/root.build.gradle
Labels: android, community 🔥, improvement, in-qe-testing 🕵, no tests

#11612 fix(ios): hyperloop compatibility with xcode 11.4 (9_0_X)
  support/module/packaged/modules.json
Labels: bug 🐜, in-qe-testing 🕵, ios

#11611 fix(ios): hyperloop compatibility with xcode 11.4
  support/module/packaged/modules.json
Labels: bug 🐜, in-qe-testing 🕵, ios

#11602 docs: multi-view viewpager (ScrollableView)
  apidoc/Titanium/UI/ScrollableView.yml
Labels: community 🔥, docs 📔

#11632 fix(ios): update view controller’s frame according to safe area
  iphone/Classes/TiUIiPadPopoverProxy.h
  iphone/Classes/TiUIiPadPopoverProxy.m
Labels: bug 🐜, ios, no tests

#11633 fix(ios): update view controller’s frame according to safe area
  iphone/Classes/TiUIiPadPopoverProxy.h
  iphone/Classes/TiUIiPadPopoverProxy.m
Labels: ios, no tests

#11304 fix(android): fix event from already active tab in bottom style TabGroup
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11300 fix(android): configuration change not saved in current context
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
Labels: android, bug 🐜, community 🔥, in-qe-testing 🕵, no tests

#11635 [9_0_X] fix: inline short version string for Ti.version
  cli/lib/tasks/process-js-task.js
  tests/Resources/ti.test.js
Labels: android, bug 🐜, in-qe-testing 🕵, ios

#11637 fix(android)(9_0_X): app/module builds fail with JDK 14
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew.bat
  android/templates/build/root.build.gradle
Labels: android, bug 🐜, improvement, in-qe-testing 🕵, no tests

#11649 chore(ios): updated aps sdk library
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSUtility.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11650 chore(ios): use latest aps sdk library (9_0_X)
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSUtility.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/libAPSAnalytics.a
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11621 fix(android): changing picker minDate/maxDate after open
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUIDatePicker.java
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11622 fix(android)(9_0_X): changing picker minDate/maxDate after open
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUIDatePicker.java
  tests/Resources/ti.ui.picker.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11575 fix(android): allow TiDownloadManager to fire fail listener
  android/titanium/src/java/org/appcelerator/titanium/util/TiDownloadManager.java
  tests/Resources/ti.ui.imageview.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵

#11441 fix(android): properly set ImageView tintColor
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiImageView.java
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, community 🔥, in-qe-testing 🕵, no tests

#11646 feat(android): animate elevation
  android/titanium/src/java/org/appcelerator/titanium/util/TiAnimationBuilder.java
  apidoc/Titanium/UI/Animation.yml
Labels: android, community 🔥, docs 📔, needs tests 🚨

#11658 feat(android): animate color
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUILabel.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiAnimationBuilder.java
  apidoc/Titanium/UI/Animation.yml
  tests/Resources/ti.ui.label.addontest.js
Labels: android, community 🔥, docs 📔

#11636 fix(android): app/module builds fail with JDK 14
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew.bat
  android/templates/build/root.build.gradle
Labels: android, bug 🐜, improvement, in-qe-testing 🕵, no tests

#11488 fix(android): fix imageAsResized
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
Labels: android, community 🔥, in-qe-testing 🕵, needs tests 🚨

#11667 fix(android)(9_0_X): imageAsResized
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11270 feat(android): adding androidback property to showCamera
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/modules/media/src/java/ti/modules/titanium/media/TiCameraActivity.java
  apidoc/Titanium/Media/Media.yml
Labels: android, community 🔥, docs 📔, in-qe-testing 🕵, no tests

#11665 feat(ios): added event to detect that screenshot was taken
  apidoc/Titanium/App/iOS/iOS.yml
  iphone/Classes/TiAppiOSProxy.m
Labels: docs 📔, feature 🚀, ios, no tests

#11613 fix(android): module build to download ndk with gradle tool 3.5.0+
  android/templates/module/generated/build.gradle
Labels: android, in-qe-testing 🕵, no tests

#11620 fix(android)(9_0_X): module build to download ndk with gradle tool 3.5.0+
  android/templates/module/generated/build.gradle
Labels: android, in-qe-testing 🕵, no tests

#11644 fix(android): production builds no longer copy AAB to distribution folder as of 9.0.1
  android/cli/commands/_build.js
  android/cli/hooks/package.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11645 fix(android)(9_0_X): production builds no longer copy AAB to distribution folder as of 9.0.1
  android/cli/commands/_build.js
  android/cli/hooks/package.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests
