Repository tidev/titanium-sdk, pull requests merged in 2020-03, with the labels that each got.

#11483 feat(android): module build should add empty "build.gradle" if missing
  android/cli/commands/_buildModule.js
  android/templates/module/default/template/android/build.gradle
Labels: android, improvement, in-qe-testing 🕵, no tests

#11484 feat(android)(9_0_X): module build should add empty "build.gradle" if missing
  android/cli/commands/_buildModule.js
  android/templates/module/default/template/android/build.gradle
Labels: android, improvement, in-qe-testing 🕵, no tests

#11502 feat(ios): update ti.coremotion to 2.1.0
  support/module/packaged/modules.json
Labels: ios, no tests

#11501 feat(iOS)(9_0_x): update ti.coremotion to 2.1.0
  support/module/packaged/modules.json
Labels: ios, no tests

#11503 docs: fix Ti.UI.iOS.MenuPopup.items type
  apidoc/Titanium/UI/iOS/MenuPopup.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#11511 docs: fix keyboardToolbar property type
  apidoc/Titanium/UI/TextArea.yml
  apidoc/Titanium/UI/TextField.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#11504 docs(ios): added note for click event on textfield and text area
  apidoc/Titanium/UI/TextArea.yml
  apidoc/Titanium/UI/TextField.yml
Labels: docs 📔, no tests

#11492 docs: update Ti.Android.R and Ti.App.Android.R docs
  apidoc/Titanium/Android/Android.yml
  apidoc/Titanium/Android/R.yml
  apidoc/Titanium/App/Android/Android.yml
  apidoc/Titanium/App/Android/R.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#11479 docs: remove JSON from documentation
  apidoc/Global/Global.yml
  apidoc/Global/JSON/JSON.yml
  apidoc/Titanium/Titanium.yml
Labels: community 🔥, docs 📔

#11425 feat: extend global console API to be more Node-compatible
  android/runtime/common/src/js/console.js
  android/runtime/common/src/js/kroll.js
  common/Resources/ti.internal/extensions/js/console.js
  common/Resources/ti.internal/extensions/js/index.js
  common/Resources/ti.internal/extensions/node/process.js
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiConsole.m
  tests/Resources/console.test.js
Labels: android, improvement, ios, parity 👯‍♀️

#11517 docs(api): make animation parameter optional
  apidoc/Titanium/UI/ListView.yml
Labels: docs 📔, needs jira 🚨

#11519 feat(android): improve "kroll-apt" incremental build times for SDK
  android/kroll-apt/src/main/java/org/appcelerator/kroll/annotations/generator/KrollBindingGenerator.java
  android/kroll-apt/src/main/java/org/appcelerator/kroll/annotations/generator/KrollJSONGenerator.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#11525 feat(android)(9_0_X): improve "kroll-apt" incremental build times for SDK
  android/kroll-apt/src/main/java/org/appcelerator/kroll/annotations/generator/KrollBindingGenerator.java
  android/kroll-apt/src/main/java/org/appcelerator/kroll/annotations/generator/KrollJSONGenerator.java
Labels: android, improvement, no tests

#11489 feat(ios): add search bar token API
  apidoc/Titanium/UI/SearchBar.yml
  iphone/Classes/TiUISearchBar.m
  iphone/Classes/TiUISearchBarProxy.h
  iphone/Classes/TiUISearchBarProxy.m
Labels: community 🔥, docs 📔, in-qe-testing 🕵, ios, no tests

#11512 fix(buffer): allow setting falsy values through proxy
  common/Resources/ti.internal/extensions/node/buffer.js
  tests/Resources/buffer.addontest.js
Labels: android, bug 🐜, in-qe-testing 🕵, ios, parity 👯‍♀️

#11532 feat(android)(9_0_X): build should auto-download NDK if not installed
  android/cli/commands/_buildModule.js
  build/lib/android/index.js
Labels: android, improvement, in-qe-testing 🕵, no tests

#11531 feat(android): build should auto-download NDK if not installed
  android/cli/commands/_buildModule.js
  build/lib/android/index.js
Labels: android, improvement, in-qe-testing 🕵, no tests

#11505 fix(android): reuse old TableViewRow when applicable
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11494 fix(ios): use searchtextfield exposed in iOS 13 to set color
  iphone/Classes/TiUISearchBar.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11509 fix(android)(9_0_X): module "clean" shouldn't error if missing "libs"
  android/cli/commands/_cleanModule.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11482 fix(android): improve media player playback
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/modules/media/src/java/ti/modules/titanium/media/TiUIVideoView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11490 fix(android): saveToPhotoGallery function targeting Android 10
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/modules/media/src/java/ti/modules/titanium/media/TiCameraActivity.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11496 fix(android): fall through request permissions
  android/modules/calendar/src/java/ti/modules/titanium/calendar/CalendarModule.java
  android/modules/contacts/src/java/ti/modules/titanium/contacts/ContactsModule.java
  android/modules/filesystem/src/java/ti/modules/titanium/filesystem/FilesystemModule.java
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#11510 fix(android)(9_0_X): app/module builds fail with JDK 13
  android/app/build.gradle
  android/build.gradle
  android/cli/commands/_buildModule.js
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/templates/build/root.build.gradle
  android/templates/module/generated/build.gradle
  android/titanium/build.gradle
  support/module/packaged/modules.json
Labels: android, bug 🐜, improvement, in-qe-testing 🕵, no tests

#11507 fix(android): app/module builds fail with JDK 13
  android/app/build.gradle
  android/build.gradle
  android/cli/commands/_buildModule.js
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/templates/build/root.build.gradle
  android/templates/module/generated/build.gradle
  android/titanium/build.gradle
  support/module/packaged/modules.json
Labels: android, bug 🐜, improvement, in-qe-testing 🕵, no tests

#11508 fix(android): module "clean" shouldn't error if missing "libs" folder
  android/cli/commands/_cleanModule.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11412 fix(android): improve memory handling of TiBlob image methods
  android/runtime/common/src/java/org/appcelerator/kroll/KrollRuntime.java
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Runtime.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiBlob.java
  tests/Resources/ti.blob.addontest.js
Labels: android, bug 🐜

#11560 fix(android)(9_0_X): improve media player playback
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/modules/media/src/java/ti/modules/titanium/media/TiUIVideoView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11134 refactor(android): improve parity for keyboardType
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#11562 fix(android)(9_0_X): autoFocus causing crash on some versions of Android
  android/modules/media/src/java/ti/modules/titanium/media/TiCameraActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11454 fix(android): autoFocus causing crash on some versions of Android
  android/modules/media/src/java/ti/modules/titanium/media/TiCameraActivity.java
Labels: android, bug 🐜, community 🔥, in-qe-testing 🕵, no tests

#11567 fix(iOS)(9_0_X): sync wkwebview cookies in shared storage
  iphone/Classes/TiUIWebView.m
Labels: in-qe-testing 🕵, ios, no tests

#11497 fix(ios): sync wkwebview cookies in shared storage
  iphone/Classes/TiUIWebView.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests
