Repository tidev/titanium-sdk, pull requests merged in 2020-11, with the labels that each got.

#12225 fix(ios): allow TableViewRow proxy to return correct view
  iphone/Classes/TiUITableViewRowProxy.m
  tests/Resources/ti.ui.tableview.test.js
Labels: backport 9_2_X, bug 🐜, in-qe-testing 🕵, ios

#12241 [Backport 9_2_X] fix(ios): allow TableViewRow proxy to return correct view
  iphone/Classes/TiUITableViewRowProxy.m
  tests/Resources/ti.ui.tableview.test.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#12239 fix(ios): fix default value of property pictureInPictureEnabled
  apidoc/Titanium/Media/VideoPlayer.yml
  iphone/Classes/TiMediaVideoPlayerProxy.m
  tests/Resources/ti.media.videoplayer.test.js
Labels: backport 9_2_X, docs 📔, in-qe-testing 🕵, ios

#12249 fix(ios): fix crash for dateTimeColor property on mac
  apidoc/Titanium/UI/Picker.yml
  iphone/Classes/TiUIPicker.m
Labels: backport 9_2_X, bug 🐜, docs 📔, in-qe-testing 🕵, ios, no tests

#12251 [Backport 9_2_X] fix(ios): fix crash for dateTimeColor property on mac
  apidoc/Titanium/UI/Picker.yml
  iphone/Classes/TiUIPicker.m
Labels: bug 🐜, docs 📔, in-qe-testing 🕵, ios, no tests

#12207 fix(ios): fire blur event when TabGroup focus is removed
  iphone/Classes/TiUITabGroupProxy.m
  tests/Resources/ti.ui.tabgroup.test.js
Labels: improvement, in-qe-testing 🕵, ios

#12242 fix(android): tintColor on bottom navigation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  apidoc/Titanium/UI/Tab.yml
  apidoc/Titanium/UI/TabGroup.yml
Labels: android, bug 🐜, docs 📔, in-qe-testing 🕵, no tests

#11271 feat(android): add separate lock mode for left and right drawers
  android/modules/ui/src/java/ti/modules/titanium/ui/android/DrawerLayoutProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIDrawerLayout.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/Android/DrawerLayout.yml
Labels: android, community 🔥, docs 📔, in-qe-testing 🕵, needs tests 🚨

#12252 feat(android): target api level 30 by default
  android/app/build.gradle
  android/package.json
Labels: android, improvement, in-qe-testing 🕵, no tests

#12267 refactor(ios): remove debug log from toImage
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: ios, needs jira 🚨, needs tests 🚨

#12253 refactor(android): Ti.Filesystem external storage handling
  android/app/src/main/AndroidManifest.xml
  android/cli/commands/_build.js
  android/cli/lib/android-manifest.js
  android/modules/filesystem/src/java/ti/modules/titanium/filesystem/FilesystemModule.java
  android/templates/build/AndroidManifest.xml
  android/titanium/src/java/org/appcelerator/titanium/io/TiFileFactory.java
  android/titanium/src/java/org/appcelerator/titanium/io/TiMockFile.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
  apidoc/Titanium/Filesystem/Filesystem.yml
  tests/Resources/ti.filesystem.file.test.js
  tests/Resources/ti.filesystem.test.js
Labels: android, docs 📔, feature 🚀, improvement, in-qe-testing 🕵

#12270 fix(android): amend chevron vector icon color and size
  android/modules/ui/res/drawable/titanium_icon_disclosure.xml
  android/modules/ui/res/drawable/titanium_icon_more.xml
  tests/Resources/android/snapshots/listViewItem_accessoryTypes_540x960.png
  tests/Resources/android/snapshots/tableViewRow_icons_540x960.png
Labels: backport 9_3_X, in-qe-testing 🕵, needs jira 🚨

#12245 fix(ios): set tintcolor of UIBarButtonItem
  iphone/Classes/TiUINavBarButton.m
  tests/Resources/ios/snapshots/navButton_left_defaultColor_right_greenColor_2x_400x400.png
  tests/Resources/ios/snapshots/navButton_left_defaultColor_right_greenColor_3x_400x400.png
  tests/Resources/ios/snapshots/navButton_left_redColor_right_greenColor_2x_400x400.png
  tests/Resources/ios/snapshots/navButton_left_redColor_right_greenColor_3x_400x400.png
  tests/Resources/ti.ui.window.test.js
Labels: backport 9_3_X, bug 🐜, in-qe-testing 🕵, ios

#12278 [Backport 9_3_X] fix(ios): set tintcolor of UIBarButtonItem
  iphone/Classes/TiUINavBarButton.m
  tests/Resources/ios/snapshots/navButton_left_defaultColor_right_greenColor_2x_400x400.png
  tests/Resources/ios/snapshots/navButton_left_defaultColor_right_greenColor_3x_400x400.png
  tests/Resources/ios/snapshots/navButton_left_redColor_right_greenColor_2x_400x400.png
  tests/Resources/ios/snapshots/navButton_left_redColor_right_greenColor_3x_400x400.png
  tests/Resources/ti.ui.window.test.js
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨

#12271 fix(android): Ti.Media.previewImage() fails to display in-memory blobs as of 9.1.0
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12279 [Backport 9_3_X] fix(android): Ti.Media.previewImage() fails to display in-memory blobs as of 9.1.0
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12281 fix(android): java deployFromZip() and deployFromAssets()
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12283 [Backport 9_3_X] fix(android): java deployFromZip() and deployFromAssets()
  android/titanium/src/java/org/appcelerator/titanium/util/TiFileHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12259 fix(android): module logDeprecation() linker error
  android/kroll-apt/src/main/java/org/appcelerator/kroll/annotations/generator/KrollJSONGenerator.java
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12287 [Backport 9_3_X] fix(android): module logDeprecation() linker error
  android/kroll-apt/src/main/java/org/appcelerator/kroll/annotations/generator/KrollJSONGenerator.java
  android/kroll-apt/src/main/resources/org/appcelerator/kroll/annotations/generator/ProxyBindingV8.cpp.fm
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12263 chore(android): remove hidden API usage
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiPlatformHelper.java
Labels: android, backport 9_3_X, improvement, in-qe-testing 🕵, no tests

#12288 [Backport 9_3_X] chore(android): remove hidden API usage
  android/modules/media/src/java/android/widget/TiVideoView8.java
  android/titanium/src/java/org/appcelerator/titanium/TiBaseActivity.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiPlatformHelper.java
Labels: android, improvement, in-qe-testing 🕵, no tests

#12293 chore(android): update v8 to 8.6.395.25
  android/package.json
Labels: android, backport 9_3_X, bug 🐜, no tests

#12294 [Backport 9_3_X] chore(android): update v8 to 8.6.395.25
  android/package.json
Labels: android, bug 🐜, no tests

#12289 fix(ios): fetch photo from livePhoto if only photo is requested
  iphone/Classes/MediaModule.h
  iphone/Classes/MediaModule.m
Labels: backport 9_2_X, backport 9_3_X, bug 🐜, in-qe-testing 🕵, ios, no tests

#12295 [Backport 9_2_X] fix(ios): fetch photo from livePhoto if only photo is requested
  iphone/Classes/MediaModule.h
  iphone/Classes/MediaModule.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12296 [Backport 9_3_X] fix(ios): fetch photo from livePhoto if only photo is requested
  iphone/Classes/MediaModule.h
  iphone/Classes/MediaModule.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, no tests
