Repository tidev/titanium-sdk, pull requests merged in 2020-01, with the labels that each got.

#11394 fix(android): prevent duplicate launch animation
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  android/titanium/src/java/org/appcelerator/titanium/TiLaunchActivity.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11396 chore(ios): extendSafeArea support for iOS < 11
  apidoc/Titanium/UI/Window.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: BREAKING CHANGES ⚠️, docs 📔, improvement, in-qe-testing 🕵, ios, no tests

#11388 docs(android): correctly document uncaughtException payload
  android/titanium/src/java/org/appcelerator/titanium/TiExceptionHandler.java
  apidoc/Titanium/App/App.yml
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
Labels: android, bug 🐜, deprecation, docs 📔, in-qe-testing 🕵, ios, no tests

#11424 fix(android): fix losing elevation effect after dimensions change (8_3_X)
  android/titanium/src/java/org/appcelerator/titanium/view/TiBorderWrapperView.java
Labels: android, bug 🐜, needs tests 🚨

#11421 fix(ios): updated behaviour to original
  common/Resources/ti.internal/extensions/ti/ti.blob.js
  tests/Resources/ti.blob.addontest.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11420 fix(ios): status bar background color crash fix ios13
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBase.h
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11418 fix(ios): ui glitch in lazyloading fixed
  iphone/Classes/TiUIListSectionProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11395 fix(android): handle raw document identifier
  android/titanium/src/java/org/appcelerator/titanium/io/TitaniumBlob.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11417 fix(android): app builds fail with uppercase module JARs on case-sensitive systems
  android/cli/commands/_build.js
  android/cli/commands/_buildModule.js
  android/templates/module/generated/build.gradle
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11415 fix(ios): cookies updated while reloading webview
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIWebViewProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11427 fix(ios): server is receiving two consecutive calls for the same url and cookies updated while reloading webview
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIWebViewProxy.m
  tests/Resources/ti.ui.webview.addontest.js
Labels: bug 🐜, in-qe-testing 🕵, ios

#11419 fix(ios): expose TiApp singleton accessor to swift
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.h
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11426 fix(android)(8_3_X): getCurrentPosition() compatibility with some Samsung devices
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11348 docs: fix PickerColumn parent class
  apidoc/Titanium/UI/Picker.yml
  apidoc/Titanium/UI/PickerColumn.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#11436 docs: fix Ti.UI.TableView.setData argument
  apidoc/Titanium/UI/TableView.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#11416 fix(android): can't set versionCode in manifest as of 9.0.0
  android/cli/commands/_build.js
  android/cli/lib/android-manifest.js
  android/templates/build/app.build.gradle
Labels: android, bug 🐜, no tests

#11384 chore(android): include x86_64 in module template
  android/cli/commands/_build.js
  android/cli/commands/_buildModule.js
  android/package.json
  android/templates/module/default/template/android/manifest.ejs
  android/templates/module/generated/build.gradle
  android/titanium/build.gradle
  support/ti.cloak.zip
Labels: android, improvement, in-qe-testing 🕵, no tests

#11443 chore: bump node-titanium-sdk
  package-lock.json
  package.json
Labels: no tests

#11431 fix(ios): allow changing WebView read access when loading local file
  apidoc/Titanium/UI/WebView.yml
  iphone/Classes/TiUIWebView.h
  iphone/Classes/TiUIWebView.m
  iphone/Classes/TiUIWebViewProxy.m
  tests/Resources/html/example.html
  tests/Resources/ti.ui.webview.addontest.js
Labels: bug 🐜, docs 📔, in-qe-testing 🕵, ios

#11400 feat: use babel-plugin-transform-titanium when transpiling
  android/titanium/prebuild.js
  build/lib/android/index.js
  build/lib/builder.js
  build/lib/ios.js
  cli/lib/tasks/process-js-task.js
  package-lock.json
  package.json
Labels: android, cli 📟, improvement, in-qe-testing 🕵, ios, no tests, windows

#11449 chore(android): update "titanium-verify" for 9.0.0
  android/titanium/build.gradle
  android/titanium/lib/titanium-verify.jar
  android/titanium/src/jniLibs/arm64-v8a/libtiverify.so
  android/titanium/src/jniLibs/armeabi-v7a/libtiverify.so
  android/titanium/src/jniLibs/x86/libtiverify.so
Labels: android, improvement, in-qe-testing 🕵, no tests

#11456 chore(android): rebuilt modules for 9.0.0
  support/module/packaged/modules.json
Labels: android, improvement, in-qe-testing 🕵, no tests

#11407 feat(android): app-bundle support
  android/cli/commands/_build.js
  android/cli/hooks/package.js
  android/cli/lib/gradle-wrapper.js
Labels: android, feature 🚀, in-qe-testing 🕵, no tests

#11432 impr(android): allow gradle to automatically download missing dependencies
  android/cli/commands/_build.js
  android/cli/commands/_buildModule.js
Labels: android, improvement, in-qe-testing 🕵, no tests

#11440 fix(ios): added proper condtion to import MediaPlayer
  iphone/Classes/MediaModule.h
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests
