Repository tidev/titanium-sdk, pull requests merged in 2020-12, with the labels that each got.

#12309 [TIMOB-28264] Removing outdated url property descriptions and global scope references
  apidoc/Titanium/UI/UI.yml
Labels: docs 📔

#12315 fix(android): support border for search bar
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIListView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12327 [Backport 9_3_X] fix(android): support border for search bar
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIListView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12314 chore(android): update aps-analytics
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, backport 9_3_X, improvement, in-qe-testing 🕵, no tests

#12254 fix(ios): fix a couple of memory leaks
  iphone/Classes/GeolocationModule.m
  iphone/Classes/MediaModule.m
  iphone/Classes/TiAppiOSProxy.m
  iphone/Classes/TiAppiOSUserNotificationCenterProxy.m
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUIShortcutProxy.h
  iphone/Classes/TiUIShortcutProxy.m
  iphone/Classes/TiUITabGroup.m
  iphone/Classes/TiUITableView.m
  iphone/Classes/TiUIiOSPreviewContextProxy.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiProxy.m
Labels: community 🔥, in-qe-testing 🕵, ios, no tests

#12307 chore(ios): replace deprecated OSSpinLock with os_unfair_lock
  iphone/Classes/TiDOMNodeProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: deprecation, improvement, in-qe-testing 🕵, ios, no tests

#12329 chore(ios): update ti.identity to 3.0.0
  support/module/packaged/modules.json
Labels: backport 9_3_X, bug 🐜, ios, no tests

#12330 [Backport 9_3_X] chore(ios): update ti.identity to 3.0.0
  support/module/packaged/modules.json
Labels: bug 🐜, ios, needs jira 🚨, no tests

#12331 fix(android): amend header and footer fill height
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewHolder.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TableViewHolder.java
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12334 [Backport 9_3_X] fix(android): amend header and footer fill height
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewHolder.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TableViewHolder.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12320 fix: convertPointToView() to use "ti.ui.defaultunit"
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
  tests/Resources/ti.ui.view.test.js
Labels: BREAKING CHANGES ⚠️, android, bug 🐜, in-qe-testing 🕵, ios

#12336 fix(android): file list/existence checks fail with remote encryption policy
  android/runtime/common/src/java/org/appcelerator/kroll/util/KrollAssetHelper.java
Labels: android, backport 9_2_X, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12338 [Backport 9_3_X] fix(android): file list/existence checks fail with remote encryption policy
  android/runtime/common/src/java/org/appcelerator/kroll/util/KrollAssetHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12337 [Backport 9_2_X] fix(android): file list/existence checks fail with remote encryption policy
  android/runtime/common/src/java/org/appcelerator/kroll/util/KrollAssetHelper.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12335 fix(ios): use supportedInterfaceOrientations of UINavigationController.topViewController instead of UINavigationController
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewController.m
Labels: ios, no tests

#12318 fix(android): accelerometer logs warnings after app exit
  android/modules/accelerometer/src/java/ti/modules/titanium/accelerometer/AccelerometerModule.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12317 chore(android): update jaxen libary for Ti.XML
  android/modules/xml/lib/jaxen-1.1.1.jar
  android/modules/xml/lib/jaxen-LICENSE.txt
  android/titanium/build.gradle
Labels: android, bug 🐜, improvement, in-qe-testing 🕵, no tests

#12339 fix(iOS): on removing eventlistener multiple times ourCallbackCount should not be in negative value
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiProxy.m
  tests/Resources/ti.ui.window.test.js
Labels: backport 9_3_X, bug 🐜, in-qe-testing 🕵, ios
