Repository tidev/titanium-sdk, pull requests merged in 2020-06, with the labels that each got.

#11727 fix(android): incremental build creates duplicate "bootstrap.json" entries
  android/cli/commands/_build.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11742 fix(android): bad Titanium version logged on app startup
  android/titanium/libv8-services.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11735 fix(ios): start initial timer id from one (9_0_X)
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11734 fix(ios): start initial timer id from one
  iphone/TitaniumKit/TitaniumKit/Sources/Kroll/KrollTimerManager.m
Labels: bug 🐜, in-qe-testing 🕵, ios, no tests

#11723 refactor(android): rewrite old python scripts in Node.js
  android/runtime/v8/tools/bootstrap.gperf
  android/runtime/v8/tools/bootstrap.py
  android/runtime/v8/tools/genBootstrap.py
  android/runtime/v8/tools/js2c.py
  android/runtime/v8/tools/jsmin.py
  android/runtime/v8/tools/simplejson/LICENSE.txt
  android/runtime/v8/tools/simplejson/__init__.py
  android/runtime/v8/tools/simplejson/_speedups.c
  android/runtime/v8/tools/simplejson/decoder.py
  android/runtime/v8/tools/simplejson/encoder.py
  android/runtime/v8/tools/simplejson/scanner.py
  android/runtime/v8/tools/simplejson/tests/__init__.py
  android/runtime/v8/tools/simplejson/tests/test_check_circular.py
  android/runtime/v8/tools/simplejson/tests/test_decode.py
  android/runtime/v8/tools/simplejson/tests/test_default.py
  android/runtime/v8/tools/simplejson/tests/test_dump.py
  android/runtime/v8/tools/simplejson/tests/test_encode_basestring_ascii.py
  android/runtime/v8/tools/simplejson/tests/test_fail.py
  android/runtime/v8/tools/simplejson/tests/test_float.py
  android/runtime/v8/tools/simplejson/tests/test_indent.py
  android/runtime/v8/tools/simplejson/tests/test_pass1.py
  android/runtime/v8/tools/simplejson/tests/test_pass2.py
  android/runtime/v8/tools/simplejson/tests/test_pass3.py
  android/runtime/v8/tools/simplejson/tests/test_recursion.py
  android/runtime/v8/tools/simplejson/tests/test_scanstring.py
  android/runtime/v8/tools/simplejson/tests/test_separators.py
  android/runtime/v8/tools/simplejson/tests/test_unicode.py
  android/runtime/v8/tools/simplejson/tool.py
  android/titanium/KrollGeneratedBindings.gperf.ejs
  android/titanium/KrollJS.h.ejs
  android/titanium/bootstrap.js.ejs
  android/titanium/bootstrap.lazymodule.js.ejs
  android/titanium/genBootstrap.js
  android/titanium/prebuild.js
Labels: android, no tests

#11757 fix(android): update debugging prefix for chrome
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/JSDebugger.java
Labels: android, in-qe-testing 🕵, needs tests 🚨

#11746 fix(android)(9_0_X): hide/show progress dialog back-to-back puts it in bad state as if 8.1.1
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIProgressIndicator.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11564 fix(android): allow WebView to correctly handle query parameters
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#11762 fix(android): allow WebView to correctly handle query parameters
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
Labels: android, needs jira 🚨, needs tests 🚨

#11748 feat(webdialog/iOS)(9_0_X): use ASWebAuthenticationSession when possible
  support/module/packaged/modules.json
Labels: bug 🐜, in-qe-testing 🕵, ios

#11763 fix(android): amend updateIconTint iteration
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, bug 🐜

#11765 fix(android)(9_0_X): improve textColorStateList validation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, needs jira 🚨, no tests

#11766 fix(android): improve textColorStateList validation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
Labels: android, needs jira 🚨, no tests

#11755 chore(android): auto-download NDK r21c for module builds if needed
  android/templates/module/generated/build.gradle
  android/titanium/build.gradle
Labels: android, improvement, in-qe-testing 🕵, no tests

#11756 chore(android)(9_0_X): auto-download NDK r21c for module builds if needed
  android/templates/module/generated/build.gradle
  android/titanium/build.gradle
Labels: android, improvement, no tests

#11758 fix(ios): TableViewRow does not return getRect methods
  iphone/Classes/TiUITableViewRowProxy.m
  tests/Resources/ti.ui.tableview.addontest.js
Labels: in-qe-testing 🕵, ios

#11708 fix(ios): fix watchOS targets that include frameworks
  iphone/cli/commands/_build.js
Labels: bug 🐜, community 🔥, in-qe-testing 🕵, ios

#11774 docs: use fenced code blocks
  apidoc/Titanium/Android/ActionBar.yml
  apidoc/Titanium/UI/ListView.yml
Labels: docs 📔, needs jira 🚨

#11786 docs: fix OptionDialog example
  android/titanium/res/drawable/bottomnavigation.xml
Labels: community 🔥, docs 📔, needs jira 🚨

#11610 chore(ios): include 8.0.0 facebook module
  support/module/packaged/modules.json
Labels: in-qe-testing 🕵, ios, no tests
