Repository tidev/titanium-sdk, pull requests merged in 2021-07, with the labels that each got.

#12932 fix(android): crash with MapView in TabGroup as of 10.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITab.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12942 fix(android): ScrollableView "views" property wrongly empty before window open as of 10.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/ScrollableViewProxy.java
  tests/Resources/ti.ui.scrollableview.test.js
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵

#12952 [Backport 10_0_X] fix(android): crash with MapView in TabGroup as of 10.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITab.java
  android/titanium/src/java/org/appcelerator/titanium/proxy/TiViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12953 [Backport 10_0_X] fix(android): ScrollableView "views" property wrongly empty before window open as of 10.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/ScrollableViewProxy.java
  tests/Resources/ti.ui.scrollableview.test.js
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨

#12965 build: add engines.node entry to platform package.json files
  android/package.json
  iphone/package.json
Labels: needs jira 🚨

#12973 fix(ios): modules to support SDK 9.x.x and iOS 10
  support/module/packaged/modules.json
Labels: backport 10_0_X, bug 🐜, ios, no tests

#12974 [Backport 10_0_X] fix(ios): modules to support SDK 9.x.x and iOS 10
  support/module/packaged/modules.json
Labels: bug 🐜, ios, no tests

#12905 feat(ios): add LiveView support to Hyperloop
  support/module/packaged/modules.json
Labels: backport 10_0_X, improvement, in-qe-testing 🕵, ios, no tests, parity 👯‍♀️

#12881 chore(android): add "android:exported" to all activities/services with intent-filters
  android/app/src/main/AndroidManifest.xml
  android/templates/build/AndroidManifest.xml
  android/templates/build/QuickService.xml
  android/titanium/AndroidManifest.xml
Labels: android, improvement, in-qe-testing 🕵, no tests
