Repository tidev/titanium-sdk, pull requests merged in 2021-05, with the labels that each got.

#12749 fix(ios): image asset suffix handling
  iphone/cli/commands/_build.js
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios, no tests

#12764 ci(backport): move back to target event
  .github/workflows/backport.yml
Labels: needs jira 🚨

#12631 feat(docs): add information about material Buttons
  apidoc/Titanium/UI/Button.yml
Labels: backport 10_0_X, community 🔥, docs 📔, in-qe-testing 🕵, needs jira 🚨

#12768 [Backport 10_0_X] feat(docs): add information about material Buttons
  apidoc/Titanium/UI/Button.yml
Labels: community 🔥, docs 📔, in-qe-testing 🕵, needs jira 🚨

#12772 build(deps): update node-ios-device to 1.9.2
  package-lock.json
Labels: needs jira 🚨

#12778 fix(android): always clone when row has parent
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12786 [Backport 10_0_X] fix(android): always clone when row has parent
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewSectionProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12795 [Backport 10_0_X] fix(android): date dialog picker not showing initial selection in range of min/max
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
Labels: android, bug 🐜, needs jira 🚨, no tests

#12788 fix(ios): ScrollView setZoomScale()/setContentOffset() methods crash as of 10.0.0
  iphone/Classes/TiUIScrollViewProxy.m
  tests/Resources/ti.ui.scrollview.test.js
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios

#12796 [Backport 10_0_X] fix(ios): ScrollView setZoomScale()/setContentOffset() methods crash as of 10.0.0
  iphone/Classes/TiUIScrollViewProxy.m
  tests/Resources/ti.ui.scrollview.test.js
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨

#12820 fix(android): longpress event wrongly fires on a tapped view with touch disabled
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12815 fix(android): guard access to some toast properties
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUINotification.java
  tests/Resources/ti.ui.notification.test.js
Labels: android, backport 10_0_X, bug 🐜, community 🔥, in-qe-testing 🕵

#12765 fix(android): toolbar items do not update when changing dark/light theme
  android/modules/ui/src/java/ti/modules/titanium/ui/ToolbarProxy.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12825 [Backport 10_0_X] fix(android): longpress event wrongly fires on a tapped view with touch disabled
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12826 [Backport 10_0_X] fix(android): guard access to some toast properties
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUINotification.java
  tests/Resources/ti.ui.notification.test.js
Labels: android, bug 🐜, community 🔥, in-qe-testing 🕵, needs jira 🚨

#12828 [Backport 10_0_X] fix(android): toolbar items do not update when changing dark/light theme
  android/modules/ui/src/java/ti/modules/titanium/ui/ToolbarProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12833 fix(android): Ti.UI.Picker "change" event not returning row titles from "selectedValue" as of 10.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12847 [Backport 10_0_X] fix(android): Ti.UI.Picker "change" event not returning row titles from "selectedValue" as of 10.0.1
  android/modules/ui/src/java/ti/modules/titanium/ui/PickerProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests
