Repository tidev/titanium-sdk, pull requests merged in 2021-04, with the labels that each got.

#12675 fix(android): remote policy encryption error dialog handling
  android/templates/build/App.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12683 [Backport 10_0_X] fix(android): remote policy encryption error dialog handling
  android/templates/build/App.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12661 fix(android): remove getter and setter methods from TabGroup
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  common/Resources/ti.internal/extensions/ti/ui/tabgroup.js
Labels: android, backport 10_0_X, bug 🐜, docs 📔, in-qe-testing 🕵, no tests

#12677 docs: mark accessors that were autogenerated but documented as removed in 10
  apidoc/Titanium/Android/Intent.yml
  apidoc/Titanium/Android/MenuItem.yml
  apidoc/Titanium/Network/HTTPClient.yml
  apidoc/Titanium/UI/TableView.yml
Labels: docs 📔

#12651 refactor(ios): use CLGeocoder APIs to reverse geocode and forward geocode
  apidoc/Titanium/Geolocation/Geolocation.yml
  iphone/Classes/GeolocationModule.m
  tests/Resources/ti.geolocation.test.js
Labels: docs 📔, ios

#12682 fix(android): improve selection validation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12691 [Backport 10_0_X] fix(android): improve selection validation
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12693 fix(android): amend TabGroup selected tab
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12695 [Backport 10_0_X] fix(android): amend TabGroup selected tab
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12694 fix(docs): remove some setters
  apidoc/Titanium/Android/Menu.yml
  apidoc/Titanium/Android/Service.yml
  apidoc/Titanium/Media/AudioRecorder.yml
  apidoc/Titanium/Media/VideoPlayer.yml
  apidoc/Titanium/Network/Cookie.yml
  apidoc/Titanium/UI/AlertDialog.yml
  apidoc/Titanium/UI/ListItem.yml
  apidoc/Titanium/UI/ListView.yml
  apidoc/Titanium/UI/RefreshControl.yml
  apidoc/Titanium/UI/TableView.yml
  apidoc/Titanium/UI/TableViewRow.yml
  apidoc/Titanium/UI/iOS/BlurView.yml
  apidoc/Titanium/UI/iOS/PreviewContext.yml
  apidoc/Titanium/WatchSession/WatchSession.yml
Labels: community 🔥, docs 📔, needs jira 🚨

#12700 fix(ios): do not pop error dialog, guard when ti.kernel.js cannot be read
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios, needs tests 🚨

#12508 fix(ios): videoplayer crash when setting showsControls earlier than url property
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiProxy.m
  tests/Resources/ti.media.videoplayer.test.js
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios

#12702 [Backport 10_0_X] fix(ios): do not pop error dialog, guard when ti.kernel.js cannot be read
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, needs tests 🚨

#12703 [Backport 10_0_X] fix(ios): videoplayer crash when setting showsControls earlier than url property
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiProxy.m
  tests/Resources/ti.media.videoplayer.test.js
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨

#12678 fix(android): amend ListView behaviour when search view is defined
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIListView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12707 [Backport 10_0_X] fix(android): amend ListView behaviour when search view is defined
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIListView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUITableView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TiTableView.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12697 build: add back linux when packaging on any os with --all
  Jenkinsfile
  build/lib/builder.js
Labels: backport 10_0_X, needs jira 🚨

#12710 [Backport 10_0_X] build: add back linux when packaging on any os with --all
  Jenkinsfile
  build/lib/builder.js
Labels: needs jira 🚨

#12689 chore: deprecate TableViewRow header and footer properties
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  apidoc/Titanium/UI/TableViewRow.yml
  iphone/Classes/TiUITableViewProxy.m
  iphone/Classes/TiUITableViewRowProxy.m
Labels: android, backport 10_0_X, docs 📔, improvement, in-qe-testing 🕵, ios, no tests

#12716 [Backport 10_0_X] chore: deprecate TableViewRow header and footer properties
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  apidoc/Titanium/UI/TableViewRow.yml
  iphone/Classes/TiUITableViewProxy.m
  iphone/Classes/TiUITableViewRowProxy.m
Labels: android, docs 📔, improvement, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12717 fix(android): setting tab properties before open event crashes as of 10.0.0
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  tests/Resources/ti.ui.tabgroup.test.js
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵

#12719 [Backport 10_0_X] fix(android): setting tab properties before open event crashes as of 10.0.0
  android/modules/ui/src/java/ti/modules/titanium/ui/TabGroupProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TabProxy.java
  tests/Resources/ti.ui.tabgroup.test.js
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨

#12681 chore: update APSAnalytics
  android/app/src/main/java/com/titanium/test/TitaniumTestApplication.java
  android/templates/build/App.java
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/Info.plist
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64/Headers/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-maccatalyst/Headers/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-maccatalyst/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-simulator/Headers/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-simulator/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: android, backport 10_0_X, improvement, in-qe-testing 🕵, ios, no tests

#12723 [Backport 10_0_X] chore: update APSAnalytics
  android/app/src/main/java/com/titanium/test/TitaniumTestApplication.java
  android/templates/build/App.java
  android/titanium/lib/aps-analytics.jar
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/Info.plist
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64/Headers/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-maccatalyst/Headers/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-maccatalyst/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-simulator/Headers/APSAnalytics.h
  iphone/TitaniumKit/TitaniumKit/Libraries/APSAnalytics/APSAnalytics.xcframework/ios-arm64_x86_64-simulator/libAPSAnalytics.a
  iphone/TitaniumKit/TitaniumKit/Sources/API/KrollBridge.m
Labels: android, improvement, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12725 fix(ios): report script source urls using full file: uris
  iphone/TitaniumKit/TitaniumKit/Sources/API/ScriptModule.m
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios, needs tests 🚨

#12727 [Backport 10_0_X] fix(ios): report script source urls using full file: uris
  iphone/TitaniumKit/TitaniumKit/Sources/API/ScriptModule.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, needs tests 🚨

#12728 fix(android): account for platform path separators
  cli/lib/gather.js
  cli/lib/tasks/process-js-task.js
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12732 [Backport 10_0_X] fix(android): account for platform path separators
  cli/lib/gather.js
  cli/lib/tasks/process-js-task.js
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12733 fix(android): normalize encrypted asset paths
  android/cli/commands/_build.js
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12735 [Backport 10_0_X] fix(android): normalize encrypted asset paths
  android/cli/commands/_build.js
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12734 fix(android): drop-down picker text color for dark/light theme change
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUINativePicker.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests

#12743 [Backport 10_0_X] fix(android): drop-down picker text color for dark/light theme change
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/picker/TiUINativePicker.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12720 fix(ios): release event object after firing event
  iphone/Classes/TiCollisionBehavior.m
Labels: backport 10_0_X, in-qe-testing 🕵, ios, no tests

#12706 fix(ios): use weak instead of assign in properties for Objects
  iphone/Classes/TiUITableViewRowProxy.h
  tests/Resources/ti.ui.tableview.test.js
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios

#12726 fix(ios): trying to fix crash issue
  iphone/Classes/TiUIPickerProxy.m
Labels: backport 10_0_X, bug 🐜, in-qe-testing 🕵, ios, no tests

#12759 [Backport 10_0_X] fix(ios): release event object after firing event
  iphone/Classes/TiCollisionBehavior.m
Labels: in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12761 [Backport 10_0_X] fix(ios): use weak instead of assign in properties for Objects
  iphone/Classes/TiUITableViewRowProxy.h
  tests/Resources/ti.ui.tableview.test.js
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨

#12760 [Backport 10_0_X] fix(ios): trying to fix crash issue
  iphone/Classes/TiUIPickerProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12751 fix(android): use correct TableView moveable property
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ItemTouchHandler.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TableViewHolder.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
Labels: android, backport 10_0_X, bug 🐜, in-qe-testing 🕵, no tests, parity 👯‍♀️
