Repository tidev/titanium-sdk, pull requests merged in 2021-02, with the labels that each got.

#12372 fix(iOS): swift enabling in Objc module should build
  iphone/cli/commands/_buildModule.js
Labels: in-qe-testing 🕵, ios, no tests

#12379 chore(iOS): support ti symbols via xcconfig file to work with swift
  iphone/Classes/defines.h
  iphone/cli/commands/_build.js
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
  iphone/iphone/Titanium_Prefix.pch
  iphone/iphone/project.xcconfig
Labels: bug 🐜, cli 📟, in-qe-testing 🕵, ios, no tests

#12424 fix(android): guard scroll event section data
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12433 [Backport 9_3_X] fix(iOS): swift enabling in Objc module should build
  iphone/cli/commands/_buildModule.js
Labels: needs jira 🚨

#12434 [Backport 9_3_X] fix(android): guard scroll event section data
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
Labels: android, needs jira 🚨, needs tests 🚨

#12435 fix(android): rgba(int,int,int) parity
  android/titanium/src/java/org/appcelerator/titanium/util/TiColorHelper.java
  build/lib/test/test.js
  tests/Resources/android/snapshots/rgbView_green_200x200@2x.png
  tests/Resources/android/snapshots/rgbaView_red_200x200@2x.png
  tests/Resources/ios/snapshots/rgbView_green_200x200@2x.png
  tests/Resources/ios/snapshots/rgbView_green_300x300@3x.png
  tests/Resources/ios/snapshots/rgbaView_red_200x200@2x.png
  tests/Resources/ios/snapshots/rgbaView_red_300x300@3x.png
  tests/Resources/ti.ui.view.test.js
Labels: android, community 🔥, in-qe-testing 🕵

#12419 fix(ios): calculate proper row width for UITableViewStyleInsetGrouped
  apidoc/Titanium/UI/iOS/ListViewStyle.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUITableView.m
  tests/Resources/ios/snapshots/listview_style_inset_grouped_540x960@2x.png
  tests/Resources/ios/snapshots/listview_style_inset_grouped_540x960@3x.png
  tests/Resources/ios/snapshots/tableview_style_inset_grouped_540x960@2x.png
  tests/Resources/ios/snapshots/tableview_style_inset_grouped_540x960@3x.png
  tests/Resources/ti.ui.listview.test.js
  tests/Resources/ti.ui.tableview.test.js
Labels: backport 9_3_X, docs 📔, in-qe-testing 🕵, ios

#12439 fix(ios): calculate proper row width for UITableViewStyleInsetGrouped
  apidoc/Titanium/UI/iOS/ListViewStyle.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUITableView.m
  tests/Resources/ios/snapshots/listview_style_inset_grouped_540x960@2x.png
  tests/Resources/ios/snapshots/listview_style_inset_grouped_540x960@3x.png
  tests/Resources/ios/snapshots/tableview_style_inset_grouped_540x960@2x.png
  tests/Resources/ios/snapshots/tableview_style_inset_grouped_540x960@3x.png
  tests/Resources/ti.ui.listview.test.js
  tests/Resources/ti.ui.tableview.test.js
Labels: docs 📔, in-qe-testing 🕵, ios, needs jira 🚨

#12449 chore(android): update v8 to 8.8
  android/package.json
Labels: android, improvement, no tests

#12455 fix: declare i18n function before its usage
  iphone/cli/hooks/run.js
Labels: needs jira 🚨

#12456 fix(android): amend child event ListView properties
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListItemProxy.java
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵, no tests

#12460 fix(android): amend child event ListView properties
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListItemProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨, no tests

#12462 ci: use node 12.18.0
  Jenkinsfile
Labels: needs jira 🚨

#12458 fix(ios): use supportedInterfaceOrientations of UINavigationController.topViewController instead of UINavigationController
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewController.m
Labels: bug 🐜, ios, no tests

#12459 fix(ios): use supportedInterfaceOrientations of UINavigationController.topViewController instead of UINavigationController
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewController.m
Labels: ios, needs tests 🚨

#12450 fix(android): handle encoded WebView url
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
  tests/Resources/ti.ui.webview.test.js
Labels: android, backport 9_3_X, bug 🐜, in-qe-testing 🕵

#12463 [Backport 9_3_X] fix(android): handle encoded WebView url
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiUIWebView.java
  tests/Resources/ti.ui.webview.test.js
Labels: android, bug 🐜, in-qe-testing 🕵, needs jira 🚨

#12461 fix(android): move buildOnly assignment into pre-validate hook
  android/cli/commands/_build.js
Labels: android, backport 9_3_X, bug 🐜, cli 📟, in-qe-testing 🕵

#12470 [Backport 9_3_X] fix(android): move buildOnly assignment into pre-validate hook
  android/cli/commands/_build.js
Labels: android, bug 🐜, cli 📟, in-qe-testing 🕵, needs jira 🚨

#12464 feat(android): text alignment justify
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiUIHelper.java
  apidoc/Titanium/UI/UI.yml
  tests/Resources/ti.ui.label.test.js
Labels: android, community 🔥, docs 📔, in-qe-testing 🕵

#12468 fix(android): do not override ListView itemId type
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListItemProxy.java
Labels: android, backport 9_3_X, improvement, in-qe-testing 🕵, no tests, parity 👯‍♀️

#12478 [Backport 9_3_X] fix(android): do not override ListView itemId type
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListItemProxy.java
Labels: android, improvement, in-qe-testing 🕵, needs jira 🚨, no tests, parity 👯‍♀️

#12479 fix(android): add V8Promise constructor with existing pointer value
  android/runtime/v8/src/java/org/appcelerator/kroll/runtime/v8/V8Promise.java
Labels: android, needs jira 🚨, needs tests 🚨

#12472 fix(android): prevent marker exception
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#12480 [Backport 9_3_X] fix(android): prevent marker exception
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewProxy.java
Labels: android, needs jira 🚨, needs tests 🚨

#12328 feat(ios): support storyboards in module
  iphone/cli/hooks/storyboard.js
Labels: in-qe-testing 🕵, ios

#12471 feat(android): implement ATTRIBUTE_UNDERLINE_COLOR functionality
  android/modules/ui/src/java/ti/modules/titanium/ui/AttributedStringProxy.java
  tests/Resources/android/snapshots/attributedString_coloredLink@2x.png
  tests/Resources/ios/snapshots/attributedString_coloredLink@2x~ipad.png
  tests/Resources/ios/snapshots/attributedString_coloredLink@3x~iphone.png
  tests/Resources/ti.ui.attributedstring.test.js
Labels: android, improvement, in-qe-testing 🕵

#12465 refactor(wepback): recommend installing plugin via appcd pm for appcd 4 and above
  cli/hooks/webpack.js
Labels: cli 📟, in-qe-testing 🕵

#12485 ci(github): try to add initial Github Action build
  .github/workflows/build.yml
  .github/workflows/docs.yml
Labels: no tests

#12490 fix(ios): largeTitleDisplayMode always is not working in iOS 14
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: backport 9_3_X, bug 🐜, in-qe-testing 🕵, ios, no tests

#12486 fix(ios): showSearchBarInNavBar does not work with custom item templates
  iphone/Classes/TiUIListViewProxy.m
Labels: backport 9_3_X, bug 🐜, in-qe-testing 🕵, ios, no tests

#12498 [Backport 9_3_X] fix(ios): showSearchBarInNavBar does not work with custom item templates
  iphone/Classes/TiUIListViewProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12497 [Backport 9_3_X] fix(ios): largeTitleDisplayMode always is not working in iOS 14
  iphone/TitaniumKit/TitaniumKit/Sources/Modules/TiUIWindowProxy.m
Labels: bug 🐜, in-qe-testing 🕵, ios, needs jira 🚨, no tests

#12500 build(android): grab v8 library from Github release URL
  android/titanium/libv8-services.js
Labels: needs jira 🚨

#12389 feat(android): add Ti.UI.ButtonBar
  android/modules/ui/res/values/titanium_ui_outlinedbutton_icononly_style.xml
  android/modules/ui/src/java/ti/modules/titanium/ui/ButtonBarProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIButtonBar.java
  apidoc/Titanium/UI/ButtonBar.yml
  tests/Resources/app.js
  tests/Resources/ti.ui.buttonbar.test.js
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵
