Repository tidev/titanium-sdk, pull requests merged in 2021-08, with the labels that each got.

#12814 feat(android): add "imageTouchFeedback" to ImageView
  android/modules/ui/src/java/ti/modules/titanium/ui/ImageViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiImageView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIImageView.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/ImageView.yml
  tests/Resources/ti.ui.imageview.test.js
Labels: android, docs 📔, feature 🚀, in-qe-testing 🕵

#12988 fix(ios): properly map user activity for cold starts
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: backport 10_0_X, community 🔥, in-qe-testing 🕵, ios, needs tests 🚨

#12998 [Backport 10_0_X] fix(ios): properly map user activity for cold starts
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
Labels: community 🔥, in-qe-testing 🕵, ios, needs tests 🚨

#12989 fix(android): views added to ScrollableView can be lost upon window open
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollableView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests, backport 10_0_X

#12999 [Backport 10_0_X] fix(android): views added to ScrollableView can be lost upon window open
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIScrollableView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#13001 fix(android): optimized ScrollableView "views" property assignment
  android/modules/ui/src/java/ti/modules/titanium/ui/ScrollableViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests, backport 10_0_X

#13009 [Backport 10_0_X] fix(android): optimized ScrollableView "views" property assignment
  android/modules/ui/src/java/ti/modules/titanium/ui/ScrollableViewProxy.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#13000 fix(android): card view "touchFeedbackColor" property is ignored
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  tests/Resources/app.js
  tests/Resources/ti.ui.android.cardview.test.js
Labels: android, bug 🐜, in-qe-testing 🕵, backport 10_0_X

#13010 [Backport 10_0_X] fix(android): card view "touchFeedbackColor" property is ignored
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  tests/Resources/app.js
  tests/Resources/ti.ui.android.cardview.test.js
Labels: android, bug 🐜, in-qe-testing 🕵

#13017 [Backport 10_0_X] fix(android): ti.identity module error when authenticating 2nd time
  support/module/packaged/modules.json
Labels: android, bug 🐜, needs jira 🚨, in-qe-testing 🕵, no tests

#12731 fix(android): support detail property in TableViewRow click event
  android/modules/ui/src/java/ti/modules/titanium/ui/TableViewRowProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tableview/TableViewHolder.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, in-qe-testing 🕵, parity 👯‍♀️, no tests

#12665 feat(ios): specify additional parameters to SFSymbol system image
  apidoc/Titanium/UI/iOS/iOS.yml
  iphone/Classes/TiUINavBarButton.m
  iphone/Classes/TiUIiOSProxy.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBlob.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  tests/Resources/ti.ui.ios.test.js
Labels: ios, community 🔥, docs 📔, in-qe-testing 🕵

#12566 fix(ios): allow string-based "verticalAlign" in Ti.UI.Label
  apidoc/Titanium/UI/Button.yml
  apidoc/Titanium/UI/Label.yml
  iphone/Classes/TiUILabel.m
  tests/Resources/ti.ui.label.test.js
Labels: ios, community 🔥, docs 📔, in-qe-testing 🕵

#12809 feat(android): add constant Ti.UI.Android.FLAG_LAYOUT_NO_LIMITS
  android/modules/ui/src/java/ti/modules/titanium/ui/android/AndroidModule.java
  apidoc/Titanium/UI/Android/Android.yml
  tests/Resources/ti.ui.android.test.js
Labels: android, feature 🚀, docs 📔, in-qe-testing 🕵

#12538 fix(android): correct content description component
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiImageView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIImageView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIText.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIView.java
Labels: android, bug 🐜, in-qe-testing 🕵, no tests

#13027 chore(android): update maven dependencies
  android/templates/build/ti.constants.gradle
  android/titanium/build.gradle
Labels: android, needs jira 🚨, improvement, no tests

#13021 fix(ios): expose "sectionHeaderTopPadding" for layout backwards compatibility
  apidoc/Titanium/UI/ListView.yml
  apidoc/Titanium/UI/TableView.yml
  iphone/Classes/TiUIListView.m
  iphone/Classes/TiUITableView.m
Labels: ios, community 🔥, improvement, docs 📔, needs tests 🚨, in-qe-testing 🕵

#13031 build: specify sha length when calling rev-parse
  build/lib/git.js
  support/iphone/build_titaniumkit.sh
Labels: needs jira 🚨, in-qe-testing 🕵

#12753 feat: add "scalingMode" property to Ti.UI.ImageView
  android/modules/media/src/java/ti/modules/titanium/media/MediaModule.java
  android/modules/ui/src/java/ti/modules/titanium/ui/ImageViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiImageView.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIImageView.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiExifOrientation.java
  android/titanium/src/java/org/appcelerator/titanium/util/TiImageHelper.java
  android/titanium/src/java/org/appcelerator/titanium/view/TiDrawableReference.java
  apidoc/Titanium/Media/Media.yml
  apidoc/Titanium/UI/ImageView.yml
  iphone/Classes/MediaModule.h
  iphone/Classes/MediaModule.m
  iphone/Classes/TiUIImageView.m
  tests/Resources/ti.media.test.js
  tests/Resources/ti.ui.imageview.test.js
Labels: ios, android, feature 🚀, docs 📔, in-qe-testing 🕵

#12946 fix(ios): TabGroup bar is wrongly transparent on iOS 15
  iphone/Classes/TiUITabGroup.m
Labels: ios, bug 🐜, in-qe-testing 🕵, no tests

#12890 impr(android): support PendingIntent mutable flags
  android/modules/android/src/java/ti/modules/titanium/android/AndroidModule.java
  android/modules/android/src/java/ti/modules/titanium/android/PendingIntentProxy.java
  apidoc/Titanium/Android/Android.yml
  tests/Resources/ti.android.test.js
Labels: android, improvement, docs 📔, in-qe-testing 🕵

#13030 feat(android): add "solid" titanium app theme
  android/app/src/main/assets/Resources/app.js
  android/cli/commands/_build.js
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIAbstractTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUIBottomNavigationTabGroup.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/tabgroup/TiUITabLayoutTabGroup.java
  android/titanium/res/values-night/values.xml
  android/titanium/res/values-v23/values.xml
  android/titanium/res/values-v27/values.xml
  android/titanium/res/values/values.xml
  android/titanium/src/java/org/appcelerator/titanium/util/TiUIHelper.java
Labels: android, feature 🚀, in-qe-testing 🕵, no tests

#13041 build(deps): update to node-titanium-sdk@5.1.5
  package-lock.json
  package.json
Labels: android, in-qe-testing 🕵, cli 📟

#12884 fix(android): request ACCESS_COARSE_LOCATION permission
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiLocation.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/webview/TiWebChromeClient.java
Labels: android, improvement, no tests
