Repository tidev/titanium-sdk, pull requests merged in 2022-03, with the labels that each got.

#13289 refactor: remove ti.cloud and ti.cloudpush
  support/module/packaged/modules.json
  tests/Resources/app.js
  tests/Resources/ti.cloudpush.test.js
  tests/modules/modules.xml
Labels: needs jira 🚨

#13302 docs: fix static links
  README.md
  android/modules/network/src/java/ti/modules/titanium/network/TiHTTPClient.java
  android/titanium/src/java/org/appcelerator/kroll/KrollProxy.java
  apidoc/Global/Global.yml
  apidoc/Titanium/Android/ActionBar.yml
  apidoc/Titanium/Android/Android.yml
  apidoc/Titanium/Android/BroadcastReceiver.yml
  apidoc/Titanium/Android/Intent.yml
  apidoc/Titanium/Android/Menu.yml
  apidoc/Titanium/Android/NotificationManager/NotificationManager.yml
  apidoc/Titanium/Android/Service.yml
  apidoc/Titanium/App/App.yml
  apidoc/Titanium/App/iOS/iOS.yml
  apidoc/Titanium/CHANGELOG/2.0.1.GA.mdoc
  apidoc/Titanium/CHANGELOG/4.0.0.GA.mdoc
  apidoc/Titanium/CHANGELOG/4.1.0.GA.mdoc
  apidoc/Titanium/Calendar/Calendar.yml
  apidoc/Titanium/Contacts/Contacts.yml
  apidoc/Titanium/Filesystem/Filesystem.yml
  apidoc/Titanium/Media/Media.yml
  apidoc/Titanium/Network/Cookie.yml
  apidoc/Titanium/Network/HTTPClient.yml
  apidoc/Titanium/Network/Network.yml
  apidoc/Titanium/Platform/Platform.yml
  apidoc/Titanium/UI/AttributedString.yml
  apidoc/Titanium/UI/Font.yml
  apidoc/Titanium/UI/ListView.yml
  apidoc/Titanium/UI/TableView.yml
  apidoc/Titanium/UI/View.yml
  apidoc/Titanium/UI/WebView.yml
  apidoc/Titanium/UI/Window.yml
  templates/app/angular-default/template/README.md
  templates/app/webpack-default/template/README.md
  templates/app/webpack-default/template/src/main.js
  tests/Resources/ti.xml.test.js
Labels: android, community 🔥, needs jira 🚨, docs 📔

#13071 fix(docu): Update documentation TabGroup/VideoPlayer/TableViewRow
  apidoc/Titanium/Media/VideoPlayer.yml
  apidoc/Titanium/UI/TabGroup.yml
  apidoc/Titanium/UI/TableViewRow.yml
Labels: community 🔥, docs, docs 📔

#13262 fix(android): crash in ListView on API 21
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUIListView.java
  apidoc/Titanium/UI/ListView.yml
Labels: android, community 🔥, needs jira 🚨, needs tests 🚨, docs 📔

#13263 fix(android): commit fragments transaction only once after wrapping view being attached to a window
  android/titanium/src/java/org/appcelerator/titanium/view/TiUIFragment.java
Labels: android, community 🔥, needs tests 🚨

#13281 feat(android): support flexible border radius in card view
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUICardView.java
  tests/Resources/ti.ui.android.cardview.test.js
Labels: android, community 🔥

#13283 fix(android): roundBorder fix for Android 12+
  android/titanium/src/java/org/appcelerator/titanium/view/TiBorderWrapperView.java
Labels: android, community 🔥, needs tests 🚨

#12436 After ignoring warning for 8 years, move log to debug
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiViewProxy.m
Labels: ios, needs tests 🚨, in-qe-testing 🕵

#13213 fix(android): color regex for rgba()
  android/titanium/src/java/org/appcelerator/titanium/util/TiColorHelper.java
Labels: android, community 🔥, needs tests 🚨

#13252 Create a GitHub action that will allow creating releases
  .github/actions/build-android/action.yml
  .github/actions/build-ios/action.yml
  .github/actions/package/action.yml
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  maintainer-docs/README.md
  maintainer-docs/ci-setup.md
  maintainer-docs/releasing-the-sdk.md
  releasing_the_sdk.md
Labels: feature, cli 📟

#12441 fix(tests): move to getter/setter
  tests/Resources/os.test.js
  tests/Resources/ti.buffer.test.js
  tests/Resources/ti.codec.test.js
  tests/Resources/ti.locale.test.js
  tests/Resources/ti.network.httpclient.test.js
  tests/Resources/ti.ui.2dmatrix.test.js
  tests/Resources/ti.ui.clipboard.test.js
  tests/Resources/ti.ui.listview.test.js
  tests/Resources/ti.ui.matrix2d.test.js
  tests/Resources/ti.ui.tableview.test.js
  tests/Resources/ti.ui.webview.test.js
Labels: community 🔥, work in progress 🚧, test

#13265 fix(android): problems with "userinterfacestyle" event
  android/modules/ui/src/java/ti/modules/titanium/ui/UIModule.java
  android/titanium/src/java/org/appcelerator/titanium/TiApplication.java
Labels: android, bug
