Repository tidev/titanium-sdk, pull requests merged in 2022-08, with the labels that each got.

#12923 feat(android): add headingTime, fix headingFilter
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/GeolocationModule.java
  android/modules/geolocation/src/java/ti/modules/titanium/geolocation/TiCompass.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/Geolocation/Geolocation.yml
Labels: android, community 🔥, docs, needs tests 🚨

#12163 feat(ios): redesigned error view
  iphone/TitaniumKit/TitaniumKit.xcodeproj/project.pbxproj
  iphone/TitaniumKit/TitaniumKit/Sources/API/ErrorView.swift
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiApp.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiBindingTiValue.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiErrorController.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiErrorController.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.h
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiExceptionHandler.m
  iphone/TitaniumKit/TitaniumKit/Sources/API/TiUtils.m
  iphone/iphone/Titanium.xcodeproj/project.pbxproj
Labels: ios, improvement, merge conflicts 🚨, needs tests 🚨

#13095 feat(android, ios): continuous update for ListView scrolling event
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/ListViewProxy.java
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/listview/TiListView.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/ListView.yml
  iphone/Classes/TiUIListView.m
  tests/Resources/ti.ui.listview.test.js
Labels: ios, android, community 🔥, docs, docs 📔

#13245 feat(android): add autoSize to label
  android/modules/ui/src/java/ti/modules/titanium/ui/widget/TiUILabel.java
  android/titanium/src/java/org/appcelerator/titanium/TiC.java
  apidoc/Titanium/UI/Label.yml
Labels: android, community 🔥, needs tests 🚨, docs 📔
